<template>

    <section>
        <div class="row">
            <div class="col-12">
                <div class="form">
                    <div class="form-group row">
                        <label for="app-apple-id"
                               class="col-md-4 col-sm-12 col-form-label"
                        >Apple App Store application id</label>
                        <div class="col-md-8 col-sm-12">
                            <div v-if="isEdit">
                                <input type="text" id="app-apple-id"
                                       class="form-control"
                                       v-model="form.app_apple_id"
                                       aria-describedby="help-app-apple-id">
                                <small id="help-app-apple-id"
                                       class="form-text text-muted"
                                >The Apple application id is usual contain only numbers</small>
                            </div>
                            <div class="setting-app-value" v-else>{{ appInfo.apple.id }}</div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="app-apple-country"
                               class="col-md-4 col-sm-12 col-form-label"
                        >Apple App Store country</label>
                        <div class="col-md-8 col-sm-12">
                            <div v-if="isEdit">
                                <input type="text" id="app-apple-country"
                                       class="form-control"
                                       v-model="form.app_apple_country"
                                       aria-describedby="help-app-apple-country">
                                <small id="help-app-apple-country"
                                       class="form-text text-muted"
                                >The country value is usual contain from two characters (&quot;us&quot;, &quot;de&quot;, etc.)</small>
                            </div>
                            <div class="setting-app-value" v-else>{{ appInfo.apple.country }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form">
                    <div class="form-group row">
                        <label for="app-google-id"
                               class="col-md-4 col-sm-12 col-form-label"
                        >Google Play Store application id</label>
                        <div class="col-md-8 col-sm-12">
                            <input type="text" id="app-google-id"
                                   class="form-control"
                                   v-model="form.app_google_id"
                                   v-if="isEdit">
                            <div class="setting-app-value" v-else>{{ appInfo.google.id }}</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="app-google-api-key"
                               class="col-md-4 col-sm-12 col-form-label"
                        >Google Play Store API key</label>
                        <div class="col-md-8 col-sm-12">
                            <input type="text" id="app-google-api-key"
                                   class="form-control"
                                   v-model="form.app_google_access_token"
                                   v-if="isEdit">
                            <div class="setting-app-value" v-else>{{ appInfo.google.access_token }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 actions">
                <button class="btn btn-primary action edit" @click="isEdit = true" v-if="!isEdit">Edit</button>
                <button class="btn btn-primary action save" @click="onSave" v-else>Save</button>
            </div>
        </div>
    </section>

</template>

<style lang="scss" scoped>
    @import "../../../assets/styles/variables";

    .form {
        border-bottom: 1px solid #ccc;
        padding: 30px;

        .setting-app-value {
            color: $color-blue-light;
            padding: 7px 0;
        }
    }

    .actions {
        margin: 30px;
    }
</style>

<script>
    export default {
        props: [
            'project_id'
        ],
        data() {
            return {
                appInfo: {
                    apple: {
                        id: '',
                        country: ''
                    },
                    google: {
                        id: '',
                        access_token: ''
                    }
                },
                form: {
                    app_apple_id: '',
                    app_apple_country: '',
                    app_google_id: '',
                    app_google_access_token: ''
                },
                settingsService: null,
                isEdit: false
            };
        },
        mounted() {
            if (this.project_id) {
                this.settingsService = new window.EntityService(`projects/${this.project_id}/settings`);
                this.fetchSettings();
            }
        },
        methods: {
            fetchSettings() {
                this.settingsService.fetchList().then((response) => {
                    response.settings.map((setting) => {
                        switch (setting.name) {
                            case 'app_apple_id':
                                this.appInfo.apple.id = setting.value;
                                this.form.app_apple_id = setting.value;
                                break;
                            case 'app_apple_country':
                                this.appInfo.apple.country = setting.value;
                                this.form.app_apple_country = setting.value;
                                break;
                            case 'app_google_id':
                                this.appInfo.google.id = setting.value;
                                this.form.app_google_id = setting.value;
                                break;
                            case 'app_google_access_token':
                                this.appInfo.google.access_token = setting.value;
                                this.form.app_google_access_token = setting.value;
                                break;
                        }
                    });
                });
            },
            onSave() {
                let settings = {
                    project_id: this.project_id,
                    app_apple_id: this.form.app_apple_id,
                    app_apple_country: this.form.app_apple_country,
                    app_google_id: this.form.app_google_id,
                    app_google_access_token: this.form.app_google_access_token
                };
                this.settingsService.create(settings)
                    .then((response) => {
                        this.isEdit = false;
                        this.appInfo.apple.id = this.form.app_apple_id;
                        this.appInfo.apple.country = this.form.app_apple_country;
                        this.appInfo.google.id = this.form.app_google_id;
                        this.appInfo.google.access_token = this.form.app_google_access_token;
                    })
                    .catch((response) => {
                        window.Event.emit(
                            'notificationShow',
                            `Edit settings error: ${response.error.message} Reload page and try again.`
                        );
                        this.isEdit = false;
                    });
            }
        }
    }
</script>