<template>
    <form>
        <div class="form-group">
            <textarea v-model="item.content" class="form-control" id="comment-content" rows="3"
                      aria-describedby="comment-content-help" placeholder="Write a comment..."
                      @keyup.ctrl.enter="onSubmitComment"></textarea>
            <!--div class="attach-wrapper">

                <form-attachment :object="{id: item.id, type: 'comment'}"
                                 :options="getAttachmentOptions()"
                                 @uploadComplete="onAttachmentUploadComplete"></form-attachment>

            </div-->
            <small id="comment-content-help" class="subtitle form-text text-danger is-invalid"
                   v-if="isSubmit && !item.content.length"
                   v-text="'Enter the comment text'"></small>
        </div>
        <div class="form-group row" v-if="attachments">
            <div class="col-sm-3 attachment-wrapper" v-for="attachmentItem in attachments">
                <div class="attachment-preview">
                    <div class="attachment-image" v-if="attachmentItem.type === 'image'"
                         :style="{ 'background-image': `url(${attachmentItem.path})` }">
                    </div>
                    <button class="btn btn-round action remove"
                            @click="onAttachmentRemove(attachmentItem)">&times;
                    </button>
                    <p class="text-truncate" v-text="attachmentItem.title"></p>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="button" class="btn btn-primary" @click="onSubmitComment">Submit</button>
                <button type="button" class="btn btn-secondary"
                        @click="onCancelSubmitComment" v-if="item.id">Cancel
                </button>
            </div>
        </div>
    </form>
</template>

<script>
  import FormAttachment from '../attachment/file-upload'

  export default {
    data() {
      return {
        item: {
          id: null,
          content: ''
        },
        isSubmit: false,
        attachments: []
      }
    },

    mounted() {
      window.Event.on('onCommentEdit', (data) => {
        this.item = data
      })
    },

    methods: {
      onSubmitComment() {
        this.isSubmit = true

        if (this.item.content.length) {
          this.$emit('commentFormSubmitted', this.item)
          this.item = {
            id: null,
            content: ''
          }
          this.isSubmit = false
        }
      },

      onCancelSubmitComment() {
        this.item = {
          id: null,
          content: ''
        }
      },

      onAttachmentRemove(item) {
        this.attachments.splice(this.attachments.indexOf(item), 1)
      },

      onAttachmentUploadComplete(data) {
        this.attachments.push({
          id: data.attachments[0].id,
          path: `${window.Config.serviceBaseUrl}/${data.attachments[0].path}`,
          title: data.attachments[0].title,
          type: ['jpg', 'jpeg', 'png', 'gif', 'svg'].includes(data.attachments[0].type) ? 'image' : 'file'
        })
      },

      getAttachmentOptions() {
        return {}
      }
    },

    components: {
      FormAttachment
    }
  }
</script>

<style lang="scss" scoped>
    .form-group {
        position: relative;

        textarea {
            padding-right: 64px;
        }

        .attach-wrapper {
            position: absolute;
            top: 15px;
            right: 10px;
            width: 50px;
            height: 100%;
        }

        .attachment-wrapper {
        }
        .attachment-preview {
            .attachment-image {
                background: no-repeat center center;
                background-size: cover;
                width: 100%;
                height: 200px;
            }

            img {
                width: auto;
                height: 100%;
            }

            p {
                padding-left: 30px;
            }

            .action.remove {
                background-color: #aaa;
                line-height: 2px;
                padding: 0;
                height: 20px;
                width: 20px;
                position: absolute;
                top: 4px;
                left: 20px;

                &:hover {
                    color: #000;
                }
            }
        }
    }
</style>
