<template>
    <section class="comments">
        <div class="row" v-if="isLoading">
            <div class="col-sm-12">
                <div class="loader"></div>
            </div>
        </div>

        <ul class="list-unstyled" v-else>
            <li class="media comment" v-for="comment in list">
                <div class="nav-item dropdown dropright">
                    <a class="nav-link dropdown-toggle menu" href="#" id="comment-menu" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg class="svg-source" fill="#777">
                            <use xlink:href="#menu-dots"></use>
                        </svg>
                    </a>

                    <div class="dropdown-menu" aria-labelledby="comment-menu">
                        <a class="dropdown-item action remove"
                           v-if="isCreator(comment)"
                           @click="onRemove(comment)">Remove</a>
                        <a class="dropdown-item action edit"
                           v-if="isCreator(comment)"
                           @click="onEdit(comment)">Edit</a>
                    </div>
                </div>

                <div class="comment-avatar"
                     :style="{ 'background-image': `url(${getCreatorAvatar(comment.creator.avatar)}` }"></div>

                <div class="media-body">
                    <h5 class="mt-0 mb-1">
                        <span>{{ comment.creator.name }}</span>
                        <span class="time">{{ comment.updated_at | humanizeDate }}</span>
                    </h5>
                    <p class="comment-content">{{ comment.content }}</p>
                </div>
            </li>
        </ul>

        <comment-form @commentFormSubmitted="onCommentFormSubmitted"></comment-form>

        <confirm :target="target"
                 @confirmed="onCommentRemoveConfirm"
                 @cancelled="onCommentRemoveCancel">
            <div slot="title">Confirm comment deletion</div>
            <div slot="description">Are you really want to delete the comment?</div>
        </confirm>

    </section>
</template>

<script>
  import moment        from 'moment'
  import CommentForm   from './form'
  import EntityService from '../../services/entity'
  import Confirm       from '../confirm/confirm'

  export default {
    props: [
      'object'
    ],

    data() {
      return {
        isLoading: false,
        list: [],
        auth: window.Auth.getInstance(),
        activityService: new EntityService('activities'),
        target: null
      }
    },

    created() {
      this.fetchList()
    },

    filters: {
      humanizeDate(item) {
        return moment(item).fromNow()
      }
    },

    methods: {
      fetchList() {
        this.isLoading = true
        let requestQuery = {
          object_id: {e: this.object.id},
          type: {e: 'comment'}
        }

        this.activityService.fetchList({
          query: `where=${JSON.stringify(requestQuery)}`
        })
          .then((response) => {
            this.isLoading = false
            this.list = response.activity
          })
      },

      isCreator(item) {
        return this.auth.id === item.creator.id
      },

      onRemove(item) {
        this.target = {
          item: Object.assign({}, item),
          type: 'comment',
          action: 'delete'
        }
      },

      onCommentFormSubmitted(data) {
        let requestData = {
          content: data.content,
          object_id: this.object.id,
          object_type: this.object.type,
          type: 'comment',
          project_id: this.object.project_id,
          created_at: moment().format('YYYY-MM-DD HH:mm:ss'),
          updated_at: moment().format('YYYY-MM-DD HH:mm:ss')
        }

        if (data.id) {
          requestData.id = data.id
          this.activityService.update(requestData).then((response) => {
            this.fetchList()
          })
        } else {
          this.activityService.create(requestData).then((response) => {
            this.fetchList()
          })
        }
      },

      onCommentRemoveConfirm() {
        if (this.target
          && this.target.item
          && this.target.item.id
          && this.target.action === 'delete'
          && this.target.type === 'comment') {
          this.activityService.delete(this.target.item.id)
            .then((response) => {
              this.target = null
              this.fetchList()
            })
        }
      },

      onCommentRemoveCancel() {
        this.target = null
      },

      onEdit(item) {
        window.Event.emit('onCommentEdit', Object.assign({}, item))
      },

      getCreatorAvatar(path) {
        return `${window.Config.serviceBaseUrl}/${path}`
      }
    },

    components: {
      CommentForm,
      Confirm
    }
  }
</script>

<style lang="scss" scoped>
    @import "../../assets/styles/main";

    .comments {
        .comment {
            margin: 35px 0;

            .media-body {
                width: 0; // Solution for long word breaks

                .comment-content {
                    overflow-wrap: break-word;
                    word-wrap: break-word;
                }
            }

            .comment-avatar {
                width: 40px;
                height: 40px;
                background: #fff center center no-repeat;
                background-size: cover;
                margin-right: 12px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
            }

            .time {
                margin-left: 10px;
                font-size: 14px;
                color: $color-grey;
            }

            .menu {
                padding: 8px;

                &:after {
                    display: none;
                }

                svg {
                    width: 15px;
                    height: 15px;
                    -webkit-transform: rotate(90deg);
                    -moz-transform: rotate(90deg);
                    -ms-transform: rotate(90deg);
                    -o-transform: rotate(90deg);
                    transform: rotate(90deg);
                }
            }

            .dropdown-menu {
                .action {
                    cursor: pointer;
                    line-height: inherit;

                    &.remove {
                        color: $color-red !important;
                    }
                }
            }
        }
    }
</style>
