@mixin user-select($value: none) {
  -webkit-user-select: $value;
  -moz-user-select: $value;
  -ms-user-select: $value;
  user-select: $value;
}

/* region Transforms */
@mixin transform($value) {
  -webkit-transform: unquote($value);
  -moz-transform: unquote($value);
  -ms-transform: unquote($value);
  -o-transform: unquote($value);
  transform: unquote($value);
}

@mixin transform-origin($value) {
  -webkit-transform-origin: unquote($value);
  -moz-transform-origin: unquote($value);
  -ms-transform-origin: unquote($value);
  -o-transform-origin: unquote($value);
  transform-origin: unquote($value);
}

@mixin transform-rotate($degree: 0deg) {
  -webkit-transform: rotate($degree);
  -moz-transform: rotate($degree);
  -ms-transform: rotate($degree);
  -o-transform: rotate($degree);
  transform: rotate($degree);
}

@mixin transform-translate($x: 0, $y: 0) {
  -webkit-transform: translate($x, $y);
  -moz-transform: translate($x, $y);
  -ms-transform: translate($x, $y);
  -o-transform: translate($x, $y);
  transform: translate($x, $y);
}

@mixin transform-translate-z($z: 0) {
  -webkit-transform: translate($z);
  -moz-transform: translate($z);
  -ms-transform: translate($z);
  -o-transform: translate($z);
  transform: translate($z);
}

@mixin transform-translate3d($x, $y, $length) {
  -webkit-transform: translate3d($x, $y, $length);
  -moz-transform: translate3d($x, $y, $length);
  -o-transform: translate3d($x, $y, $length);
  -ms-transform: translate3d($x, $y, $length);
  transform: translate3d($x, $y, $length);
}

/* endregion Transforms */

/* region Transitions */
@mixin transition($value...) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -ms-transition: $value;
  -o-transition: $value;
  transition: $value;
}

/* endregion Transitions */

/* region Transitions */
@mixin transition-delay($value...) {
  -webkit-transition-delay: $value;
  -moz-transition-delay: $value;
  -ms-transition-delay: $value;
  -o-transition-delay: $value;
  transition-delay: $value;
}

/* endregion Transitions */

@mixin input-number-no-spins {
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@mixin border-radius($value: 0) {
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value;
}

@mixin box-shadow($value...) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  box-shadow: $value;
}

@mixin box-sizing($value...) {
  -webkit-box-sizing: $value;
  -moz-box-sizing: $value;
  box-sizing: $value;
}

/* region Animations */
@mixin animation-name($value) {
  -webkit-animation-name: $value;
  -moz-animation-name: $value;
  -o-animation-name: $value;
  animation-name: $value;
}

@mixin animation-duration($value: 0s) {
  -webkit-animation-duration: $value;
  -moz-animation-duration: $value;
  -o-animation-duration: $value;
  animation-duration: $value;
}

@mixin animation-iteration-count($value) {
  -webkit-animation-iteration-count: $value;
  -moz-animation-iteration-count: $value;
  -o-animation-iteration-count: $value;
  animation-iteration-count: $value;
}

@mixin animation-timing-function($value) {
  -webkit-animation-timing-function: $value;
  -moz-animation-timing-function: $value;
  -o-animation-timing-function: $value;
  animation-timing-function: $value;
}

@mixin animation-delay($value) {
  -webkit-animation-delay: $value;
  -moz-animation-delay: $value;
  -o-animation-delay: $value;
  animation-delay: $value;
}

@mixin animation($value...) {
  -webkit-animation: $value;
  -moz-animation: $value;
  -o-animation: $value;
  animation: $value;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @-o-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

/* endregion Animations */

/* region Media screen */
$max-width-large: 60em;
$max-width-medium: 40em;
$max-width-small: 30em;

@mixin media-screen-large {
  @media only screen and (max-width: $max-width-large) {
    @content;
  }
}

@mixin media-screen-medium {
  @media only screen and (max-width: $max-width-medium) {
    @content;
  }
}

@mixin media-screen-small {
  @media only screen and (max-width: $max-width-small) {
    @content;
  }
}

/**
  Creates a list of global breakpoints
*/
$breakpoints: (
        'phone': 320px,
        'tablet': 768px,
        'desktop': 1024px
) !default;

/**
  Creates a list of static expressions or media types
*/
$media-expressions: (
        'screen': 'screen',
        'print': 'print',
        'handheld': 'handheld',
        'retina2x': (
                '(-webkit-min-device-pixel-ratio: 2)',
                '(min-resolution: 192dpi)'
        ),
        'retina3x': (
                '(-webkit-min-device-pixel-ratio: 3)',
                '(min-resolution: 350dpi)'
        )
) !default;

/**
  Defines a number to be added or subtracted from each unit when declaring breakpoints with exclusive intervals
*/
$unit-intervals: (
        'px': 1,
        'em': 0.01,
        'rem': 0.1
) !default;

/**
  Generates a media query based on a list of conditions

  @param {List} $conditions  - Media query conditions
*/
@mixin media($conditions...) {
  @for $i from 1 through length($conditions) {
    $conditions: set-nth($conditions, $i, parse-expression(nth($conditions, $i)));
  }

  $branches: get-query-branches($conditions);
  $query: '';

  @each $branch in $branches {
    @if (str-length($query) != 0) {
      $query: $query + ', ';
    }

    $query: $query + $branch;
  }

  @media #{$query} {
    @content;
  }
}

/**
  Reads a list of media query expressions and separates logical disjunctions into different branches

  @param {List}   $expressions  - list of expressions

  @throws `$expression` is not a valid expression

  @return {List | Null}
*/
@function get-query-branches($expressions) {
  $result: '';
  $has-groups: false;

  // Getting initial snapshot and looking for groups
  @each $expression in $expressions {
    @if (str-length($result) != 0) {
      $result: $result + ' and ';
    }

    @if (type-of($expression) == 'string') {
      $result: $result + $expression;
    } @else if (type-of($expression) == 'list') {
      $result: $result + nth($expression, 1);
      $has-groups: true;
    } @else {
      @warn '#{$expression} is not a valid expression.';
    }
  }

  // If we have groups, we have to create all possible combinations
  @if $has-groups {
    @each $expression in $expressions {
      @if (type-of($expression) == 'list') {
        $first: nth($expression, 1);

        @each $member in $expression {
          @if ($member != $first) {
            @each $partial in $result {
              $result: join($result, str-replace-first($first, $member, $partial));
            }
          }
        }
      }
    }
  }

  @return $result;
}

/**
  Parses a string to form a media query expression

  @param {String}   $expression  - expression (in string)

  @throws Expression with type `type-of($expression)` detected, string expected
  @throws `$expression` is missing an operator
  @throws Unknown unit: `$unit`

  @return {String | Null}
*/
@function parse-expression($expression) {
  $operator: '';
  $value: '';
  $element: '';
  $result: '';
  $is-width: true;

  @if (type-of($expression) != 'string') {
    @warn 'Expression with type `#{type-of($expression)}` detected, string expected.';
  }

  // Separating the operator from the rest of the expression
  @if (str-slice($expression, 2, 2) == '=') {
    $operator: str-slice($expression, 1, 2);
    $value: str-slice($expression, 3);
  } @else {
    $operator: str-slice($expression, 1, 1);
    $value: str-slice($expression, 2);
  }

  // Checking what type of expression we're dealing with
  @if map-has-key($breakpoints, $value) {
    $result: map-get($breakpoints, $value);
  } @else if map-has-key($media-expressions, $expression) {
    $result: map-get($media-expressions, $expression);
    $is-width: false;
  } @else {
    $result: to-number($value);
  }

  @if ($is-width) {
    $unit: unit($result);
    $interval: 0;

    @if (map-has-key($unit-intervals, $unit)) {
      $interval: map-get($unit-intervals, $unit);
    } @else {
      @warn 'Unknown unit: #{$unit}';
    }

    @if ($operator == '>') {
      $element: '(min-width: #{$result + $interval})';
    } @else if ($operator == '<') {
      $element: '(max-width: #{$result - $interval})';
    } @else if ($operator == '>=') {
      $element: '(min-width: #{$result})';
    } @else if ($operator == '<=') {
      $element: '(max-width: #{$result})';
    } @else {
      @warn '#{$expression} is missing an operator.';
    }
  } @else {
    $element: $result;
  }

  @return $element;
}

/**
  Replaces the first occurrence of the string with the replacement string

  @param {String} $search  - The value being searched for
  @param {String} $replace  - The replacement string
  @param {String} $subject  - The string being replaced on

  @return {String | Null}
*/
@function str-replace-first($search, $replace, $subject) {
  $search-start: str-index($subject, $search);

  @if $search-start == null {
    @return $subject;
  }

  $result: str-slice($subject, 0, $search-start - 1);
  $result: $result + $replace;
  $result: $result + str-slice($subject, $search-start + str-length($search));

  @return $result;
}

/**
  Casts a number to a string

  @param {String}   $string  - Number to be parsed
  @return {List | Null}
*/
@function to-number($string) {
  // Matrices
  $strings: '0' '1' '2' '3' '4' '5' '6' '7' '8' '9';
  $numbers:  0   1   2   3   4   5   6   7   8   9;

  // Result
  $result: 0;
  $divider: 0;
  $minus: false;

  // Looping through all characters
  @for $i from 1 through str-length($string) {
    $character: str-slice($string, $i, $i);
    $index: index($strings, $character);


    @if $character == '-' {
      $minus: true;
    }

    @else if $character == '.' {
      $divider: 1;
    }

    @else {
      @if type-of($index) != 'number' {
        $result: if($minus, $result * -1, $result);
        @return _length($result, str-slice($string, $i));
      }

      $number: nth($numbers, $index);

      @if $divider == 0 {
        $result: $result * 10;
      }

      @else {
        // Move the decimal dot to the left
        $divider: $divider * 10;
        $number: $number / $divider;
      }

      $result: $result + $number;
    }
  }

  @return if($minus, $result * -1, $result);
}

@function _length($number, $unit) {
  $strings: 'px' 'cm' 'mm' '%' 'ch' 'pica' 'in' 'em' 'rem' 'pt' 'pc' 'ex' 'vw' 'vh' 'vmin' 'vmax';
  $units:   1px  1cm  1mm  1%  1ch  1pica  1in  1em  1rem  1pt  1pc  1ex  1vw  1vh  1vmin  1vmax;
  $index: index($strings, $unit);

  @if type-of($index) != 'number' {
    @warn 'Unknown unit `#{$unit}`.';
    @return false;
  }

  @return $number * nth($units, $index);
}

/**
  Media example

.include-media {
  @include media("<=phone") {
    background-color: #def;

    &:before {
      content: "<=phone";
    }
  }

  @include media(">phone") {
    background-color: #abc;

    &:before {
      content: ">phone";
    }
  }

  @include media(">=815px", "<desktop") {
    background-color: #fed;

    &:before {
      content: ">=815px, <desktop";
    }
  }

  @include media(">=desktop") {
    background-color: #fab;

    &:before {
      content: ">=desktop";
    }
  }

  @include media("retina2x") {
    &:after {
      content: "Retina" !important;
    }
  }
}
*/
/* endregion Media screen */

/* region Background image */
$image-path: '../images' !default;
$fallback-extension: 'png' !default;
$retina-suffix: '@2x';

@mixin backgroundd-image($name, $size: false) {
  background-image: url(#{$image-path}/#{$name}.svg);
  @if ($size) {
    background-size: $size;
  }
  .no-svg & {
    background-image: url(#{$image-path}/#{$name}.#{$fallback-extension});
    @media only screen and (-moz-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (-webkit-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {
      background-image: url(#{$image-path}/#{$name}#{$retina-suffix}.#{$fallback-extension});
    }
  }
}

/* endregion Background image */
