@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

$font-family-text: 'Nunito', sans-serif;
$font-family-number: 'Roboto', sans-serif;

$color-blue: #015287;
$color-red: #fe0000;
$color-green: #009432;
$color-orange: #ff9500;
$color-blue-light: #0096d5;
$color-grey: #bdc3c7;
$color-black: #000;

$color-primary: $color-blue;
$color-default: $color-blue-light;

$background-white: #fff;

$text-white: #fff;

$shadow: 1px 2px 4px rgba(20, 20, 19, 0.28);
$shadow-block: 0px 0px 7px rgba(20, 20, 19, 0.13);

$color-success: #8bc34a;
$color-error: #f44336;

$color-primary: #cccccc;
$color-secondary: #777;
$color-background-main: #979797;

$color-main: #2196f3;
