@import "variables";
@import "mixins";

html {
  background-color: #f1f1f1;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  font-family: $font-family-text;
  font-weight: 300;
  font-size: 20px;
}

.wrapper {
  background: $background-white;
  box-shadow: $shadow-block;
  -webkit-box-shadow: $shadow-block;
  -moz-box-shadow: $shadow-block;
  padding: 20px;
  margin: 0 0 35px 0;

  @media (max-width: 480px) {
    & {
      padding: 20px 10px;
    }
  }
}

.color-primary {
  color: $color-primary;
}

.color-default {
  color: $color-default;
}

.hidden {
  display: none;
}

.page-title {
  .title {
    font-weight: 400;
    color: $color-primary;
    padding-left: 10px;
  }

  .navigate {
    display: flex;
    text-decoration: none;

    h1 {
      margin-left: 10px;
    }

    svg {
      position: absolute;
      top: 11px;
      left: 0;
      stroke: #015287;
      width: 23px;
      height: 23px;
      transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
    }
  }
}

.title {
  color: $color-primary;
}

.form-group.required {
  position: relative;

  &:before {
    content: '*';
    color: $color-red;
    font-weight: bold;
    position: absolute;
    left: -10px;
    top: 0;
  }
}

.btn {
  font-size: 20px;
  font-weight: 300;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 4px;
  height: 44px;

  &:not([class*="outline"]) {
    color: #fff;
  }

  &:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  &.btn-round {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;;
  }

  &.btn-primary {
    background-color: $color-primary;
    border-color: $color-primary;
  }

  &.btn-default {
    background-color: $color-default;
  }

  &.btn-danger {
    background-color: $color-red;
  }

  &:hover {
    opacity: 0.5;
  }
}

.svg-source {
  width: 20px;
  height: 20px;
  margin: 5px 0;
}

.arrow-left {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.action.remove {
  line-height: 0;
}

.add-sub-task,
.add-pdf,
#item-module-add-button,
.comments,
.router-link-active {
  svg {
    position: relative;
    top: 3px;
  }
}

.plus-icon {
  font-size: 38px;
  vertical-align: middle;
  line-height: 22px;
  display: inline-block;
  position: relative;
  top: -2px;
  margin-right: 10px;
}

.comments {
  &:hover {
    svg {
      stroke: #fff!important;
    }
  }
}

@media ( max-width: 768px ){
    .main-content {
        margin: 30px 0!important;
        padding: 0 15px;
    }
}

.loader {
  height: 28px;
  width: 28px;
  animation: rotate 0.8s infinite linear;
  border: 2px solid $color-blue-light;
  border-right-color: transparent;
  border-radius: 50%;
  margin: 0 auto;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

.color-red {
  color: $color-red;
}

.color-green {
  color: $color-green;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: $color-blue-light;
}

.nav-pills .nav-link {
  width: 120px;
  height: 120px;
  padding: 45px 0;
  text-align: center;
  background-color: #eee;
  margin: 0 4px;
}

/* region Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  @include box-shadow(inset 0 0 2px rgba(0, 0, 0, 0.1));
}

::-webkit-scrollbar-thumb {
  background-color: rgba(33, 150, 243, 0.5);
  outline: 1px solid #ccc;
  @include border-radius(3px);
}

::-webkit-scrollbar-thumb:hover {
  background-color: $color-main;
}

/* endregion Scrollbar */