<template>
    <section class="file-select-form">
        <form>
            <input type="file" class="file-input" name="file"
                   ref="fileInput"
                   @change="onFileInputChange"
                   :accept="acceptTypes">
            <button class="action upload"
                    :class="buttonClasses"
                    :style="buttonStyles"
                    :disabled="buttonDisabled"
                    @click.prevent="onUploadTriggerClick">
                <slot name="button-content"></slot>
            </button>
        </form>
    </section>
</template>

<script>
  export default {
    props: [
      'options',
      'eventAction'
    ],

    data() {
      return {}
    },

    computed: {
      acceptTypes() {
        return this.options.hasOwnProperty('fileTypes') ? this.options.fileTypes : '*'
      },

      buttonClasses() {
        return this.options.hasOwnProperty('buttonClasses') ? this.options.buttonClasses : {'btn': true, 'btn-primary': true}
      },

      buttonStyles() {
        return this.options.hasOwnProperty('buttonStyles') ? this.options.buttonStyles : {}
      },

      buttonDisabled() {
        return this.options.hasOwnProperty('disabled') ? this.options.disabled : false
      }
    },

    methods: {
      onFileInputChange(event) {
        this.$emit('onFileSelectComplete', event.target.files || event.dataTransfer.files)
      },

      onUploadTriggerClick() {
        this.$refs.fileInput.click()
      }
    },

    watch: {
      'eventAction': function (action) {
        if (action === 'triggerFileSelect') {
          this.$refs.fileInput.click()
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
    form {
        .file-input {
            display: none;
        }

        .action.upload {
            svg {
                position: static !important;
            }
        }
    }
</style>
