<template>

    <layout></layout>

</template>

<script>
  import Layout from './views/layouts/layout'

  export default {
    name: 'App',

    components: {
      Layout
    }
  }
</script>

<style lang="scss">
    @import "assets/styles/app";
</style>
