<template>
    <div>
        <form class="invitation-from">
            <fieldset :disabled="isInviting">
                <div class="invite-group" v-if="!selectedUser">
                    <input type="text"
                           v-model="userSearch"
                           @keyup="onUserSearchChange"
                           class="invite-input form-control"
                           placeholder="Add project members by name">
                    <div class="dropdown" :class="{show: userList.length}">
                        <div class="dropdown-menu team-list"
                             :class="{show: userList.length}"
                             aria-labelledby="dropdownMenuButton">
                            <div class="dropdown-item team-item"
                                 v-for="userItem in userList"
                                 @click="onUserSelect(userItem)">
                                <div class="photo"></div>
                                <div class="name">{{ userItem.name }}</div>
                                <div class="email">{{ userItem.email }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="selected-user" v-if="selectedUser">
                    <div class="photo"></div>
                    <div class="name">{{ selectedUser.name }}</div>
                    <div class="email">{{ selectedUser.email }}</div>
                    <div class="delete" @click="onDelete">x</div>
                </div>
                <div class="invite-message" v-if="selectedUser">
                    <textarea v-text="`Welcome to the project`" class="form-control"
                              placeholder="Invitation message"></textarea>
                    <button class="invite btn btn-success" @click="onInvite">Invite</button>
                    <button class="cancel btn btn-danger">Cancel</button>
                </div>
            </fieldset>
        </form>
    </div>
</template>

<script>
  import EntityService from '../../../services/entity'

  export default {
    data() {
      return {
        selectedUser: null,
        userSearch: null,
        userList: [],
        projectService: new EntityService('projects'),
        isInviting: false
      }
    },

    methods: {
      fetchNotProjectUsers() {
        let requestQuery = {name: {l: this.userSearch}}

        this.projectService.fetch({
          id: `${this.$route.params.project_id}/team-add`,
          query: `where=${JSON.stringify(requestQuery)}`
        })
          .then((response) => {
            this.userList = response.users
          })
      },

      onUserSearchChange() {
        if (this.userSearch.length) {
          this.fetchNotProjectUsers()
        } else {
          this.userList = []
        }
      },

      onUserSelect(user) {
        this.selectedUser = user
      },

      onDelete() {
        this.selectedUser = null
      },

      onInvite() {
        this.isInviting = true
        window.RequestService.post({
          path: `projects/${this.$route.params.project_id}/team`,
          data: {
            user_id: this.selectedUser.id,
            user_role: 2
          }
        })
          .then((response) => {
            window.Event.emit('onProjectMemberAdd')
            this.selectedUser = null
            this.userList = []
            this.userSearch = null
            this.isInviting = false
          })
      }
    },

    computed: {
      filteredUser: function () {
        return this.userList.filter((userItem) => {
          return userItem.name.match(this.userSearch)
        })
      }
    }
  }
</script>

<style lang="scss" scoped>
    @import "../../../assets/styles/variables";

    .team-list {
        background: #fff;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        max-height: 200px;
        overflow-y: auto;
    }

    .selected-user {
        background: #fff;
        border: 1px solid $color-primary;
        display: table;
        margin-bottom: 20px;
        border-radius: 40px;
        -webkit-border-radius: 40px;
        position: relative;
        padding-right: 30px !important;

        .delete {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            font-size: 20px;
            color: $color-primary;
        }

        &:hover {
            .delete {
                color: #fff;
            }
        }
    }

    .team-item,
    .selected-user {
        font-size: 0;
        padding: 5px 15px;
        cursor: pointer;
        border-radius: 4px;
        -webkit-border-radius: 4px;

        &:hover {
            background: $color-default;

            .name {
                color: #fff;
            }
        }

        .photo {
            background: #fff;
            display: inline-block;
            vertical-align: middle;
            height: 40px;
            width: 40px;
            border: 1px solid $color-grey;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            position: relative;
            overflow: hidden;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                z-index: 2;
                max-height: 140%;
                max-width: 140%;
                min-width: 100%;
                min-height: 100%;
                background: #fff;
            }

            &:after {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                background: url("../../../assets/images/user-icon.png") center no-repeat;
                background-size: 43px 43px;
                opacity: 0.3;
                z-index: 1;
            }
        }

        .name {
            display: inline-block;
            vertical-align: middle;
            font-size: 15px;
            margin-left: 15px;
        }
    }

    .team-item {
        border-radius: 0;
        -webkit-border-radius: 0;
        border-bottom: 1px solid #eee;

        &:last-child {
            border-bottom: 0;
        }
    }

    .invite-group {
        position: relative;
        margin-bottom: 30px;

        input {
            margin-bottom: 15px;
        }
    }

    .invite-message {
        font-size: 0;

        textarea {
            margin-bottom: 15px;
            height: 80px;
            resize: none;
        }

        .btn {
            margin-right: 15px;
            opacity: 1;
        }
    }

</style>

