<template>
    <div class="access-list">
        <div class="access-item row" v-for="teamItem in list">
            <div class="left-item col-md-9 col-sm-12">
                <div class="row">
                    <div class="col-md-2">
                        <div class="photo">
                            <img :src="getUserAvatar(teamItem)" alt="">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="info-user">
                            <a href="" class="name">{{ teamItem.name }}</a>
                            <a href="" class="email">{{ teamItem.email }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-settings col-md-2 col-sm-12" v-if="isAdministrator()">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle text-lowercase" type="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ teamItem.role.title }}
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item text-lowercase"
                           @click="onRoleChange(teamItem, 1)">Administrator</a>
                        <a class="dropdown-item text-lowercase"
                           @click="onRoleChange(teamItem, 2)">User</a>
                    </div>
                </div>
            </div>
            <div class="item-actions col-md-1 col-sm-12" v-if="isAdministrator()">
                <button class="btn btn-danger action remove"
                        @click="onDeleteItem(teamItem)">
                    <svg class="svg-source">
                        <use xlink:href="#delete" stroke="#fff"></use>
                    </svg>
                </button>
            </div>
        </div>

        <confirm :target="target"
                 @confirmed="onConfirmMemberRemove"
                 @cancelled="onCancelMemberRemove">
            <div slot="title">Confirm remove member from the project team</div>
            <div slot="description"
                 v-if="target && target.item"
            >Remove {{target.item.name}} ({{target.item.email}}) member from project team?
            </div>
        </confirm>

    </div>
</template>

<script>
  import entityService from '../../../services/entity'
  import Confirm       from '../../confirm/confirm'

  export default {
    data() {
      return {
        list: [],
        auth: window.Auth.getInstance(),
        projectService: new entityService('projects'),
        target: null
      }
    },

    mounted() {
      window.Event.on('onProjectMemberAdd', () => {
        this.fetchList()
      })
      this.fetchList()
    },

    methods: {
      onDeleteItem(item) {
        this.target = {
          item: Object.assign({}, item),
          type: 'project-team-member',
          action: 'delete'
        }
      },

      fetchList() {
        this.projectService.fetch({id: `/${this.$route.params.project_id}/team`})
          .then((response) => {
            this.list = response.team
          })
      },

      getUserAvatar(user) {
        let path = user.avatar ? user.avatar.path : 'images/avatar-default.svg'
        return `${window.Config.serviceBaseUrl}/${path}`
      },

      isAdministrator() {
        return this.list.find((item) => {
          return parseInt(item.user_id) === window.Auth.getInstance().id && parseInt(item.role.id) === 1
        })
      },

      onRoleChange(user, roleId) {
        window.RequestService.put({
          path: `projects/${this.$route.params.project_id}/team`,
          data: {
            user_id: user.id,
            user_role: roleId
          }
        }).then((response) => {
          this.fetchList()
        })
      },

      onConfirmMemberRemove() {
        if (this.target
          && this.target.item
          && this.target.action === 'delete'
          && this.target.type === 'project-team-member') {
          this.projectService.delete(`/${this.$route.params.project_id}/team/${this.target.item.id}`)
            .then((response) => {
              this.fetchList()
              this.target = null
            })
        }
      },

      onCancelMemberRemove() {
        this.target = null
      }
    },

    components: {
      Confirm
    }
  }
</script>

<style lang="scss" scoped>
    @import "../../../assets/styles/variables";

    .access-item {
        border: 1px solid $color-grey;
        padding: 15px 20px;
        background: #fff;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        margin: 15px 0;

        .left-item {
            .photo {
                display: inline-block;
                vertical-align: middle;
                height: 50px;
                width: 50px;
                border: 1px solid $color-grey;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                position: relative;
                overflow: hidden;

                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    -webkit-transform: translate(-50%, -50%);
                    z-index: 2;
                    max-height: 140%;
                    max-width: 140%;
                    min-width: 100%;
                    min-height: 100%;
                    background: #fff;
                }

                &:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    top: 0;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    background: url("../../../assets/images/user-icon.png") center no-repeat;
                    background-size: 53px 53px;
                    opacity: 0.3;
                    z-index: 1;
                }
            }

            .info-user {
                display: inline-block;
                vertical-align: middle;
                width: calc(100% - 50px);
                padding-left: 15px;

                .name {
                    display: inline-block;
                    font-size: 18px;
                    text-decoration: none;
                    font-weight: 600;
                    color: $color-blue;
                }

                .email {
                    font-size: 16px;
                    display: table;
                    text-decoration: none;
                    color: $color-grey;
                }
            }
        }

        .item-settings {
            text-align: right;

            .dropdown {
                display: inline-block;
                vertical-align: middle;
                margin-right: 20px;

                button {
                    padding: 0;
                    height: auto;
                    box-shadow: 0 0 0;
                    -webkit-box-shadow: 0 0 0;
                    background-color: transparent;
                    border: 0;
                    color: $color-black;

                    &:after {
                        color: $color-blue;
                    }
                }

                .dropdown-menu {
                    left: auto !important;
                    right: 0 !important;
                    position: absolute !important;
                    transform: translate(0) !important;
                    -webkit-transform: translate(0) !important;
                    top: 100% !important;

                    .dropdown-item {
                        cursor: pointer;
                    }
                }
            }

            .delete {
                cursor: pointer;
                display: inline-block;
                vertical-align: middle;

                img {
                    max-width: 20px;
                    opacity: 0.8;
                }
            }
        }
    }
</style>
