<template>
  <section class="messaging"
           :class="{ 'collapsed': $store.state.collapsed, 'full-height': $store.state.fullHeight }"
           v-if="auth && $store.state.showing">
    <div class="action toggle visibility color-primary" @click="onToggleContainer">
      <i class="material-icons">{{ $store.state.collapsed ? 'web_asset' : 'remove' }}</i>
    </div>

    <div class="action toggle height color-gray" @click="onToggleHeight">
      <i class="material-icons icon top">{{ $store.state.fullHeight ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</i>
      <i class="material-icons icon bottom">{{ $store.state.fullHeight ? 'keyboard_arrow_up' : 'keyboard_arrow_down'
        }}</i>
    </div>

    <loader v-if="isLoading"/>

    <div class="content" v-if="!isLoading">

      <div class="row">
        <div class="col-12">
          <div class="divider"></div>
        </div>
      </div>

      <member-list v-if="!participant"
                   :auth="auth"
                   :socket="socket"
                   @memberSelect="onMemberSelect"/>

      <conversation v-if="participant"
                    :auth="auth"
                    :participant="participant"
                    :socket="socket"
                    @conversationClose="onConversationClose"/>

    </div>

  </section>
</template>

<script>
  import Loader           from '../common/loader/View'
  import Conversation     from './conversation/View'
  import MemberList       from './member/List'
  import socket           from 'socket.io-client'
  import { mapMutations } from 'vuex'

  export default {
    name: 'MessagingMain',

    components: {Conversation, MemberList, Loader},

    props: ['auth'],

    data() {
      return {
        auth: null,
        participant: null,
        isConnected: false,
        isLoading: true,
        socket: null
      }
    },

    mounted() {
      window.Event.on('onMessagingToggle', () => {
        this.isShowed = !this.isShowed

        if (this.socket) {
          this.socket.connect()
        }
      })

      if (this.auth) {
        this.socket = socket(
          window.Config.SERVICE_MESSAGING,
          {query: `token=CLIENT_AUTH_TOKEN&user_id=${this.auth.id}`}
        )
        this.socket.connect()

        this.isLoading = false
      }
    },

    methods: {
      ...mapMutations(['show', 'toggleCollapsed', 'toggleFullHeight']),

      onToggleContainer() {
        this.$store.commit('toggleCollapsed')
      },

      onToggleHeight() {
        this.$store.commit('toggleFullHeight')
      },

      onMemberSelect(member) {
        this.participant = member
      },

      onConversationClose() {
        this.participant = null
      }
    }
  }
</script>

<style lang="scss">
  @import "../../assets/styles/mixins";
  @import "../../assets/styles/variables";

  .messaging {
    position: fixed;
    right: 1px;
    bottom: 1px;
    background-color: #fff;
    border: 1px solid $color-main;
    @include border-radius(0.25em);
    padding: 30px 0 0 0;
    width: calc(100% - 2px);
    max-width: 400px;
    height: 500px;
    max-height: 100%;
    z-index: 1060;
    @include transition(max-height, 0.8s);
    overflow: hidden;

    .action {
      z-index: 2;

      &.toggle {
        cursor: pointer;
        position: absolute;
        top: 6px;
        font-size: 16px;
        line-height: 1;
        @include transition(opacity, 0.8s, visibility, 0.6s);

        &.visibility {
          left: 13px;
        }

        &.height {
          top: 0;
          left: 37px;
        }

        .icon {
          font-size: 24px;

          &.top {
            position: absolute;
            top: 0;
          }

          &.bottom {
            position: absolute;
            top: 10px;
          }
        }
      }
    }

    &.full-height {
      top: 1px;
      height: auto;
    }

    .content {
      height: 100%;
      position: relative;
    }

    &.collapsed {
      padding: 20px 0;
      height: 0;

      .action.toggle.height {
        opacity: 0;
        visibility: hidden;
      }

      .content {
        visibility: hidden;
        @include transition(visibility, 0.2s);
      }
    }
  }

  @media (max-width: 576px) {
    .messaging {
      max-width: none;
      width: calc(100% - 2px);
      height: 500px;

      .action.toggle.height {
        display: none;
      }
    }
  }
</style>
