<template>
    <section>
        <discussion :discussion-id="discussionId"></discussion>
    </section>
</template>

<script>
    import Discussion from '../../components/discussion/view';

    export default {
        components: {
            Discussion
        },
        data() {
            return {
                discussionId: null
            }
        },
        created() {
            this.discussionId = this.$route.params.discussion_id;
        }
    }
</script>

<style scoped>

</style>
