<template>
    <section>
        <discussion-list :projectId="projectId" ref="list"></discussion-list>
        <form-add @added="onDiscussionAdded"></form-add>
    </section>
</template>

<script>
    import DiscussionList from '../../components/discussion/list';
    import DiscussionForm from '../../components/discussion/form';

    export default {
        components: {
            DiscussionList,
            DiscussionForm
        },
        data() {
            return {
                projectId: null
            }
        },
        created() {
            this.projectId = this.$route.params.project_id;
        },
        methods: {
            onDiscussionAdded() {
                this.$refs.list.refreshList();
            },
        }
    }
</script>

<style scoped>

</style>
