<template>
    <section>
        <button v-if="!active" @click="active=true" class="btn btn-default">Add</button>
        <form v-if="active" class="form" @submit.prevent="onSubmit">
            <div class="form-group">
                <label for="title">title</label>
                <input type="text" name="title" id="title" v-model="form.title"
                       placeholder="Title" aria-describedby="title-help" class="form-control"/>
                <small id="title-help" class="subtitle form-text text-danger is-invalid"
                       v-if="form.errors.has('name')"
                       v-text="form.errors.get('name')"></small>
            </div>
            <div class="form-group">
                <label for="description">description</label>
                <textarea name="description" id="description" v-model="form.description"
                          placeholder="Description" aria-describedby="description-help" class="form-control"></textarea>
                <small id="description-help" class="subtitle form-text text-danger is-invalid"
                       v-if="form.errors.has('description')"
                       v-text="form.errors.get('description')"></small>
            </div>
            <hr>
            <button type="submit" class="btn btn-primary">Save</button>
            <button @click.prevent="onCancel" class="btn">Cancel</button>
        </form>
    </section>
</template>

<script>
    export default {
        data() {
            return {
                active: false,
                form: new window.Form({
                    project_id: null,
                    title: '',
                    description: ''
                })
            }
        },
        created() {
            this.reset();
        },
        methods: {
            reset() {
                this.form.project_id = this.$route.params.projectId;
                this.form.title = '';
                this.form.description = '';
            },
            onCancel() {
                this.reset();
                this.active = false;
            },
            onSubmit() {
                this.form.submit('discussions', 'post').then((response) => {
                    this.reset();
                    this.active = false;
                    this.$emit('added', response);
                });
            }
        }
    }
</script>

<style scoped>

</style>
