<template>
    <section>
        Discussions list for project id: {{ projectId }}
        <ul>
            <li v-for="item in items">
                <router-link tag="a" :to="{
                    name: 'ProjectDiscussionPage',
                    params: {projectId: item.project_id, discussionId: item.id}
                }">{{ item.title }}</router-link>
                <p v-text="item.description"></p>
            </li>
        </ul>
    </section>
</template>

<script>
    export default {
        name: "list",
        props: [
            'projectId'
        ],
        data() {
            return {
                items: [],
            }
        },
        created() {
            this.refreshList();

        },
        methods: {
            refreshList() {
                window.RequestService.get({
                    path: "discussions"
                }).then((response) => {
                    if (response.discussions) {
                        this.items = response.discussions;
                    }
                });
            }
        }
    }
</script>

<style scoped>

</style>
