<template>
    <section>
        <div>
            <form class="form" @submit.prevent="onSubmit">
                <div>
                    <h1 v-if="!editTitle" @click="editTitle=true">{{ form.title }}</h1>
                    <input v-if="editTitle" id="title" name="title" v-model="form.title" @change="onFormChanged"/>
                </div>
                <div>
                    <p @click="editDescription=true" v-if="!editDescription">{{ form.description }}</p>
                    <textarea v-if="editDescription" v-model="form.description" @change="onFormChanged"></textarea>
                </div>
                <button v-if="editDescription || editTitle" type="submit" class="btn btn-primary">Save</button>
                <button v-if="editDescription || editTitle" class="btn" @click="onCancel">Cancel</button>
            </form>
        </div>
        <hr>
        <div>
            comments will be here...
        </div>
    </section>
</template>

<script>
    export default {
        props: ['discussionId'],
        data() {
            return {
                editTitle: false,
                editDescription: false,
                item: {},
                form: new window.Form({
                    title: '',
                    description: '',
                })
            }
        },
        created() {
            window.RequestService.get({path: 'discussions/' + this.discussionId}).then((response) => {
                this.item = response.discussion;
                this.reset();
            });
        },
        methods: {
            reset() {
                this.editTitle = false;
                this.editDescription = false;

                this.form.title = this.item.title;
                this.form.description = this.item.description;
            },
            onCancel() {
                this.reset();
            },
            onFormChanged() {
                // this.onSubmit();
            },
            onSubmit() {
                this.form.submit('discussions/' + this.item.id, 'put').then((response) => {
                    this.item = response.discussion;
                    this.reset();
                });
            }
        }
    }
</script>

<style scoped>

</style>
