<template>
    <section class="item-modules">

        <div class="row item-module-add">
            <div class="col">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button"
                            id="item-module-add-button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <span class="plus-icon">+</span>
                        add module
                    </button>
                    <div class="dropdown-menu" aria-labelledby="item-module-add-button">
                        <a class="dropdown-item" v-for="moduleType in moduleTypes"
                           @click="onModuleAdd(moduleType)">{{ moduleType.title }}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row item-module" v-for="module in list">
            <div class="col-sm-12 col-md-2 module-type-select-wrapper item-module-col">
                <div class="module-type-select link"
                     :class="{
                       'active': module.source_type === 'link',
                       'single': !module.acceptableTypes.includes('file')
                     }"
                     @click="module.source_type = 'link'"
                     v-if="module.acceptableTypes.includes('link')">
                    <span>Link</span>
                </div>
                <div class="module-type-select file"
                     :class="{
                       'active': module.source_type === 'file',
                       'single': !module.acceptableTypes.includes('link')
                     }"
                     @click="module.source_type = 'file'"
                     v-if="module.acceptableTypes.includes('file')">
                    <span>File</span>
                </div>
            </div>

            <div class="col-sm-12 col-md-8 item-module-col multi-sources" v-if="module.type === 'slide-show'">
                <div class="row">
                    <div class="col-12" v-for="source in module.attachments">
                        <div class="input-group source-file">
                            <div class="input-group-prepend">
                                <div class="input-group-text"
                                     :id="`button-group-addon-${module.id}`">
                                    {{ module.type === 'slide-show' ? 'slide image' : module.type }}
                                </div>
                            </div>

                            <div class="form-control module-source-link"
                                 aria-label="Module link"
                                 contenteditable="true"
                                 :aria-describedby="`button-group-addon-${module.id}`"
                                 placeholder="https://example.com"
                                 v-text="module.source_data"
                                 v-if="module.source_type === 'link'"
                                 @input="onModuleLinkChange($event, module)">
                            </div>
                            <div class="input-group-append"
                                 v-if="targetModule.id === module.id && module.source_type === 'link'">
                                <div class="module-source-actions">
                                    <button class="btn btn-success action accept"
                                            @click="onModuleLinkChangeAccept(module)">
                                        <svg class="svg-source">
                                            <use xlink:href="#check" fill="#fff"></use>
                                        </svg>
                                    </button>
                                    <button class="btn btn-danger action cancel"
                                            @click="onModuleLinkChangeCancel($event, module)">
                                        <svg class="svg-source">
                                            <use xlink:href="#close" fill="#fff"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>

                            <div class="form-control module-source-file"
                                 aria-label="Module file"
                                 v-if="module.source_type === 'file'"
                                 contenteditable="false"
                                 :aria-describedby="`button-group-addon-${module.id}`">
                                <div class="row">
                                    <div class="col-10">
                                        <div class="module-file text-truncate">
                                            <a :href="getModuleSourceFullPath(source.path)"
                                               target="_blank"
                                               v-if="source.path">File link</a>
                                            <span v-else>No file attached</span>
                                        </div>
                                    </div>
                                    <div class="col">

                                        <form-attachment :options="getModuleAttachmentOptions(module, moduleSourceAddAction ? null : source.id)"
                                                         :event-action="module.id === targetModule.id && !source.id ? moduleSourceAddAction : null"
                                                         @uploadComplete="onSourceUploadComplete"
                                        ></form-attachment>

                                    </div>
                                </div>
                            </div>

                            <button class="btn btn-danger action remove"
                                    @click="onModuleSourceRemove(source)">
                                <svg class="svg-source">
                                    <use xlink:href="#close" fill="#fff"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="btn btn-primary action slide-show-image-add"
                             @click="onModuleSourceAdd(module)">
                            <div class="plus-icon">+</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-8 item-module-col" v-else>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"
                             :id="`button-group-addon-${module.id}`">{{ module.type }}
                        </div>
                    </div>

                    <div class="form-control module-source-link"
                         aria-label="Module link"
                         contenteditable="true"
                         :aria-describedby="`button-group-addon-${module.id}`"
                         placeholder="https://example.com"
                         v-text="module.source_data"
                         v-if="module.source_type === 'link'"
                         @input="onModuleLinkChange($event, module)">
                    </div>
                    <div class="input-group-append"
                         v-if="targetModule.id === module.id && module.source_type === 'link'">
                        <div class="module-source-actions">
                            <button class="btn btn-success action accept"
                                    @click="onModuleLinkChangeAccept(module)">
                                <svg class="svg-source">
                                    <use xlink:href="#check" fill="#fff"></use>
                                </svg>
                            </button>
                            <button class="btn btn-danger action cancel"
                                    @click="onModuleLinkChangeCancel($event, module)">
                                <svg class="svg-source">
                                    <use xlink:href="#close" fill="#fff"></use>
                                </svg>
                            </button>
                        </div>
                    </div>

                    <div class="form-control module-source-file"
                         aria-label="Module file"
                         v-if="module.source_type === 'file'"
                         contenteditable="false"
                         :aria-describedby="`button-group-addon-${module.id}`">
                        <div class="row">
                            <div class="col-sm-10">
                                <div class="module-file text-truncate">
                                    <a :href="module.source_data"
                                       target="_blank">File link</a>
                                </div>
                            </div>
                            <div class="col">

                                <form-attachment :options="getModuleAttachmentOptions(module, (module.attachments.length ? module.attachments[0].id : null))"
                                                 @uploadComplete="onUploadForModuleComplete"
                                ></form-attachment>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-2 item-module-col">
                <button class="btn btn-danger action remove"
                        @click="onModuleRemove(module)">
                    <svg class="svg-source" stroke="#fff">
                        <use xlink:href="#delete" stroke="#fff"></use>
                    </svg>
                </button>
            </div>
        </div>

        <confirm :target="target"
                 :show="target && target.action === 'delete'"
                 @confirmed="onModuleRemoveConfirm"
                 @cancelled="onModuleRemoveCancel">
            <div slot="title">Confirm module deletion</div>
            <div slot="description"
                 v-if="target">Are you really want to delete the module?
            </div>
        </confirm>

    </section>
</template>

<script>
  import EntityService  from '../../../../services/entity'
  import Confirm        from '../../../confirm/confirm'
  import FormAttachment from '../../../attachment/file-upload'

  const SUB_TASK_MODULE_TYPES = [
    {
      id: 'button',
      title: 'button',
      acceptableTypes: ['link']
    },
    {
      id: 'video',
      title: 'video',
      acceptableTypes: ['link', 'file']
    },
    {
      id: 'audio',
      title: 'audio',
      acceptableTypes: ['link', 'file']
    },
    {
      id: 'slide-show',
      title: 'slide show',
      acceptableTypes: ['file']
    },
    {
      id: '3d-model',
      title: '3d model',
      acceptableTypes: ['file']
    },
    {
      id: '360-video',
      title: '360 video',
      acceptableTypes: ['link', 'file']
    },
    {
      id: '360-image',
      title: '360 image',
      acceptableTypes: ['link', 'file']
    }
  ]

  export default {
    props: [
      'subTask'
    ],

    data() {
      return {
        list: [],
        isModuleChangeLoading: false,
        moduleService: new EntityService('task-modules'),
        subTaskService: new EntityService('tasks'),
        attachmentService: new EntityService('attachments'),
        target: null,
        targetModule: {
          id: null,
          data: null,
          newData: null,
          targetElement: null
        },
        moduleTypes: SUB_TASK_MODULE_TYPES,
        moduleSourceAddAction: null
      }
    },

    created() {
      if (!this.$route.params.sub_task_id) {
        this.router.push('/not-found')
      }

      this.fetchList()
      this.prepareModulesFileSources()
    },

    methods: {
      fetchList() {
        this.subTaskService.fetch({id: this.$route.params.sub_task_id})
          .then(response => {
            this.list = response.task.modules
            this.prepareModulesFileSources()
          })
          .catch(response => {
            window.Event.emit('notificationShow', 'Error page update. Try to refresh page.')
          })
      },

      onModuleAdd(type) {
        let sourceType = this.moduleTypes.find((item) => {
          return item.id === type.id
        })
        this.moduleService.create({
          task_id: this.subTask.id,
          type: type.id,
          source_data: 'https://example.com',
          source_type: sourceType.acceptableTypes[0] || 'link'
        })
          .then(response => {
            this.list.push(response.task_module)
            this.prepareModulesFileSources()
          })
          .catch(errors => {
            console.error('Cannot add module', errors)
          })
      },

      prepareModulesFileSources() {
        this.list.map(item => {
          if (item.source_type === 'file' && item.attachments.length) {
            item.source_data = `${window.Config.serviceBaseUrl}/${item.attachments[item.attachments.length - 1].path}`
          }

          let moduleType = this.moduleTypes.find((type) => {
            return type.id === item.type
          })

          if (moduleType) {
            item.acceptableTypes = moduleType.acceptableTypes
          }
        })
      },

      onModuleLinkChange(event, module) {
        if (this.targetModule.id !== module.id) {
          if (!this.targetModule.id) {
            this.targetModule.id = module.id
            this.targetModule.data = module.source_data
            this.targetModule.targetElement = event.target
          }

          if (event.target.innerHTML.length) {
            this.targetModule.newData = event.target.innerHTML
          }
        } else {
          this.targetModule.newData = event.target.innerHTML
        }
      },

      onModuleLinkChangeAccept(module) {
        if (module.source_type === 'link'
          && this.targetModule.id
          && this.targetModule.newData
          && this.targetModule.newData.length) {
          this.isModuleChangeLoading = true
          this.moduleService.update({
            id: module.id,
            source_type: module.source_type,
            source_data: this.targetModule.newData
          })
            .then(() => {
              this.isModuleChangeLoading = false
              this.targetModule = {
                id: null,
                data: null,
                newData: null,
                targetElement: null
              }
            })
            .catch(response => {
              console.error(response)
              this.isModuleChangeLoading = false
              this.targetModule = {
                id: null,
                data: null,
                newData: null,
                targetElement: null
              }
            })
        }
      },

      onModuleLinkChangeCancel(event, module) {
        if (this.targetModule.targetElement && module.source_data.length) {
          this.targetModule.targetElement.innerHTML = module.source_data
          this.targetModule = {
            id: null,
            data: null,
            newData: null,
            targetElement: null
          }
        }
      },

      onModuleRemove(module) {
        this.target = {
          item: Object.assign({}, module),
          action: 'delete'
        }
      },

      onModuleRemoveConfirm() {
        if (this.target && this.target.item && this.target.item.id && this.target.action === 'delete') {
          this.moduleService.delete(this.target.item.id)
            .then(() => {
              this.target = null
              this.fetchList()
            })
            .catch(errors => {
              console.error('Module remove error.', errors)
            })
        }
      },

      onModuleRemoveCancel() {
        this.target = null
      },

      getModuleAttachmentOptions(module, sourceId = null) {
        let acceptType = '*'
        switch (module.type) {
          case 'video':
          case '360-video':
            acceptType = 'video/*'
            break
          case 'audio':
            acceptType = 'audio/*'
            break
          case '360-image':
          case 'slide-show':
            acceptType = 'image/*'
            break
        }

        return {
          buttonStyles: {
            position: 'absolute',
            top: '50%',
            right: '15px',
            '-webkit-transform': 'translate(0, -50%)',
            '-moz-transform': 'translate(0, -50%)',
            '-ms-transform': 'translate(0, -50%)',
            '-o-transform': 'translate(0, -50%)',
            transform: 'translate(0, -50%)',
            lineHeight: '36px',
            borderRadius: '0 4px 4px 0',
            webkitBorderRadius: '0 4px 4px 0',
            '-moz-border-radius': '0 4px 4px 0'
          },
          buttonClasses: {'btn': true, 'btn-primary': true},
          fileTypes: acceptType,
          fileId: sourceId,
          object: {
            id: module.id,
            type: 'module'
          }
        }
      },

      onUploadForModuleComplete(data) {
        this.moduleService.update({
          id: data.object_id,
          source_data: `${window.Config.serviceBaseUrl}/${data.path}`,
          source_type: 'file'
        })
          .then(() => {
            this.fetchList()
          })
          .catch(() => {
            window.Event.emit('notificationShow', 'Error. Refresh page and try again.')
          })
      },

      onSourceUploadComplete() {
        this.moduleSourceAddAction = null
        this.targetModule = {
          id: null,
          data: null,
          newData: null,
          targetElement: null
        }
        this.fetchList()
      },

      getModuleSourceFullPath(sourcePath) {
        return !sourcePath ? '' : `${window.Config.serviceBaseUrl}/${sourcePath}`
      },

      onModuleSourceRemove(source) {
        if (source && source.id) {
          this.attachmentService.delete(source.id)
            .then(() => {
              this.fetchList()
            })
        }
      },

      onModuleSourceAdd(module) {
        module.attachments.push({
          id: null
        })
        setTimeout(() => {
          this.targetModule = Object.assign({}, module)
          this.moduleSourceAddAction = 'triggerFileSelect'
        }, 100)
      }
    },

    components: {
      Confirm,
      FormAttachment
    }
  }
</script>

<style lang="scss" scoped>
    @import "../../../../assets/styles/main";

    .item-modules {
        .module-type-select-wrapper {
            display: flex;
        }

        .module-type-select {
            padding: 7px;
            border: 1px solid $color-blue-light;
            width: 55px;
            height: 44px;
            text-align: center;
            cursor: pointer;

            &.link {
                border-radius: 4px 0 0 4px;
            }

            &.file {
                border-radius: 0 4px 4px 0;
            }

            &.active {
                background-color: $color-default;
                color: #ffffff;
            }

            &.single {
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
            }
        }

        .input-group-text {
            background-color: $color-default;
            color: #ffffff;
            font-size: 1em;

            &::first-letter {
                text-transform: uppercase;
            }
        }

        .item-module,
        .item-module-add {
            margin-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid $color-grey;
        }

        .item-module-add {
            .dropdown-toggle::after {
                content: none;
            }

            .dropdown-item {
                cursor: pointer;
            }
        }

        .item-module {
            .item-module-col {
                margin: 10px 0;
            }

            .module-source-link,
            .module-source-file {
                line-height: 1.4em;
                font-size: 20px;
                color: #000;
                padding-right: 0;

                &:empty:before {
                    content: attr(placeholder);
                    color: $color-grey;
                }
            }

            .module-source-actions {
                margin-left: 5px;

                .action {
                    &.accept {
                        .svg-source {
                            margin: 0;
                        }
                    }

                    &.cancel {
                        .svg-source {
                            width: 15px;
                            height: 15px;
                            margin: 0 2px;
                        }
                    }
                }
            }

            .module-source-file {
                .row {
                    .col {
                        height: 30px;
                    }
                }

                .file-upload-form {
                    .action.upload {
                        right: -13px;
                        left: auto;
                        -webkit-transform: translate(0, -50%);
                        -moz-transform: translate(0, -50%);
                        -ms-transform: translate(0, -50%);
                        -o-transform: translate(0, -50%);
                        transform: translate(0, -50%);
                    }
                }
            }
        }

        .slide-show-image-add {
            border-radius: 50%;
            padding: 0;

            .plus-icon {
                margin: 0;
                padding: 10px;
                line-height: 23px;
            }
        }

        .multi-sources {
            .source-file {
                margin-bottom: 4px;
            }
            .action.remove {
                margin: 0 0 0 12px;
            }
        }
    }

    .loader {
        position: absolute;
        top: 8px;
        right: 0;
        left: 0;
    }
</style>
