<template>
    <div class="dropdown show dropdown-attach">
        <a class="btn btn-attach" href="#" role="button" id="attach" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>

        <div class="dropdown-menu" aria-labelledby="attach">
            <h6 class="dropdown-header">ATTACH A FILE</h6>
            <label class="dropdown-item" for="file">Your Computer</label>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>

        <form action="" class="hidden attachments">
            <input type="file" id="file" @change="onFileSelected">
        </form>
    </div>
</template>

<style lang="scss" scoped>
    @import "../../assets/styles/variables";
    @import "../../assets/styles/main";


    .dropdown-attach {
        display: inline-block;

        .dropdown-menu {
            right: 0!important;
            left: auto!important;
            transform: translate3d(0px, 0px, 0px)!important;
            top: 100%!important;
        }
    }

    .btn-attach {
        height: 30px;
        width: 30px;
        font-size: 0px;
        border: 1px solid #3583fb;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        background: #fff url(../../assets/images/attach.png ) center no-repeat!important;
        background-size: 20px 20px!important;

        &:hover {
            background-color: #eee!important;
        }
    }

    .dropdown-item {
        cursor: pointer;
        margin: 0;
    }

</style>

<script>
    export default {
        data() {
            return {
                file: {}
            };
        },
        methods: {
            onFileSelected(event) {
                console.log(event.target.files);
            }
        }
    };
</script>
