<template>
    <section v-if="project.id">
        <div class="row page-title project-title">
            <div class="col">
                <router-link to="/overview" tag="a" class="navigate">
                    <svg class="svg-source arrow">
                        <use xlink:href="#arrow"></use>
                    </svg>
                    <h1 class="title">{{ project.title }}</h1>
                </router-link>
            </div>
        </div>

        <div class="row project-description">
            <div class="col">
                <a class="" data-toggle="collapse" href="#collapse-description" role="button"
                   aria-expanded="false" aria-controls="collapse-description">
                    Description
                </a>
            </div>
            <div class="col-12">
                <div class="collapse" id="collapse-description">
                    <p class="content">{{ project.description }}</p>
                </div>
            </div>
        </div>

        <div class="row wrapper project-task-list">
            <div class="col">
                <task-list></task-list>
            </div>
        </div>
    </section>
</template>

<script>
  import ProjectService from '../../services/entity'
  import TaskList       from '../task/list'

  export default {
    data() {
      return {
        project: {},
        projectId: null,
        projectService: new ProjectService('projects')
      }
    },
    created() {
      if (!this.$route.params.id) {
        this.router.push('/not-found')
      }

      this.fetch()
    },
    methods: {
      fetch() {
        this.projectService.fetch({id: this.$route.params.id})
          .then((response) => {
            this.project = response.project
            let userInTeam = this.project.team.find((member) => {
              return member.user_id === window.Auth.getInstance().id
            })

            if (!userInTeam) {
              this.$router.push('/')
            }
          })
          .catch((error) => {
            console.error(error)
            if (error.error.code && error.error.code === 3010) {
              this.$router.push('/')
            }
          })
      }
    },
    components: {
      TaskList
    }
  }
</script>

<style lang="scss" scoped>
    @import '../../assets/styles/main';

    .project-description {
        .content {
            background-color: #ffffff;
            padding: 20px;
        }
    }

    .project-task-list {
        padding: 20px;
    }
</style>
