<template>
    <form class="project form">
        <div class="form-group required">
            <label for="title">Title</label>
            <input type="text" class="form-control" v-model="form.title" id="title" required
                   aria-describedby="title-help" placeholder="Title">
            <small id="title-help" class="subtitle form-text text-danger is-invalid"
                   v-if="form.errors.has('title')"
                   v-text="form.errors.get('title')"></small>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" v-model="form.description" id="description" rows="8"
                      aria-describedby="description-help"
                      placeholder="Description"></textarea>
            <small id="description-help" class="subtitle form-text text-danger is-invalid"
                   v-if="form.errors.has('description')"
                   v-text="form.errors.get('description')"></small>
        </div>
        <button type="submit" class="btn btn-primary" @click="onSubmit">Create</button>
    </form>
</template>

<script>
    import EntityService from '../../services/entity';

    export default {
        props: [
            'data'
        ],
        data() {
            return {
                form: new window.Form({
                    title: this.data && this.data.title || '',
                    description: this.data && this.data.description || ''
                }),
                projectService: new EntityService('projects')
            };
        },
        methods: {
            onSubmit() {
                this.projectService.create(this.form.data())
                        .then((response) => {
                            window.Event.emit('onProjectAddComplete', response.project);
                            $('#modal-project-add').modal('hide');
                        });
            }
        }
    }
</script>
