<template>
    <div>
        <header>
            <div class="projects-count ml-auto">
                <span class="number"> {{ projectCount }}</span>
                <p>projects</p>
            </div>
        </header>

        <section class="container-fluid">
            <div class="row" v-if="isLoading">
                <div class="col-sm-12">
                    <div class="loader"></div>
                </div>
            </div>
            <div class="project-list row" v-else>
                <div class="project-item-wrapper col-sm-12 col-md-6 col-lg-4" v-for="listItem in list">
                    <div class="project-item">
                        <div class="item-header">
                            <h1 class="item-title text-truncate">
                                {{ listItem.title }}
                                <svg class="svg-source" stroke="#fff">
                                    <use xlink:href="#bug"></use>
                                </svg>
                            </h1>
                            <div class="dropdown dropleft project-menu">
                                <a class="dropdown-toggle" id="project-menu-toggle" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <svg class="svg-source" fill="#fff">
                                        <use xlink:href="#menu-dots"></use>
                                    </svg>
                                </a>
                                <div class="dropdown-menu">
                                    <router-link :to="`/project/${listItem.id}/settings`"
                                                 tag="a"
                                                 class="dropdown-item"
                                    >Settings
                                    </router-link>
                                    <a class="dropdown-item" data-toggle="modal" data-target="modal-project-edit"
                                       @click="onItemEdit(listItem)">Edit</a>
                                    <a class="dropdown-item action delete" data-toggle="modal"
                                       data-target="modal-project-delete"
                                       @click="onItemDelete(listItem)">Delete</a>
                                </div>
                            </div>
                            <div class="item-update row">
                                <div class="col-sm-12 col-md-5 update-text-wrapper">
                                    <span class="update-text">last update</span>
                                </div>
                                <div class="col-sm-12 col-md-7 update-icon-wrapper">
                                    <div class="container">
                                        <div class="update-icon row">
                                            <div class="col col-2">
                                                <svg class="svg-source" stroke="#fff">
                                                    <use xlink:href="#clock"></use>
                                                </svg>
                                            </div>
                                            <div class="col col-10">
                                                <div class="update-time">{{ getLastUpdate(listItem) }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-content row">
                            <div class="item-state"
                                 :class="{
                                  'success': getItemState(listItem) === 'completed' || 'active',
                                  'danger': getItemState(listItem) === 'outdated'
                                 }"></div>
                            <div class="col-6">
                                <div class="content-icon">
                                    <svg fill="#ccc" style="height: 41px; width: 47px">
                                        <use xlink:href="#task-icon"></use>
                                    </svg>
                                </div>
                                <p>{{ getItemState(listItem) }}</p>
                            </div>
                            <div class="col-6">
                                <div class="content-icon">
                                    <svg class="" stroke="#7d7c7c">
                                        <use xlink:href="#clock"></use>
                                    </svg>
                                </div>
                                <p>{{ getItemTerm(listItem) }}</p>
                            </div>
                        </div>
                        <div class="btn-group">
                            <router-link :to="`/project/${listItem.id}`" tag="a" class="btn btn-primary tasks">
                                tasks
                                <span class="badge badge-light">{{ getActiveTasksCount(listItem.tasks) }}</span>
                            </router-link>
                            <router-link :to="`/project/${listItem.id}/reviews`" tag="a"
                                         class="btn btn-default reviews" v-if="listItem.reviews_settings">
                                reviews
                                <span class="badge">
                                    <svg class="svg-source">
                                        <use xlink:href="#star" fill="#fff"></use>
                                    </svg>
                                </span>
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <confirm :target="target"
                 :show="target && target.action === 'delete'"
                 @confirmed="onProjectDeleteConfirm"
                 @cancelled="onProjectDeleteCancel">
            <div slot="title">Confirm project deletion</div>
            <div slot="description" v-if="target">Are you really want to delete the project &quot;{{ target.item.title
                }}&quot;?
            </div>
        </confirm>

        <div class="modal fade" id="modal-project-edit" tabindex="-1" role="dialog"
             aria-labelledby="project-edit-modal-label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" v-if="target && target.action === 'edit'">
                    <div class="modal-header">
                        <h5 class="modal-title text-truncate" id="project-edit-modal-label"
                        >Edit project &quot;{{ target.item.title }}&quot;</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col">
                                <form>
                                    <div class="form-group">
                                        <label for="form-edit-project-title">Title</label>
                                        <input type="text"
                                               class="form-control"
                                               id="form-edit-project-title"
                                               v-model="target.item.title">
                                    </div>
                                    <div class="form-group">
                                        <label for="form-edit-project-description">Description</label>
                                        <textarea type="text"
                                                  class="form-control"
                                                  id="form-edit-project-description"
                                                  v-model="target.item.description"></textarea>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <button type="button" class="btn btn-primary"
                                        data-dismiss="modal"
                                        @click="onItemSave">Save
                                </button>
                                <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal"
                                        @click="onItemEditCancel">Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import EntityService    from '../../services/entity'
  import moment           from 'moment'
  import * as TASK_STATES from '../../models/task-states'
  import Confirm          from '../confirm/confirm'

  export default {
    props: [
      'filterSearch'
    ],

    data() {
      return {
        list: [],
        newItem: {
          id: null,
          title: ''
        },
        projectService: new EntityService('projects'),
        target: null,
        isLoading: false
      }
    },

    mounted() {
      this.fetchList()
      window.Event.on('onProjectAddComplete', (item) => {
        this.list.push(item)
      })
    },

    computed: {
      projectCount() {
        return this.list.length
      }
    },

    methods: {
      fetchList(options = {}) {
        this.isLoading = true
        let requestQuery = {
          state: {e: 1}
        }

        if (options.hasOwnProperty('search')) {
          requestQuery['title'] = {l: `%${options.search}%`}
        }

        this.projectService.fetchList({
          query: `where=${JSON.stringify(requestQuery)}`
        })
          .then(response => {
            this.list = response.projects
            this.isLoading = false
            window.Event.emit('overviewProjectListFetched', response.projects)
          })
          .catch(response => {console.log(response)
            if (response.data && response.data.error && response.data.error.code && response.data.error.code === 2030) {
              window.Auth.clear()
                .then(() => {
                  this.$router.push('/sign-in')
                })
            }
          })
      },

      getLastUpdate(item) {
        if (item.tasks.length) {
          let lastUpdate = moment(item.tasks[0].updated_at)
          item.tasks.map((taskItem) => {
            let currentUpdatedDate = moment(taskItem.updated_at)

            if (currentUpdatedDate.diff(lastUpdate) > 0) {
              lastUpdate = currentUpdatedDate
            }
          })
          return lastUpdate.format('DD.MM.YYYY - HH:mm')
        }

        return '-'
      },

      onItemEdit(item) {
        this.target = {
          item: Object.assign({}, item),
          action: 'edit'
        }
        $('#modal-project-edit').modal('show')
      },

      onItemDelete(item) {
        this.target = {
          item: Object.assign({}, item),
          action: 'delete'
        }
      },

      onProjectDeleteConfirm() {
        if (this.target && this.target.item && this.target.item.id) {
          this.projectService.delete(this.target.item.id)
            .then(() => {
              this.fetchList()
              this.target = null
            })
        }
      },

      onProjectDeleteCancel() {
        this.target = null
      },

      onItemEditCancel() {
        this.target = null
      },

      onItemSave() {
        if (this.target && this.target.item && this.target.item.id) {
          this.projectService.update({
            id: this.target.item.id,
            title: this.target.item.title,
            description: this.target.item.description
          }).then(() => {
            this.target = null
            this.fetchList()
          })
        }
      },

      getItemState(item) {
        let state = '-'
        item.tasks.map((task) => {
          if (task.state.id !== TASK_STATES.STATE_DELETED && state !== 'outdated') {
            if (task.state.id === TASK_STATES.STATE_COMPLETED) {
              state = 'completed'
            } else if (task.timeline && task.timeline.sections.length) {
              task.timeline.sections.map(section => {

                if (state !== 'outdated' && section) {
                  if (section.state === 2) {
                    state = 'completed'
                  } else if (moment(section.date_to).diff(moment(), 'days') < 0) {
                    state = 'outdated'
                  } else if (section.state === 1) {
                    state = 'active'
                  }
                }
              })
            } else {
              state = 'active'
            }
          }
        })

        return state
      },

      getItemTerm(item) {
        let itemTerm = '-'

        let tasksTimelines = []
        item.tasks.map((task) => {
          if (task.timeline && task.timeline.sections.length) {
            let itemTasksTimelineSections = task.timeline.sections.filter((section) => {
              return section.state === 1
            })

            if (itemTasksTimelineSections.length) {
              itemTerm = moment(itemTasksTimelineSections[0].date_to).format('YYYY-MM-DD')
            }
          }
        })

        return itemTerm
      },

      getActiveTasksCount(tasks) {
        let activeTasksList = tasks.filter((task) => {
          return task.state.id === TASK_STATES.STATE_ACTIVE
        })

        return activeTasksList.length
      }
    },

    watch: {
      filterSearch: {
        handler: function (newValue, oldValue) {
          this.fetchList({search: newValue})
        }
      }
    },

    components: {
      Confirm
    }
  }
</script>

<style lang="scss" scoped>
    @import "../../assets/styles/main";

    .loader {
        margin: 0 auto;
    }

    .project-menu {
        padding: 0 8px;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 13px;

        &.dropleft {
            .dropdown-toggle:before {
                display: none;
            }

            .dropdown-toggle {
                svg {
                    width: 20px;
                    height: 20px;
                    -webkit-transform: rotate(90deg);
                    -moz-transform: rotate(90deg);
                    -ms-transform: rotate(90deg);
                    -o-transform: rotate(90deg);
                    transform: rotate(90deg);
                }
            }
        }

        .dropdown-item.action.delete {
            color: $color-red;
        }

        img {
            width: 20px;
            height: 20px;
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg);
        }
    }

    .projects-count {
        text-align: center;
        display: table;
        margin-right: 20px;
        margin-bottom: 10px;

        p {
            color: $color-blue;
            font-size: 20px;
            line-height: normal;
        }

        .number {
            font-size: 50px;
            font-family: $font-family-number;
            font-weight: 700;
            color: $color-blue;
            line-height: 45px;
        }
    }

    .project-list {
        .project-item-wrapper {
            padding: 0;
        }

        .project-item {
            -webkit-box-shadow: 2px 4px 12px rgba(17, 16, 13, 0.23);
            -moz-box-shadow: 2px 4px 12px rgba(17, 16, 13, 0.23);
            box-shadow: 2px 4px 12px rgba(17, 16, 13, 0.23);
            margin: 10px;
            background: #fff;
            position: relative;
            padding: 0 0 50px 0;
        }

        .item-header {
            background: #1da0d8;
            background: -moz-linear-gradient(top, #1da0d8 0%, #0b8abf 100%);
            background: -webkit-linear-gradient(top, #1da0d8 0%, #0b8abf 100%);
            background: linear-gradient(to bottom, #1da0d8 0%, #0b8abf 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1da0d8', endColorstr='#0b8abf', GradientType=0);
            padding: 10px 14px 10px;
            position: relative;
        }

        .item-title {
            font-size: 28px;
            text-transform: none;
            color: #fff;
            display: inline-block;
            margin-bottom: 30px;
            line-height: 28px;
            max-width: 80%;

            &:hover {
                text-decoration: none;
            }

            svg {
                position: absolute;
                right: 32px;
                top: 6px;
                width: 30px;
                height: 30px;
            }
        }

        .item-update {
            margin-bottom: 45px;

            .update-text-wrapper {
                padding-right: 0;
            }

            .update-icon-wrapper {
                padding-left: 0;
            }

            .update-icon {
                vertical-align: middle;
                padding: 0 8px;

                .col {
                    padding: 0;
                }

                svg {
                    float: right;
                    margin: 2px 10px;
                }
            }

            svg {
                max-width: 25px;
                max-height: 25px;
            }

            .update-text,
            .update-time {
                display: table-cell;
                font-size: 20px;
                color: #fff;
                vertical-align: middle;
                line-height: normal;
            }

            .update-time {
                font-family: $font-family-number;
                font-weight: 300;
            }

        }

        .item-content {
            font-size: 0;
            padding: 10px 20px 15px;
            position: relative;
        }

        .item-state {
            position: absolute;
            right: 22px;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            -webkit-border-radius: 50%;

            &.success {
                background: #78c020;
                background: -moz-linear-gradient(top, #78c020 0%, #5da400 100%);
                background: -webkit-linear-gradient(top, #78c020 0%, #5da400 100%);
                background: linear-gradient(to bottom, #78c020 0%, #5da400 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#78c020', endColorstr='#5da400', GradientType=0);
            }

            &.danger {
                background: #fc635d;
                background: -moz-linear-gradient(top, #fc635d 0%, #ff0a0b 100%);
                background: -webkit-linear-gradient(top, #fc635d 0%, #ff0a0b 100%);
                background: linear-gradient(to bottom, #fc635d 0%, #ff0a0b 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc635d', endColorstr='#ff0a0b', GradientType=0);
            }
        }

        .col-6 {
            display: inline-block;
            text-align: center;
            vertical-align: top;
            padding: 0 10px;

            .content-icon {
                height: 60px;
                line-height: 60px;
                margin-bottom: 5px;
            }

            svg {
                display: inline-block;
                vertical-align: middle;
                max-height: 100%;
                max-width: 100%;
            }

            p {
                font-size: 16px;
                color: #444444;
                font-family: $font-family-number;
            }
        }

        .btn-group {
            width: auto;
            position: absolute;
            left: 7px;
            right: 7px;
            bottom: 7px;

            .btn {
                width: 49%;
                display: inline-block;
                margin-right: 2%;
                padding: 0 30px 0 15px;
                text-align: left;
                line-height: 42px;

                &.reviews {
                    margin-right: 0;
                }
            }

            .badge {
                position: absolute;
                right: 11px;
                top: 6px;
                padding: 0;
                font-size: 15px;
                line-height: 15px;
                font-weight: 300;
                font-family: $font-family-number;
            }

            .tasks {
                padding-left: 22px;

                .badge {
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    -webkit-transform: translateY(-50%);
                    float: none;
                    min-width: 35px;
                    height: 30px;
                    border: 1px solid #fff;
                    background-color: transparent;
                    line-height: 28px;
                    color: #fff;
                    font-size: 15px;
                    padding: 0 5px;
                }
            }
        }
    }
</style>
