<template>
    <section class="project-app-reviews">
        <header class="page-title">
            <div class="row">
                <div class="col">
                    <router-link to="/" exact tag="a" class="navigate">
                        <svg>
                            <use xlink:href="arrow"></use>
                        </svg>
                        <h1 class="color-primary">Overview</h1>
                    </router-link>
                </div>
            </div>
        </header>
        <div class="wrapper">
            <div class="row">
                <div class="col">
                    <h5 class="text-uppercase">Customer reviews</h5>
                </div>
            </div>

            <div class="row review-list">
                <div class="col-12" v-if="isLoading">
                    <div class="loader"></div>
                </div>

                <div class="col-12" v-else>
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="heading-apple-app-store-reviews">
                                <div class="mb-0">
                                    <a class="btn btn-link review-type"
                                            data-toggle="collapse"
                                            data-target="#collapse-apple-app-store-reviews"
                                            aria-expanded="true"
                                            aria-controls="collapse-apple-app-store-reviews">
                                        Apple App Store reviews
                                    </a>
                                </div>
                            </div>

                            <div id="collapse-apple-app-store-reviews" class="collapse show"
                                 aria-labelledby="heading-apple-app-store-reviews" data-parent="#accordion">
                                <div class="card-body">
                                    <div v-if="!reviewList.appleAppStore.length">No reviews</div>
                                    <div class="card review-item" v-for="reviewItem in reviewList.appleAppStore" v-else>
                                        <div class="card-body">
                                            <div class="card-title">
                                                <div class="row">
                                                    <div class="col-md-10 col-sm-12">
                                                        <div class="customer">{{ reviewItem.customer }}</div>
                                                    </div>
                                                    <div class="col-md-2 col-sm-12 text-right">
                                                        <div class="date text-muted">{{ reviewItem.date }}</div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="value">
                                            <span class="badge" v-for="reviewValue in reviewItem.values">
                                                <svg class="svg-source">
                                                    <use xlink:href="#star" fill="#ff9500"></use>
                                                </svg>
                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="card-text content"
                                               :class="{'expanded': reviewItem.contentExpanded}"
                                            >{{ reviewItem.content }}</p>
                                            <a class="action content-view"
                                               @click="reviewItemContentView(reviewItem, !reviewItem.contentExpanded)"
                                            >{{ reviewItem.contentExpanded ? 'less' : 'more' }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading-google-play-store-reviews">
                                <div class="mb-0">
                                    <a class="btn btn-link collapsed review-type"
                                       data-toggle="collapse"
                                       data-target="#collapse-google-play-store-reviews"
                                       aria-expanded="false"
                                       aria-controls="collapse-google-play-store-reviews">
                                        Google Play Store reviews
                                    </a>
                                </div>
                            </div>
                            <div id="collapse-google-play-store-reviews" class="collapse"
                                 aria-labelledby="heading-google-play-store-reviews"
                                 data-parent="#accordion">
                                <div class="card-body">
                                    <div v-if="!reviewList.googlePlayStore.length">No reviews</div>
                                    <div class="card review-item"
                                         v-for="reviewItem in reviewList.googlePlayStore"
                                         v-else>
                                        <div class="card-body">
                                            <div class="card-title">
                                                <div class="row">
                                                    <div class="col-md-10 col-sm-12">
                                                        <div class="customer">{{ reviewItem.customer }}</div>
                                                    </div>
                                                    <div class="col-md-2 col-sm-12 text-right">
                                                        <div class="date text-muted">{{ reviewItem.date }}</div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="value">
                                            <span class="badge" v-for="reviewValue in reviewItem.values">
                                                <svg class="svg-source">
                                                    <use xlink:href="#star" fill="#ff9500"></use>
                                                </svg>
                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="card-text content">{{ reviewItem.content }}</p>
                                            <a href="#" class="">more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<style lang="scss" scoped>
    @import "../../assets/styles/main";

    .loader {
        margin: 0 auto;
    }

    .review-list {
        .review-type {
            color: $color-blue-light;
            width: 100%;
        }

        .review-item {
            background-color: #f8f8f8;
            margin: 20px 0;

            .customer {
                font-weight: 600;
            }

            .value {
                .badge {
                    padding: 0;
                }
            }

            .date {
                font-size: 0.8em;
            }

            .content {
                overflow: hidden;
                -webkit-box-orient: vertical;
                display: -webkit-box;
                -webkit-line-clamp: 4;

                &.expanded {
                    display: block;
                }
            }

            .action.content-view {
                color: $color-blue;
                cursor: pointer;
            }
        }
    }
</style>

<script>
    import EntityService from '../../services/entity';

    export default {
        data() {
            return {
                reviewList: {
                    appleAppStore: [],
                    googlePlayStore: []
                },
                settingsService: null,
                isLoading: true
            };
        },
        mounted() {
            if (!this.$route.params.project_id) {
                this.$router.push('/');
            } else {
                this.settingsService = new EntityService(`projects/${this.$route.params.project_id}/settings`);
                this.fetchReviews();
            }
        },
        methods: {
            fetchReviews() {
                this.isLoading = true;
                this.settingsService.fetchList()
                    .then((response) => {
                        if (response.settings.length) {
                            let app_apple_id = null;
                            let app_apple_country = null;
                            let app_google_id = null;
                            let app_google_access_token = null;

                            response.settings.map((setting) => {
                                switch (setting.name) {
                                    case 'app_apple_id':
                                        app_apple_id = setting.value;
                                        break;
                                    case 'app_apple_country':
                                        app_apple_country = setting.value;
                                        break;
                                    case 'app_google_id':
                                        app_google_id = setting.value;
                                        break;
                                    case 'app_google_access_token':
                                        app_google_access_token = setting.value;
                                        break;
                                }

                                if (app_apple_id && app_apple_country) {
                                    this.fetchAppleAppStoreReviews(app_apple_id, app_apple_country);
                                }

                                if (app_google_id && app_google_access_token) {
                                    this.fetchGooglePlayStoreReviews(app_google_id, app_google_access_token);
                                }
                            });
                        } else {
                            window.Event.emit(
                                'notificationShow',
                                'The project has no settings for Apple App Store or Google Play Store.' +
                                ' You can set them at the project settings page.'
                            );
                            this.isLoading = false;
                        }
                    });
            },
            fetchAppleAppStoreReviews(app_id, country) {
                window.RequestService.get({
                    baseURL: `https://itunes.apple.com/${country}/rss/customerreviews`,
                    path: `id=${app_id}/sortBy=mostRecent/json`,
                    headers: {}
                })
                    .then((response) => {
                        if (response.feed && response.feed.entry) {
                            this.reviewList.appleAppStore = [];

                            response.feed.entry.map((item, id) => {
                                if (id > 0) {
                                    let reviewData = {
                                        id: item.id,
                                        customer: item.author.name.label,
                                        content: item.content.label,
                                        contentExpanded: false,
                                        values: [],
                                        date: null
                                    };

                                    for (let i = 1; i <= item['im:rating'].label; i++) {
                                        reviewData.values.push(i);
                                    }

                                    this.reviewList.appleAppStore.push(reviewData);
                                }
                            });
                        }

                        this.isLoading = false;
                    })
                    .catch((response) => {
                        console.error(response);
                        this.isLoading = false;
                    });
            },
            fetchGooglePlayStoreReviews(app_id, access_token) {
                window.RequestService.get({
                    baseURL: 'https://www.googleapis.com/androidpublisher/v2/',
                    path: `applications/${app_id}/reviews?access_token=${access_token}`,
                    headers: {}
                })
                    .then((response) => {
                        if (response.reviews) {
                            this.reviewList.googlePlayStore = [];

                            response.reviews.map((item) => {
                                let reviewData = {
                                    id: item.reviewId,
                                    customer: item.authorName,
                                    content: item.comments[0].userComment.text,
                                    contentExpanded: false,
                                    values: [],
                                    date: null
                                };

                                for (let i = 1; i <= item.comments[0].userComment.starRating; i++) {
                                    reviewData.values.push(i);
                                }

                                this.reviewList.googlePlayStore.push(reviewData);
                            });
                        }

                        this.isLoading = false;
                    })
                    .catch((response) => {
                        console.error(response);
                        this.isLoading = false;
                    });
            },
            reviewItemContentView(item, expand) {
                item.contentExpanded = expand;
            }
        }
    }
</script>