<template>
    <section class="project-settings" v-if="project">
        <header>
            <div class="row page-title">
                <div class="col">
                    <router-link to="/" tag="a" class="navigate">
                        <svg class="svg-source">
                            <use xlink:href="#arrow"></use>
                        </svg>
                        <h1 class="">{{ project.title }}</h1>
                    </router-link>
                </div>
            </div>
        </header>

        <main class="content wrapper">

            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="heading-team">
                        <h5 class="mb-0 text-truncate">
                            <a class="btn btn-link"
                               data-toggle="collapse"
                               data-target="#collapse-team"
                               aria-expanded="true"
                               aria-controls="collapse-team">
                                Team settings
                            </a>
                        </h5>
                    </div>

                    <div id="collapse-team" class="collapse show"
                         aria-labelledby="heading-team"
                         data-parent="#accordion">
                        <div class="card-body">

                            <div class="container">
                                <div class="row">
                                    <div class="col">

                                        <invitation-form></invitation-form>

                                    </div>
                                </div>
                            </div>

                            <div class="container">
                                <div class="row">
                                    <div class="col">

                                        <access-list></access-list>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="heading-app">
                        <h5 class="mb-0 text-truncate">
                            <a class="btn btn-link collapsed"
                               data-toggle="collapse"
                               data-target="#collapseTwo"
                               aria-expanded="false"
                               aria-controls="collapseTwo">
                                App Store / Google Play app settings
                            </a>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse"
                         aria-labelledby="heading-app" data-parent="#accordion">
                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col">

                                        <service-apps-settings :project_id="project.id"></service-apps-settings>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </section>
</template>

<script>
  import AccessList          from './team/list'
  import InvitationForm      from './team/invitation-form'
  import ServiceAppsSettings from './service-app/settings-apps'
  import ProjectService      from '../../services/entity'

  export default {
    data() {
      return {
        project: null,
        projectService: new ProjectService('projects')
      }
    },

    created() {
      if (!this.$route.params.project_id) {
        this.$router.push('/not-found')
      }

      this.fetch()
    },

    methods: {
      fetch() {
        this.projectService.fetch({id: this.$route.params.project_id})
          .then((response) => {
            this.project = response.project
            let userInTeam = this.project.team.find((member) => {
              return member.user_id === window.Auth.getInstance().id
            })

            if (!userInTeam) {
              this.$router.push('/')
            }
          })
          .catch((error) => {
            console.error(error)
            if (error.error.code && error.error.code === 3010) {
              this.$router.push('/')
            }
          })
      }
    },

    components: {
      AccessList,
      InvitationForm,
      ServiceAppsSettings
    }
  }

</script>

<style lang="scss" scoped>
    @import "../../assets/styles/variables";

    .accordion {
        .card-header {
            a {
                color: $color-blue;
            }
        }
    }
</style>

