<template>
    <div>
        <div v-for="projectItem in projectList">
            <div v-for="taskItem in projectItem.tasks">
                <div v-if="hasActiveTimeline(taskItem)"
                     class="row">
                    <div class="col-sm-12 col-md-2">
                        <div class="task-title">
                            <router-link tag="a" :to="`/project/${taskItem.project.id}/task/${taskItem.id}`"
                            >{{ taskItem.title }}
                            </router-link>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-10">

                        <timeline :timeline-data="taskItem.timeline" :task="taskItem" :can-manage="false"></timeline>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import EntityService from '../../services/entity'
  import Timeline      from '../timeline/view'

  export default {
    data() {
      return {
        projectList: [],
        projectService: new EntityService('projects')
      }
    },

    mounted() {
      window.Event.on('overviewProjectListFetched', projects => {
        this.projectList = projects
      })
    },

    methods: {
      hasActiveTimeline(taskItem) {
        const isTimelineCompleted = taskItem.timeline && !taskItem.timeline.sections.filter(section => {
          return section.state !== 2
        }).length
        return taskItem.timeline
          && !isTimelineCompleted
          && taskItem.state.id !== 3
          && taskItem.timeline.sections.length
      }
    },

    components: {
      Timeline
    }
  }
</script>

<style lang="scss" scoped>
    .task-title {
        margin: 8px 0;
    }
</style>
