<template>
    <div class="main-content container-fluid">

        <notification></notification>

        <router-view></router-view>

        <messaging :auth="auth"/>

    </div>
</template>

<script>
  import Messaging from '../../components/messaging/Main'
  import Notification from '../../components/alert/notification'

  export default {
    name: 'LayoutContent',

    components: { Messaging, Notification },

    data() {
      return {
        auth: null
      }
    },

    mounted() {
      window.Auth.get()
        .then(auth => {
          console.log(auth)
          this.auth = auth
        })
        .catch(error => {
          console.error(error)
        })
    }
  }
</script>

<style lang="scss" scoped>
    .main-content {
        margin: 30px;
        width: auto;
    }

    @media (max-width: 480px) {
        .main-content {
            margin: 0;
        }
    }
</style>
