<template>
    <nav class="navbar navbar-expand-lg navbar-light bg-white main-menu">

        <router-link to="/" exact tag="a" class="navbar-brand">Task Manager</router-link>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content"
                aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-content">
            <div class="navbar-nav mr-auto" v-if="auth">
                <div class="nav-item active">

                    <router-link tag="a" to="/overview" class="nav-link"
                    >Projects <span class="sr-only">(current)</span></router-link>

                </div>

                <div class="nav-item dropdown menu-admin" v-if="isAdmin()">
                    <a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown-admin" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
                    <div class="dropdown-menu" aria-labelledby="navbar-dropdown-admin">
                        <router-link tag="a" to="/admin/settings" class="dropdown-item">Settings</router-link>
                    </div>
                </div>
            </div>

            <div class="nav-item dropdown menu-profile" v-if="auth">
                <a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown-profile" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="user-name">{{ auth.name }}</span>
                    <div class="avatar-image"
                         :style="{ 'background-image': `url(${authAvatar})` }">
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-dropdown-profile">
                    <router-link tag="a" to="/profile" class="dropdown-item" href="#">Profile</router-link>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" @click="onSignOut">Sign out</a>
                </div>
            </div>

            <div class="menu-sign-in" v-else>
                <router-link to="/sign-in" tag="a" class="btn btn-primary action sign-in">Sign in</router-link>
            </div>
        </div>
    </nav>
</template>

<script>
  const USER_ROLE_ADMINISTRATOR = 1
  const USER_ROLE_USER = 2

  export default {
    data() {
      return {
        auth: null,
        authAvatar: `${window.Config.serviceBaseUrl}/images/avatar-default-no-border.svg`
      }
    },

    created() {
      this.auth = window.Auth.getInstance()

      if (this.auth && this.auth.avatar) {
        this.authAvatar = `${window.Config.serviceBaseUrl}/${this.auth.avatar.path}`
      }

      window.Event.on('authenticationSuccess', (data) => {
        this.auth = data
      })
      window.Event.on('sessionClosed', () => {
        this.auth = null
      })
      window.Event.on('profileAvatarChanged', (data) => {
        this.auth.avatar = data

        if (this.auth.avatar) {
          this.authAvatar = `${window.Config.serviceBaseUrl}/${this.auth.avatar.path}`
        }
      })
    },

    methods: {
      isAdmin() {
        return parseInt(window.Auth.getInstance().role.id) === USER_ROLE_ADMINISTRATOR
      },

      onSignOut() {
        window.Auth.clear()
          .then(() => {
            this.auth = null
            this.$router.push('/sign-in')
          })
      }
    }
  }
</script>

<style lang="scss" scoped>
    @import '../../assets/styles/main';

    .main-menu {
        padding: 0;
        height: 54px;
    }

    .navbar-light .navbar-brand {
        color: $color-blue;
        font-weight: 600;
        margin-left: 50px;
    }

    .dropdown-menu-right {
        right: 0;
        left: auto;
    }

    .menu-profile {
        background-color: #0096d5;
        padding: 12px;

        .dropdown-menu {
            width: 100%;
            border-radius: 0;
        }

        .dropdown-toggle {
            color: #ffffff;
            padding: 0 130px 0 25px;

            &::after {
                display: none;
            }
        }

        .user-name {
            font-size: 20px;
            font-weight: 600;
        }

        .avatar-image {
            position: absolute;
            top: 2px;
            right: 40px;
            background: #fff center center no-repeat;
            background-size: cover;
            border: 2px solid #fff;
            border-radius: 50%;
            -webkit-box-shadow: 2px 2px 4px 1px rgba(17, 16, 13, 0.23);
            box-shadow: 2px 2px 4px 1px rgba(17, 16, 13, 0.23);
            height: 70px;
            width: 70px;
            overflow: hidden;

            .avatar {
                width: 100%;
                height: auto;
            }
        }
    }

    .menu-sign-in {
        width: 100%;

        .action.sign-in {
            float: right;
            height: 54px;
            line-height: 38px;
        }
    }

    @media (max-width: 992px) {
        .navbar-toggler {
            margin: 7px 15px;
        }

        .navbar-collapse {
            padding: 0 15px;
            z-index: 2;
            background-color: #fff;
        }

        .navbar-light {
            .navbar-brand {
                margin-left: 15px;
            }
        }
    }

</style>
