<template>
    <div class="main">

        <layout-header></layout-header>

        <layout-content></layout-content>

        <layout-footer></layout-footer>

    </div>
</template>

<script>
  import LayoutHeader from './Header'
  import LayoutContent from './Content'
  import LayoutFooter from './Footer'

  export default {
    components: {
      LayoutHeader,
      LayoutContent,
      LayoutFooter
    }
  }
</script>

<style lang="scss" scoped>
    .main {
        height: 100vh;
        background-color: #eee;
    }
</style>
