<template>
    <section class="timeline-manage">
        <form class="timeline">
            <fieldset :disabled="isLoading">
                <div class="row form-start-date">
                    <div class="form-group col-12">
                        <div class="row">
                            <label for="start-date" class="col-3 col-form-label">Start date</label>
                            <v-date-picker v-model="startDate"
                                           :date-formatter="getDateFormatted"
                                           :date-parser="getDateParsed"
                                           :popover-visibility="!isLoading ? 'focus' : 'hidden'"
                                           :input-props="{
                                            class: 'form-control col-sm-8 date-picker',
                                            style: 'min-width: 204px;',
                                            placeholder: 'Select a start date',
                                            id: 'start-date'
                                           }"></v-date-picker>
                        </div>
                    </div>
                </div>

                <div class="row forms-sections">
                    <div class="form-group col-12" v-for="section in sections">

                        <timeline-section-form
                                :section="section"
                                :is-loading="isLoading"
                                @isChange="onSectionChange"
                                @sectionRemove="onSectionRemove"
                        ></timeline-section-form>

                    </div>
                </div>

                <div class="form-group row section-action-add">
                    <div class="col">
                        <button class="btn btn-default btn-round" @click="onNewSectionAdd">
                            <img class="svg-source" src="../../assets/images/icons/plus.svg" alt="Add new section">
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>

        <confirm :target="target"
                 @confirmed="onSectionRemoveConfirm"
                 @cancelled="onSectionRemoveCancel">
            <div slot="title">Confirm timeline section deletion</div>
            <div slot="description"
                 v-if="target">Are you really want to delete the timeline section?</div>
        </confirm>

    </section>
</template>

<style lang="scss" scoped>
    @import "../../assets/styles/main";

    .date-picker {
        background-color: #fff;
    }

    .date-picker .active {
        background-color: #fff;
    }
</style>

<script>
    import moment              from 'moment';
    import EntityService       from '../../services/entity';
    import TimelineSectionForm from './section/form';
    import Confirm             from '../confirm/confirm';

    export default {
        props: [
            'task'
        ],
        data() {
            return {
                id: null,
                startDate: null,
                sections: [],
                isLoading: true,
                timelineService: new EntityService('timeline'),
                timelineSectionService: new EntityService('timeline/sections'),
                target: null
            };
        },
        mounted() {
            setTimeout(() => {
                if (this.task) {
                    if (!this.task.timeline) {
                        this.timelineService.create({
                            object_id: this.task.id,
                            object_type: 'task'
                        })
                            .then((response) => {
                                this.prepareTimeline(response.timeline);
                                this.isLoading = false;
                            })
                            .catch((response) => {
                                console.error(response);
                            });
                    } else {
                        this.prepareTimeline(this.task.timeline);
                    }
                } else {
                    this.isLoading = true;
                    this.timelineService.create({
                        object_id: this.task.id,
                        object_type: 'task'
                    })
                            .then((response) => {
                                this.id = response.timeline.id;
                                this.isLoading = false;
                            });
                }

                this.isLoading = false;
            }, 100);
        },
        methods: {
            prepareTimeline(timeline) {
                this.timeline = timeline;
                this.id = this.timeline.id;
                this.startDate = this.getDateParsed(this.timeline.start_date);
                this.sections = this.timeline.sections;
                this.prepareSectionDates();
            },
            getDateFormatted(date) {
                return moment(date).format('YYYY-MM-DD');
            },
            getDateParsed(date) {
                return moment(date).toDate();
            },
            prepareSectionDates() {
                this.sections.map((section) => {
                    section.date_to = this.getDateParsed(section.date_to);
                });
            },
            onSectionChange(state) {
                this.isLoading = state;
            },
            onSectionRemove(section) {
                this.target = {
                    item: Object.assign({}, section),
                    type: 'timeline-section',
                    action: 'delete'
                };
            },
            onSectionRemoveConfirm() {
                if (this.target && this.target.item && this.target.item.id && this.target.action === 'delete') {
                    this.timelineSectionService.delete(this.target.item.id)
                        .then((response) => {
                            this.fetchSections();
                            this.target = null;
                        });
                }
            },
            onSectionRemoveCancel() {
                this.target = null;
            },
            onNewSectionAdd() {
                let lastSectionDate = this.sections.length
                        ? this.sections[this.sections.length - 1].date_to
                        : null;
                let newDate = lastSectionDate
                        ? moment(lastSectionDate).add(1, 'day').format('YYYY-MM-DD')
                        : moment().format('YYYY-MM-DD');
                this.timelineSectionService.create({
                    timeline_id: this.id,
                    title: 'New section',
                    date_to: newDate
                })
                        .then((response) => {
                            this.fetchSections();
                        });
            },
            fetchSections() {
                this.isLoading = true;
                this.sections = [];
                let requestQuery = {timeline_id: {e: this.id}};

                this.timelineSectionService.fetchList({
                    query: `where=${JSON.stringify(requestQuery)}`
                })
                        .then((response) => {
                            setTimeout(() => {
                                this.sections = response.sections;
                                this.prepareSectionDates();
                                this.isLoading = false;
                            }, 100);
                        });
            }
        },
        watch: {
            startDate: function (newValue, oldValue) {
                let newDate = moment(newValue);
                let oldDate = moment(oldValue);

                if (!this.isLoading && newDate.isValid() && (!oldDate.isValid() || newDate.diff(oldDate))) {
                    this.isLoading = true;

                    if (this.id) {
                        this.timelineService.update({
                            id: this.id,
                            start_date: newDate.format('YYYY-MM-DD')
                        })
                                .then((response) => {
                                    this.isLoading = false;
                                });
                    }
                }
            }
        },
        components: {
            Confirm,
            TimelineSectionForm
        }
    }
</script>
