<template>
    <section class="timeline">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12 sections">
                    <div class="container">
                        <div class="row sections-wrap" v-if="timeline.sections.length">
                            <div class="col-4 col-md-3 section" v-for="section in timeline.sections"
                                 :style="{'background-color': section.color}">
                                <div class="section-date"
                                     data-toggle="tooltip"
                                     data-placement="bottom"
                                     data-html="true"
                                     :title="`${section.title}<div class='divider'></div>${getSectionState(section)}`"
                                >{{ section.date_to | formattedDate }}
                                </div>
                            </div>
                            <div class="col-1 col-md-1 col-sm-12 end-date"><b>{{ endDate }}</b></div>
                        </div>
                        <div class="row" v-else>
                            <div class="col">
                                <p>No timeline is set.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 actions" v-if="canManage">
                    <router-link :to="`/project/${task.project.id}/task/${task.id}/timeline`" class="btn btn-primary"
                    >Manage timeline
                    </router-link>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
  import moment from 'moment'

  export default {
    props: [
      'timelineData',
      'task',
      'canManage'
    ],

    data() {
      return {
        timeline: {
          startDate: '',
          sections: []
        }
      }
    },

    created() {
      window.Event.on('onNewSectionAdd', () => {
        this.initSections()
      })
    },

    mounted() {
      if (this.timelineData) {
        this.timeline = this.timelineData
        this.initSections()
      }
    },

    computed: {
      endDate() {
        if (this.timeline.sections.length) {
          let date = this.timeline.sections[this.timeline.sections.length - 1].date_to
          return moment(date.date_to).format('MM/YYYY')
        }

        return ''
      }
    },

    filters: {
      formattedDate(date) {
        return moment(date).format('DD.MM')
      }
    },

    methods: {
      getSectionState(section) {
        if (section.state === 2 || !section.date_to || moment(section.date_to).diff(moment().format('YYYY-MM-DD')) >= 0) {
          return section.state === 1 ? 'active' : 'completed'
        } else {
          return 'outdated'
        }
      },
      initSections() {
        let count = this.timeline.sections.length
        this.timeline.sections.map((section, index) => {
          switch (this.getSectionState(section)) {
            case 'outdated':
              section.color = '#fe0000'
              break
            case 'completed':
              section.color = '#009432'
              break
            case 'active':
              section.color = this.colorLuminance('015287', (count - index) / count)
              break
            default:
              section.color = '#ccc'
              break
          }

          this.$nextTick(() => {
            $('[data-toggle="tooltip"]').tooltip()
          })
        })
      },
      colorLuminance(hex, lum) {
        // validate hex string
        hex = String(hex).replace(/[^0-9a-f]/gi, '')

        if (hex.length < 6) {
          hex = hex[0] + hex[0] + hex[1] + hex[1] + hex[2] + hex[2]
        }

        lum = lum || 0

        // convert to decimal and change luminosity
        let rgb = '#'
        let c

        for (let i = 0; i < 3; i++) {
          c = parseInt(hex.substr(i * 2, 2), 16)
          c = Math.round(Math.min(Math.max(0, c + (c * lum)), 255)).toString(16)
          rgb += ('00' + c).substr(c.length)
        }

        return rgb
      }
    }
  }
</script>

<style lang="scss" scoped>
    @import "../../assets/styles/variables";

    .timeline {
        color: $color-primary;
        width: 100%;

        .task-title,
        .sections,
        .end-date {
            margin: 4px 0;
        }

        .section {
            background-color: #0b8abf;
            color: #ffffff;
            text-align: right;
            border-right: 1px solid #ccc;
            margin: 4px 0;
            cursor: pointer;

            &:nth-child(1) {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }

            &:nth-last-child(2) {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                border-right: none;
            }

            .section-title,
            .section-state {
                //display: none;
            }
        }

        .sections-wrap:hover {
            .section-title,
            .section-state {
                display: block;
            }
        }
    }

    .tooltip .tooltip-inner {
        .divider {
            background-color: #ffffff;
            width: 100%;
            height: 1px;
            margin: 5px 0;
        }
    }
</style>
