<template>
    <section class="timeline-section-form">
        <form class="container section-form">
            <div class="row">
                <div class="form-group col-12 col-md-4">
                    <input class="form-control"
                           :id="`section-title-${(section.id ? section.id : 'new')}`"
                           v-model="title"
                           @change="onTitleChange"
                           placeholder="Title">
                </div>
                <div class="form-group col-12 col-md-4">
                    <v-date-picker v-model="dateTo"
                                   :date-formatter="getDateFormatted"
                                   :date-parser="getDateParsed"
                                   :popover-visibility="!isLoading ? 'focus' : 'hidden'"
                                   :popover-align="'right'"
                                   :input-props="{
                                                     class: 'form-control active',
                                                     placeholder: 'Date to',
                                                     id: `section-date-${(section.id ? section.id : '')}`
                                                 }"></v-date-picker>
                </div>
                <div class="form-group col-12 col-md-4">
                    <button class="btn action state"
                            :class="{
                             'btn-outline-success active': state === 1,
                             'btn-success completed': state === 2
                            }"
                            :title="state === 1 ? 'set complete' : 'set active'"
                            @click="onSectionStateChange">
                        <svg class="svg-source">
                            <use xlink:href="#check"></use>
                        </svg>
                    </button>
                    <button class="btn btn-danger action remove" @click="onSectionRemove">
                        <svg class="svg-source">
                            <use xlink:href="#delete" stroke="#fff"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </form>
    </section>
</template>

<style lang="scss" scoped>
    @import "../../../assets/styles/main";

    .section-form {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding: 20px 0 0 0;
        margin-bottom: 15px;
    }

    .btn-outline-success:not(.disabled).active {
        background-color: transparent;
    }

    .action.state {
        &.active {
            .svg-source {
                fill: #28a745;
            }
        }

        &.completed {
            .svg-source {
                fill: #fff;
            }
        }
    }
</style>

<script>
    import moment from 'moment';
    import EntityService from '../../../services/entity';

    const STATE_ACTIVE = 1;
    const STATE_COMPLETED = 2;

    export default {
        props: [
            'section',
            'isLoading'
        ],
        data() {
            return {
                title: '',
                dateTo: null,
                state: STATE_ACTIVE,
                timelineSectionService: new EntityService('timeline/sections')
            };
        },
        mounted() {
            if (this.section.id) {
                this.title = this.section.title;
                this.dateTo = this.section.date_to;
                this.state = this.section.state;
            }
        },
        methods: {
            getDateFormatted(date) {
                return moment(date).format('YYYY-MM-DD');
            },
            getDateParsed(date) {
                return moment(date).toDate();
            },
            onTitleChange(event) {
                if (this.title.length) {
                    this.changeFieldValue('title', this.title);
                }
            },
            changeFieldValue(field, value) {
                this.$emit('isChange', true);
                let sectionData = {
                    id: this.section.id
                };
                sectionData[field] = value;
                this.timelineSectionService.update(sectionData)
                        .then((response) => {
                            this.$emit('isChange', false);
                        });
            },
            onSectionStateChange() {
                this.state = (this.state === STATE_ACTIVE ? STATE_COMPLETED : STATE_ACTIVE);
                this.changeFieldValue('state', this.state);
            },
            onSectionRemove() {
                this.$emit('sectionRemove', this.section);
            }
        },
        watch: {
            dateTo: {
                handler: function (newValue, oldValue) {
                    if (newValue && oldValue && newValue !== oldValue) {
                        this.changeFieldValue('date_to', moment(newValue).format('YYYY-MM-DD'));
                    }
                },
                deep: true
            }
        }
    }
</script>
