<template>
    <section class="task-detail">

        <div class="row" v-if="isLoading">
            <div class="col-sm-12">
                <div class="list-loader">
                    <div class="loader"></div>
                </div>
            </div>
        </div>

        <div class="row" v-else-if="task.id">
            <div class="col">
                <div class="row page-title">
                    <div class="col">
                        <router-link :to="`/project/${task.project.id}`" tag="a" class="navigate" v-if="task.project">
                            <svg class="svg-source">
                                <use xlink:href="#arrow"></use>
                            </svg>
                            <h1 class="color-primary">{{ task.project.title }}</h1>
                        </router-link>
                    </div>
                </div>

                <div class="row task-timeline wrapper">

                    <timeline :timeline-data="task.timeline" :task="task" :can-manage="true"></timeline>

                </div>

                <div class="row content wrapper">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <h1 class="item-title" contenteditable="true"
                                    v-html="task.title" @focusout="onContentChange($event, 'title')"></h1>
                            </div>
                        </div>
                        <div class="row item-description">
                            <div class="col">
                                <div class="content" contenteditable="true"
                                     v-html="task.description" @focusout="onContentChange($event, 'description')"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container item-actions-wrapper">
                    <div class="row item-actions">

                        <div class="col item-action-col">
                            <button class="btn btn-default action add-sub-task" @click="onSubTaskAdd">
                                <span class="plus-icon">+</span>
                                add subtask
                            </button>
                        </div>

                        <div class="col item-action-col">
                            <form-file-upload :options="getUploadOptions()"
                                              @onFileSelectComplete="onPDFFileSelectComplete">
                                <section slot="button-content">
                                    <div v-if="!isPDFImport" style="display: flex; text-align: center;">
                                        <svg class="svg-source" stroke="#fff">
                                            <use xlink:href="#upload"></use>
                                        </svg>
                                        <span style="margin: 0 20px;">add pdf</span>
                                    </div>
                                    <div v-else>
                                        <div class="button-loader loader"></div>
                                    </div>
                                </section>
                            </form-file-upload>
                        </div>

                        <div class="col item-action-col">
                            <button class="btn action set-state" :class="{
                 'btn-outline-success': task.state.id === TASK_STATE_COMPLETED,
                 'btn-outline-primary': task.state.id === TASK_STATE_ACTIVE
                }" @click="onStateChange(task)" v-if="task.state">
                                set {{ task.state.id === 1 ? 'completed' : 'active' }}
                            </button>
                        </div>

                        <div class="col item-action-col"
                             v-if="task.sub_tasks.length">
                            <button class="btn btn-outline-secondary action add-sub-task"
                                    @click="onGetSubTasksImages">get all images
                            </button>
                        </div>

                    </div>
                </div>

                <div class="row content wrapper task-sub-tasks">
                    <div class="col item-sub-tasks">
                        <a class="btn btn-primary" data-toggle="collapse" href="#collapse-sub-tasks" role="button"
                           aria-expanded="true" aria-controls="collapse-sub-tasks"
                        >subtasks: {{ task.sub_tasks.length }}</a>
                        <div class="collapse show" id="collapse-sub-tasks">

                            <sub-task-list :list="task.sub_tasks"
                                           @onSubTaskItemRemoved="onSubTaskRemoved"></sub-task-list>

                        </div>
                    </div>
                </div>

                <div class="row content wrapper task-comments">
                    <div class="col">
                        <a class="btn btn-primary" data-toggle="collapse" href="#collapse-comments" role="button"
                           aria-expanded="false" aria-controls="collapse-comments">comments</a>
                        <div class="collapse show" id="collapse-comments">

                            <comments :object="{id: task.id, type: 'task', project_id: task.project.id}"></comments>

                        </div>
                    </div>
                </div>

                <canvas ref="canvas" class="hidden"></canvas>

                <div class="modal" id="modal-sub-task-images" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Get sub-task images</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-check check-original-size">
                                            <input type="checkbox" class="form-check-input"
                                                   id="sub-task-image-export-original-size"
                                                   v-model="subTaskImagesExport.isOriginalSize"
                                                   @change="onSubTaskImagesExportIsOriginalSizeChange">
                                            <label class="form-check-label text-lowercase"
                                                   for="sub-task-image-export-original-size">Original size</label>
                                        </div>
                                    </div>
                                </div>

                                <form class="card custom-size">
                                    <fieldset :disabled="subTaskImagesExport.isOriginalSize">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="container">
                                                        <div class="form-group row">
                                                            <label class="col-sm-4 col-form-label text-lowercase"
                                                                   for="image-width">Width</label>
                                                            <div class="col-sm-4">
                                                                <input type="text"
                                                                       class="form-control"
                                                                       id="image-width"
                                                                       placeholder="width"
                                                                       v-model="subTaskImagesExport.width"
                                                                       @keyup="onSubTaskImagesExportWidthChange">
                                                            </div>
                                                            <label class="col-sm-2 col-form-label"
                                                                   v-text="subTaskImagesExport.units"></label>
                                                            <div class="col-sm-12">
                                                                <small id="sub-tasks-images-fetch-width-description"
                                                                       class="form-text text-muted"
                                                                >Set the images width. The images will be scaled.
                                                                </small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- div class="col-sm-12">
                                                    <div class="connect-wrapper"
                                                         :class="{active: subTaskImagesExport.aspectRatioMaintain}"
                                                         @click="onSubTaskImagesAspectRatioMaintain">
                                                        <svg class="svg-source">
                                                            <use xlink:href="#connected"
                                                                 :fill="subTaskImagesExport.aspectRatioMaintain
                                                                  ? '#fff'
                                                                  : '#ccc'"></use>
                                                        </svg>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="container">
                                                        <div class="form-group row">
                                                            <label class="col-sm-3 col-form-label text-lowercase"
                                                                   for="image-height">Height</label>
                                                            <div class="col-sm-4">
                                                                <input type="text"
                                                                       class="form-control"
                                                                       id="image-height"
                                                                       placeholder="height"
                                                                       v-model="subTaskImagesExport.height"
                                                                       @keyup="onSubTaskImagesExportHeightChange">
                                                            </div>
                                                            <label class="col-sm-2 col-form-label"
                                                                   v-text="subTaskImagesExport.units"></label>
                                                        </div>
                                                    </div>
                                                </div-->
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>

                                <div class="row" v-if="subTaskImagesExport.imagesLink">
                                    <div class="col">
                                        <a class="color-default"
                                           :href="subTaskImagesExport.imagesLink"
                                           target="_blank"
                                        >{{ subTaskImagesExport.imagesLink }}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" @click="onSubTaskImagesGet"
                                >
                                    <div v-if="!isSubTaskImagesFetching">Get</div>
                                    <div v-else>
                                        <div class="button-loader loader"></div>
                                    </div>
                                </button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
  import EntityService    from '../../services/entity'
  import moment           from 'moment'
  import Timeline         from '../timeline/view'
  import Comments         from '../comment/list'
  import FormFileUpload   from '../attachment/upload/form'
  import * as TASK_STATES from '../../models/task-states'
  import PDFJS            from 'pdfjs-dist'
  import SubTaskList      from './sub-task/list'

  export default {
    data() {
      return {
        isLoading: false,
        task: {
          id: null,
          title: '',
          description: '',
          project: {},
          sub_tasks: [],
          activities: []
        },
        taskService: new EntityService('tasks'),
        fileService: new EntityService('attachments'),
        TASK_STATE_ACTIVE: TASK_STATES.STATE_ACTIVE,
        TASK_STATE_COMPLETED: TASK_STATES.STATE_COMPLETED,
        isPDFImport: false,
        pdfImportPageNumber: 0,
        subTaskImagesExport: {
          isOriginalSize: true,
          width: 500,
          height: 500,
          units: 'px',
          aspectRatioMaintain: true,
          imagesLink: null
        },
        isSubTaskImagesFetching: false
      }
    },

    mounted() {
      if (!this.$route.params.project_id || !this.$route.params.task_id) {
        this.$router.push('/not-found')
      } else {
        this.fetch()
      }
    },

    computed: {
      taskComments() {
        return this.task.activities.filter((item) => {
          return item.type === 'comment'
        })
      }
    },

    methods: {
      fetch() {
        this.isLoading = true
        let requestQuery = {
          state: {
            ne: TASK_STATES.STATE_DELETED
          }
        }

        this.taskService.fetch({
          id: this.$route.params.task_id,
          query: `where=${JSON.stringify(requestQuery)}`
        })
          .then((response) => {
            this.task = response.task
            this.isLoading = false
          })
          .catch((response) => {
            if (response.error.code && (response.error.code === 3010 || response.error.code === 4020)) {
              this.$router.push('/')
            }
            this.isLoading = false
          })
      },

      onContentChange(event, field) {
        let fieldContent = event.target.innerHTML

        if (this.task.hasOwnProperty(field) && fieldContent.length && this.task[field] !== fieldContent) {
          let data = {
            id: this.task.id,
            updated_at: moment().format('YYYY-MM-DD HH:mm:ss')
          }
          data[field] = fieldContent
          this.taskService.update(data).then((response) => {
            this.task = response.task
          })
        }
      },

      onSubTaskAdd() {
        this.taskService.create({
          project_id: this.task.project.id,
          primary_id: this.task.id,
          title: 'A new sub task',
          description: ''
        }).then((response) => {
          this.$router.push(
            `/project/${this.task.project.id}/task/${this.task.id}/sub-task/${response.task.id}`
          )
        })
      },

      onGetSubTasksImages() {
        $('#modal-sub-task-images').modal('show')
      },

      onSubTaskRemoved() {
        this.fetch()
      },

      onStateChange(item) {
        let newTaskState = (item.state.id === 1 ? TASK_STATES.STATE_COMPLETED : TASK_STATES.STATE_ACTIVE)
        this.taskService.update({id: item.id, state: newTaskState})
          .then(response => {
            item.state = TASK_STATES.STATES[newTaskState]
          })
      },

      getUploadOptions() {
        return {
          fileTypes: '.pdf',
          buttonClasses: {'btn': true, 'button-primary': true},
          buttonStyles: {'width': '180px'},
          disabled: this.isPDFImport
        }
      },

      onPDFFileSelectComplete(data) {
        if (data.length) {
          this.isPDFImport = true
          let self = this
          let fileReader = new FileReader()

          fileReader.onload = function (event) {
            console.log(event)
            PDFJS.getDocument(fileReader.result)
              .then((pdf) => {
                console.log(pdf)
                self.pdfImportPageNumber = 1
                self.isLoading = true
                self.renderPDFToImage(pdf)
              })
              .catch((error) => {
                console.error(error)
              })
          }
          fileReader.readAsArrayBuffer(data[0])
        }
      },

      renderPDFToImage(pdf) {
        let self = this

        console.log('PDF render page', self.pdfImportPageNumber)

        if (self.pdfImportPageNumber <= pdf.numPages) {
          pdf.getPage(self.pdfImportPageNumber)
            .then((page) => {
              // Prepare canvas using PDF page dimensions
              let scale = 1
              let viewport = page.getViewport(scale)
              let canvas = document.createElement('canvas')
              let context = canvas.getContext('2d')
              canvas.height = viewport.height
              canvas.width = viewport.width

              // Render PDF page into canvas context
              page.render({canvasContext: context, viewport: viewport})
                .then(() => {
                  self.createNewSubTaskWithImage(canvas.toDataURL('image/png'))
                    .then((response) => {
                      console.log('PDF render finished for page', self.pdfImportPageNumber)
                      self.pdfImportPageNumber++
                      setTimeout(() => {
                        self.renderPDFToImage(pdf)
                      }, 1000)
                    })
                    .catch((error) => {
                      console.error(error)
                    })

                })
            })
        } else {
          self.isPDFImport = false
          self.isLoading = false
          self.fetch()
        }
      },

      createNewSubTaskWithImage(image) {
        return new Promise((resolve, reject) => {
          this.taskService.create({
            primary_id: this.task.id,
            project_id: this.task.project.id,
            title: 'Sub-task',
            description: ''
          })
            .then((response) => {
              let formData = new FormData()
              let base64ImageContent = image.replace(/^data:image\/(png|jpg);base64,/, '')
              let blob = this.base64ToBlob(base64ImageContent, 'image/png')
              formData.append('file', blob)
              formData.append('object_id', response.task.id)
              formData.append('object_type', 'task')
              formData.append('project_id', this.task.project.id)

              this.fileService.create(formData)
                .then((response) => {
                  window.Event.emit('notificationShow', 'Sub-tasks are imported.')
                  resolve(response)
                })
                .catch((error) => {
                  console.error(error)
                  reject(error)
                })
            })
        })
      },

      base64ToBlob(base64, mime) {
        mime = mime || ''
        let sliceSize = 1024
        let byteChars = window.atob(base64)
        let byteArrays = []

        for (let offset = 0, len = byteChars.length; offset < len; offset += sliceSize) {
          let slice = byteChars.slice(offset, offset + sliceSize)

          let byteNumbers = new Array(slice.length)
          for (let i = 0; i < slice.length; i++) {
            byteNumbers[i] = slice.charCodeAt(i)
          }

          let byteArray = new Uint8Array(byteNumbers)

          byteArrays.push(byteArray)
        }

        return new Blob(byteArrays, {type: mime})
      },

      onSubTaskImagesExportIsOriginalSizeChange() {},

      onSubTaskImagesExportWidthChange() {
        /*if (this.subTaskImagesExport.aspectRatioMaintain) {
            this.subTaskImagesExport.height = this.subTaskImagesExport.width;
        }*/
      },

      onSubTaskImagesExportHeightChange() {
        if (this.subTaskImagesExport.aspectRatioMaintain) {
          this.subTaskImagesExport.width = this.subTaskImagesExport.height
        }
      },

      onSubTaskImagesAspectRatioMaintain() {
        this.subTaskImagesExport.aspectRatioMaintain = !this.subTaskImagesExport.aspectRatioMaintain
      },

      onSubTaskImagesGet() {
        this.isSubTaskImagesFetching = true
        this.subTaskImagesExport.imagesLink = null
        let newWidth = this.subTaskImagesExport.isOriginalSize
          ? ''
          : `&width=${this.subTaskImagesExport.width}`
        let query = `is_original=${this.subTaskImagesExport.isOriginalSize}${newWidth}`

        window.RequestService.get({
          path: `tasks/${this.task.id}/images?${query}`
        })
          .then((response) => {
            if (response.images) {
              this.subTaskImagesExport.imagesLink = `${window.Config.serviceBaseUrl}/${response.images}`
              this.isSubTaskImagesFetching = false
            } else {
              window.Event.emit('notificationShow', 'Sub tasks have no images for export.')
              this.isSubTaskImagesFetching = false
              $('#modal-sub-task-images').modal('hide')
            }
          })
          .catch((response) => {
            this.isSubTaskImagesFetching = false
            console.error(response)
            window.alert('Error images fetching.')
          })
      }
    },

    filters: {
      humanizeDate(item) {
        return moment(item).fromNow()
      }
    },

    components: {
      Timeline,
      Comments,
      FormFileUpload,
      SubTaskList
    }
  }
</script>

<style lang="scss" scoped>
    @import "../../assets/styles/main";

    .list-loader {
        width: 100%;

        .loader {
            margin: 0 auto;
        }
    }

    .button-loader.loader {
        border: 2px solid #fff;
        border-right-color: transparent;
    }

    .page-title {
        margin-bottom: 20px;
    }

    .wrapper {
        padding: 5px 5px 30px 5px;
        margin-top: 30px;
    }

    .task-timeline {
        padding-top: 30px;
        margin-bottom: 20px;
    }

    .item-title {
        font-size: 28px;
        font-weight: 700;
        color: $color-primary;
        border: 1px solid #ccc;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        padding: 10px;
        margin: 10px 0 40px 0;
    }

    .item-description .content {
        border: 1px solid #cccccc;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        padding: 10px;
        height: 220px;
        overflow-y: auto;
    }

    .item-actions-wrapper {
        margin: 0;
    }

    .item-actions {
        margin: 30px -30px;

        .item-action-col {
            margin: 10px 0;
        }

        .action {
            width: 180px;
            margin-right: 15px;
        }
    }

    .task-comments,
    .task-sub-tasks {
        padding: 30px 5px;
        margin: 2px 0;
    }

    .custom-size {
        fieldset:disabled {
            background-color: #e9ecef;
        }
    }

    .check-original-size {
        margin-bottom: 15px;

        input {
            margin-top: 9px;
        }
    }

    .connect-wrapper {
        padding: 0 14px;

        .svg-source {
            border: 1px solid #ccc;
            border-radius: 4px;
            cursor: pointer;
            margin: 7px 0;
            padding: 4px;
            width: 24px;
            height: 24px;
        }

        &.active {
            .svg-source {
                background-color: $color-default;
            }
        }
    }
</style>
