<template>
    <section class="task-form">
        <form>
            <div class="form-group">
                <label for="task-form-title" class="col-form-label">Title</label>
                <input v-model="form.title" id="task-form-title" class="form-control" type="text">
            </div>
            <div class="form-group">
                <label for="task-form-description" class="col-form-label">Description</label>
                <textarea class="form-control" v-model="form.description" id="task-form-description"
                          cols="30" rows="6"></textarea>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary"
                        @click="onTaskAdd"
                        :disabled="!form.title.length">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </form>
    </section>
</template>

<script>
    import EntityService from '../../services/entity';

    export default {
        props: [
            'task',
            'projectId'
        ],
        data() {
            return {
                form: new window.Form({
                    title: '',
                    description: ''
                }),
                taskService: new EntityService('tasks')
            };
        },
        created() {
            if (this.task) {
                this.form.title = this.task.title;
                this.form.description = this.task.description;
            }
        },
        methods: {
            onTaskAdd() {
                this.taskService.create({
                    title: this.form.title,
                    description: this.form.description,
                    project_id: this.projectId
                }).then((response) => {
                    window.Event.emit('taskSaved', response.task);
                });
            }
        }
    }
</script>
