<template>
    <section class="task-list">
        <div class="row actions">
            <div class="col">
                <button class="btn btn-primary action" @cilck="onTaskAddFormShow"
                        data-toggle="modal" data-target="#modal-task-form">Add new task
                </button>
            </div>
        </div>
        <!--div class="row filters-wrapper">
            <div class="col">
                <div class="row filter-states">
                    <div class="col-2">
                        <span>States:</span>
                    </div>
                    <div class="col-auto">
                        <form class="">
                            <div class="form-check form-check-inline" :class="{ active: filterState === 'active' }">
                                <input class="form-check-input" type="radio" name="filter-active" id="filter-active"
                                       value="active" v-model="filterState" :checked="{ filterState: 'active' }">
                                <label class="form-check-label" for="filter-active">active</label>
                            </div>
                            <div class="form-check form-check-inline" :class="{ active: filterState === 'outdated' }">
                                <input class="form-check-input" type="radio" name="fitler-outdated" id="filter-outdated"
                                       value="outdated" v-model="filterState" :checked="{ filterState: 'outdated' }">
                                <label class="form-check-label" for="filter-outdated">outdated</label>
                            </div>
                            <div class="form-check form-check-inline" :class="{ active: filterState === 'completed' }">
                                <input class="form-check-input" type="radio" name="fitler-completed"
                                       id="filter-completed" value="completed" v-model="filterState"
                                       :checked="{ filterState: 'completed' }">
                                <label class="form-check-label" for="filter-completed">completed</label>
                            </div>
                            <div class="form-check form-check-inline" :class="{ active: filterState === 'all' }">
                                <input class="form-check-input" type="radio" name="fitler-all" id="filter-all"
                                       value="all" v-model="filterState" :checked="{ filterState: 'all' }">
                                <label class="form-check-label" for="filter-all">all</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div-->
        <div class="row" v-if="isLoading">
            <div class="col-sm-12">
                <div class="loader"></div>
            </div>
        </div>
        <div class="row" v-else>
            <div class="col-12" v-for="listItem in list">
                <div class="list-item row">
                    <div class="list-item-col col-md-7 col-sm-12 text-truncate">
                        <router-link :to="`/project/${projectId}/task/${listItem.id}`" tag="a"
                                     class="title">{{ listItem.title }}
                        </router-link>
                    </div>
                    <div class="list-item-col col-md-2 col-sm-12">
                        <span class="due-date">{{ getDateDue(listItem) }}</span>
                    </div>
                    <div class="list-item-col col-md-2 col-sm-12">
                        <span class="state text-lowercase"
                              :style="{'color': getStateColor(listItem)}">{{ listItem | state }}</span>
                    </div>
                    <div class="list-item-col col-md-1 col-sm-12">
                        <div class="actions">
                            <button class="btn btn-danger action remove" @click="onTaskRemove(listItem)">
                                <svg class="svg-source">
                                    <use xlink:href="#delete" stroke="#fff"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <confirm :target="target"
                 @confirmed="onTaskRemoveConfirm"
                 @cancelled="onTaskRemoveCancel">
            <div slot="title">Confirm task deletion</div>
            <div slot="description"
                 v-if="target">Are you really want to delete the task &quot;{{ target.item.title }}&quot;?</div>
        </confirm>

        <div class="modal fade" id="modal-task-form" tabindex="-1" role="dialog"
             aria-labelledby="task-form-modal-label" aria-hidden="true" ref="modalForm">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="task-form-modal-label"
                        >{{ taskItem !== null ? 'Edit' : 'Add new ' }} task</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <task-form :task="taskItem" :project-id="projectId"></task-form>
                    </div>
                </div>
            </div>
        </div>

    </section>
</template>

<style lang="scss" scoped>
    @import '../../assets/styles/variables';

    .loader {
        margin: 0 auto;
    }

    .task-list {
        .row.actions {
            margin-bottom: 20px;
        }
    }

    .filters-wrapper {
        margin: 10px 0;
    }

    .filter-states {
        border-bottom: 2px solid #aaa;
        padding: 10px 0;

        .form-check {
            padding: 5px;
            min-width: 115px;
            cursor: pointer;
            text-align: center;

            &.active {
                background-color: $color-default;
                border-radius: 4px;
                color: #fff;
            }

            .form-check-input {
                display: none;
            }

            .form-check-label {
                width: 100%;
                cursor: pointer;
            }
        }
    }

    .list-item {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        margin: 0;
        padding: 10px;

        .list-item-col {
            margin: 10px 0;
        }
    }
</style>

<script>
    import * as TASK_STATES from '../../models/task-states';
    import moment           from 'moment';
    import EntityService    from '../../services/entity';
    import TaskForm         from './form';
    import Confirm          from '../confirm/confirm';

    export default {
        data() {
            return {
                isLoading: false,
                list: [],
                filterState: 'active',
                projectService: null,
                taskService: null,
                projectId: null,
                taskItem: null,
                target: null
            };
        },
        created() {
            this.projectId = this.$route.params.id;
            if (this.projectId) {
                this.projectService = new EntityService(`projects/${this.projectId}/tasks`);
                this.taskService = new EntityService('tasks');
                this.fetchList();
            } else {
                this.$router.push('/not-found');
            }

            window.Event.on('taskSaved', (data) => {
                this.fetchList();
                $('#modal-task-form').modal('hide');
            });
        },
        filters: {
            state: (item) => {
                if (item.timeline && item.timeline.sections.length) {
                    let dueDate = moment(item.timeline.sections[item.timeline.sections.length - 1].date_to);

                    return item.state.id !== TASK_STATES.STATE_COMPLETED
                    && dueDate.diff(moment(moment().format('YYYY-MM-DD')), 'days') < 0
                            ? TASK_STATES.STATES[TASK_STATES.STATE_OUTDATED].title
                            : (TASK_STATES.STATES.hasOwnProperty(item.state.id)
                                    ? TASK_STATES.STATES[item.state.id].title
                                    : item.state.title);
                }

                return '-';
            }
        },
        methods: {
            fetchList() {
                this.isLoading = true;
                this.projectService.fetchList()
                        .then((response) => {
                            this.list = response.tasks;
                            this.isLoading = false;
                        });
            },
            getDateFormatted(date) {
                let formattedDate = moment(date);
                return !formattedDate.isValid() ? '' : formattedDate.format('YYYY-MM-DD');
            },
            getDateDue(task) {
                let timelineEndDate = '-';

                if (task.timeline && task.timeline.sections.length) {
                    timelineEndDate = this.getDateFormatted(
                            task.timeline.sections[task.timeline.sections.length - 1].date_to
                    );
                }

                return timelineEndDate;
            },
            onTaskAddFormShow() {
                this.taskItem = null;
            },
            onTaskRemove(item) {
                this.target = {
                    item: Object.assign({}, item),
                    action: 'delete'
                };
            },
            onTaskRemoveConfirm() {
                if (this.target && this.target.item && this.target.item.id && this.target.action === 'delete') {
                    this.taskService.delete(this.target.item.id)
                        .then((response) => {
                            this.fetchList();
                        });
                }
            },
            onTaskRemoveCancel() {
                this.target = null;
            },
            getStateColor(item) {
                return this.isTaskOutdated(item)
                        ? TASK_STATES.STATES[TASK_STATES.STATE_OUTDATED].color
                        : item.state.color;
            },
            isTaskOutdated(item) {
                if (item.state.id === TASK_STATES.STATE_COMPLETED) {
                    return false;
                }

                if (item.timeline && item.timeline.sections.length) {
                    let dueDate = moment(item.timeline.sections[item.timeline.sections.length - 1].date_to);

                    return dueDate.diff(moment(moment().format('YYYY-MM-DD')), 'days') < 0;
                }

                return false;
            }
        },
        components: {
            Confirm,
            TaskForm
        }
    }
</script>
