<template>
    <section class="api-keys">
        <div class="row" v-if="isLoading">
            <div class="col-sm-12">
                <div class="loader"></div>
            </div>
        </div>

        <div class="row" v-if="apiKeyList">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12">
                        <button class="btn btn-primary float-right" @click="onAPIKeyAdd">Add API key</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 api-key-list">
                <div class="row">
                    <div class="col" v-if="!apiKeyList.length">
                        There is no API keys added to the system.
                    </div>
                    <div class="col" v-else>
                        <div class="table-responsive-sm">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">#id</th>
                                    <th scope="col">API key</th>
                                    <th scope="col">state</th>
                                    <th scope="col">actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="keyItem in apiKeyList">
                                    <td>{{ keyItem.id }}</td>
                                    <td>{{ keyItem.value }}</td>
                                    <td>
                                        <span class="text-lowercase"
                                            :class="{
                                                'color-green': keyItem.state === 1,
                                                'color-red': keyItem.state === 2
                                            }">{{ keyItem.state === 1 ? 'active' : 'disabled' }}</span>
                                    </td>
                                    <td>
                                        <button class="btn"
                                                :class="{
                                                        'btn-primary': keyItem.state === 2,
                                                        'btn-secondary': keyItem.state === 1
                                                    }"
                                                :title="keyItem.state === 1 ? 'disable' : 'enable'"
                                                @click="onChangeStatus(keyItem)">
                                            <svg class="svg-source">
                                                <use xlink:href="#locked" fill="#fff" v-if="keyItem.state === 1"></use>
                                                <use xlink:href="#unlocked" fill="#fff" v-else></use>
                                            </svg>
                                        </button>
                                        <button class="btn btn-danger"
                                                title="remove"
                                                @click="onRemove(keyItem)">
                                            <svg class="svg-source">
                                                <use xlink:href="#delete" stroke="#fff"></use>
                                            </svg>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <confirm :target="target"
                 @confirmed="onAPIKeyRemoveConfirm"
                 @cancelled="onAPIKeyRemoveCancel">
            <div slot="title">Confirm API key deletion</div>
            <div slot="description">Are you really want to delete the API key?</div>
        </confirm>
    </section>
</template>

<style lang="scss" scoped>
    @import "../../assets/styles/main";

    .api-key-list {
        margin-top: 1em;
    }

    .table {
        box-shadow: $shadow;

        th {
            background: $color-blue-light;
            color: $text-white;
        }
    }
</style>

<script>
    import Confirm from '../confirm/confirm';

    const API_KET_STATE_ACTIVE = 1;
    const API_KET_STATE_DISABLED = 2;
    const API_KET_STATE_DELETED = 3;

    export default {
        data() {
            return {
                isLoading: true,
                apiKeyList: [],
                apiKeyService: new window.EntityService('api-keys'),
                target: null
            };
        },
        mounted() {
            this.fetchList();
        },
        methods: {
            fetchList() {
                this.isLoading = true;
                let requestQuery = {state: {ne: API_KET_STATE_DELETED}};

                this.apiKeyService.fetchList({
                    query: `where=${JSON.stringify(requestQuery)}`
                })
                    .then((response) => {
                        this.apiKeyList = response.api_keys;
                        this.isLoading = false;
                    });
            },
            onAPIKeyAdd() {
                this.apiKeyService.create()
                    .then((response) => {
                        this.fetchList();
                    });
            },
            onChangeStatus(item) {
                let state = item.state === 1 ? 2 : 1;
                this.apiKeyService.update({
                    id: item.id,
                    state: state
                })
                    .then((response) => {
                        item.state = state;
                    });
            },
            onRemove(item) {
                this.target = {
                    item: Object.assign({}, item),
                    type: 'api-key',
                    action: 'delete'
                };
            },
            onAPIKeyRemoveConfirm() {
                if (this.target
                    && this.target.item
                    && this.target.item.id
                    && this.target.action === 'delete') {
                    this.apiKeyService.delete(this.target.item.id)
                        .then((response) => {
                            this.fetchList();
                            this.target = null;
                        });
                }
            },
            onAPIKeyRemoveCancel() {
                this.target = null;
            }
        },
        components: {
            Confirm
        }
    }
</script>