<template>
    <section>
        <header>
            HEADER
        </header>
        <main>
            <div class="page-title">
                <h1>Profile</h1>
            </div>

            <section class="cabinet wrapper">
                <user-form></user-form>
            </section>

        </main>
        <footer class="footer wrapper">FOOTER</footer>
    </section>
</template>

<style lang="scss" scoped></style>

<script>
    import UserForm from '../components/user/form-profile';

    export default {
        methods: {},
        components: {
            UserForm
        }
    };
</script>
