<template>
    <section class="not-fount text-center">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-sm-12 col-md-6">
                    <div class="card">
                        <h1 class="title text-uppercase">Not found</h1>
                        <p>The page you're looking for doesn't exist.</p>
                        <router-link to="overview" tag="a">Go to the home page</router-link>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<style lang="scss" scoped>
    @import '../assets/styles/main';

    .container {
        margin-top: 30px;
    }

    .card {
        padding: 20px;
    }
</style>