<template>
    <div class="notification-list">
        <h4>New notification</h4>
        <div class="new-notification">
            <div class="row-item">
                <div class="card  ">
                    <h5 class="mb-0 card-header">
                        <a href="">
                            Example header notification #1
                        </a>
                        <span class="date">10:32 today</span>
                    </h5>
                </div>
            </div>
            <div class="row-item">
                <div class="card  ">
                    <h5 class="mb-0 card-header">
                        <a href="">
                            Example header notification #2
                        </a>
                        <span class="date">16:56 03.02</span>
                    </h5>
                </div>
            </div>
            <div class="row-item">
                <div class="card  ">
                    <h5 class="mb-0 card-header">
                        <a href="">
                            Example header notification #1
                        </a>
                        <span class="date">10:32 today</span>
                    </h5>
                </div>
            </div>
            <div class="row-item">
                <div class="card  ">
                    <h5 class="mb-0 card-header">
                        <a href="">
                            Example header notification #2
                        </a>
                        <span class="date">16:56 03.02</span>
                    </h5>
                </div>
            </div>
            <div class="row-item">
                <div class="card  ">
                    <h5 class="mb-0 card-header">
                        <a href="">
                            Example header notification #1
                        </a>
                        <span class="date">10:32 today</span>
                    </h5>
                </div>
            </div>
            <div class="row-item">
                <div class="card  ">
                    <h5 class="mb-0 card-header">
                        <a href="">
                            Example header notification #2
                        </a>
                        <span class="date">16:56 03.02</span>
                    </h5>
                </div>
            </div>
            <div class="row-item">
                <div class="card  ">
                    <h5 class="mb-0 card-header">
                        <a href="">
                            Example header notification #1
                        </a>
                        <span class="date">10:32 today</span>
                    </h5>
                </div>
            </div>
            <div class="row-item">
                <div class="card  ">
                    <h5 class="mb-0 card-header">
                        <a href="">
                            Example header notification #2
                        </a>
                        <span class="date">16:56 03.02</span>
                    </h5>
                </div>
            </div>
            <div class="row-item">
                <div class="card  ">
                    <h5 class="mb-0 card-header">
                        <a href="">
                            Example header notification #1
                        </a>
                        <span class="date">10:32 today</span>
                    </h5>
                </div>
            </div>
            <div class="row-item">
                <div class="card  ">
                    <h5 class="mb-0 card-header">
                        <a href="">
                            Example header notification #2
                        </a>
                        <span class="date">16:56 03.02</span>
                    </h5>
                </div>
            </div>
        </div>
        <h4>Old notification</h4>
        <div class="old-notification">
            <div class="row-item">
                <div class="card  ">
                    <h5 class="mb-0 card-header">
                        <a href="">
                            Example header notification #3
                        </a>
                        <span class="date">10:32 today</span>
                    </h5>
                </div>
            </div>
            <div class="row-item">
                <div class="card  ">
                    <h5 class="mb-0 card-header">
                        <a href="">
                            Example header notification #4
                        </a>
                        <span class="date">16:56 03.02</span>
                    </h5>
                </div>
            </div>
        </div>
        <notification></notification>
    </div>
</template>

<style lang="scss" scoped>
    @import "../assets/styles/variables";

    .notification-list {
        h4 {
            font-size: 18px;
            font-weight: 700;
            margin: 0 0 15px;
        }

        .new-notification {
            margin: 0 0 35px;
            max-height: 70vh;
            overflow-y: auto;

            a {
                color: $color-black;
                text-decoration: none;
                display: inline-block;
            }
        }

        .old-notification {
            a {
                color: $color-grey;
                text-decoration: none;
            }
        }
    }

    .row-item {
        margin-bottom: 5px;

        .card-header {
            border: 0;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            background-color: #fff;
            color: $color-primary;
            position: relative;
            padding-right: 120px;
            font-size: 18px;
            padding: 14px 100px 14px 15px;

            .date {
                position: absolute;
                right: 10px;
                top: 10px;
                font-size: 14px;
                color: #858585;
            }
        }

        .card-body {
            border-top: 1px solid #bdc3c7;
            font-size: 16px;
        }
    }

    .accordeon {
        h5 {
            cursor: pointer;
        }
    }
</style>

<script>
    import Notification from '../components/alert/notification';

    export default {
        components: {
            Notification
        }
    }
</script>

