<template>
    <section class="overview">
        <header class="page-title">
            <div class="row">
                <div class="float-left col-md-5 col-sm-12">
                    <h1 class="title color-primary">projects</h1>
                </div>
                <div class="float-right col-md-7 col-sm-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="search-wrapper">
                                <input class="form-control float-right"
                                       type="text"
                                       v-model="search"
                                       placeholder="search project">
                                <a class="action search clear" @click="onSearchClear" v-if="search.length">&times;</a>
                            </div>
                        </div>
                        <div class="col-12">
                            <a class="btn btn-primary float-right action add"
                               data-toggle="modal" data-target="#modal-project-add">Add project</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <section class="projects wrapper">

                <project-list :filterSearch="search"></project-list>

            </section>

            <section class="timelines wrapper">

                <project-timelines></project-timelines>

            </section>
        </main>
        <footer></footer>

        <div class="modal fade" id="modal-project-add" tabindex="-1" role="dialog"
             aria-labelledby="modal-project-add-label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-project-add-label">Add project</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <project-form></project-form>

                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
  import ProjectList      from '../components/project/list'
  import ProjectForm      from '../components/project/form'
  import ProjectTimelines from '../components/project/timelines'

  export default {
    data() {
      return {
        search: ''
      }
    },

    methods: {
      onSearchClear() {
        this.search = ''
      }
    },

    components: {
      ProjectList,
      ProjectForm,
      ProjectTimelines
    }
  }
</script>

<style lang="scss" scoped>
    @import "../assets/styles/main";

    .page-title {
        padding: 0 0 0 15px;
        margin: 0 0 20px;

        .title {
            font-size: 45px;
            color: #005286;
            line-height: normal;
        }

        .form-control {
            margin: 20px 5px;
            float: none;
            width: auto;
            font-size: 20px;
            color: #444444;
            border: none;
            border-radius: 0;
            outline: 0 !important;
            padding: 0px 5px 0 35px;
            letter-spacing: 0.2px;
            background: transparent url(../assets/images/search.png) no-repeat 5px center;
        }
    }

    header {
        .title {
            padding-left: 34px;
            margin-bottom: 15px;
        }
    }

    .search-wrapper {
        position: relative;

        .action.clear {
            position: absolute;
            top: 20px;
            right: 15px;
            cursor: pointer;
        }
    }

    .action.add {
        margin: 10px 0;
    }
</style>
