<template>
    <section class="overview">
        <header class="page-title">
            <h1 class="title color-primary">profile</h1>
        </header>
        <main>
            <section class="cabinet wrapper">

                <user-form></user-form>

            </section>

        </main>
        <footer>
        </footer>
    </section>
</template>

<style lang="scss" scoped>
    @import "../assets/styles/main";
    @import "../assets/styles/variables";

    header {
        .title {
            padding-left: 34px;
            margin-bottom: 15px;
        }
    }

    .cabinet.wrapper {
        padding: 20px 30px;
        margin: 0 0 35px 0;
    }

</style  >

<script>
    import UserForm from '../components/user/form-profile';

    export default {
        methods: {
        },
        components: {
            UserForm
        }
    };
</script>
