<template>
    <section class="project-detail">

        <project-detail></project-detail>

    </section>
</template>

<script>
  import ProjectDetail from '../components/project/detail'

  export default {
    name: 'PageProjectDetail',

    components: {
      ProjectDetail
    }
  }
</script>

<style scoped>

</style>