<template>
    <section class="sign-in">

        <form-sign-in></form-sign-in>

    </section>
</template>

<style lang="scss" scoped>
    @import '../assets/styles/main';
</style>

<script>
    import FormSignIn from '../components/user/form-sign-in';

    export default {
        data() {
            return {};
        },
        created() {
        },
        methods: {},
        components: {
            FormSignIn
        }
    }
</script>