<template>
    <section class="timeline-form" v-if="task">
        <div class="container-fluid">
            <div class="row page-title">
                <div class="col">
                    <router-link :to="`/project/${task.project.id}/task/${task.id}`" tag="a" class="navigate">
                        <svg class="svg-source arrow-left" style="width: 20px; height: 20px; fill: #fff;">
                            <use xlink:href="#arrow"></use>
                        </svg>
                        <h1 class="color-primary title">{{ task.title }}</h1>
                    </router-link>
                </div>
            </div>
        </div>
        <div class="container-fluid wrapper">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <h5 class="title text-center">Manage timeline</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 offset-md-3">

                            <timeline-form :task="task"></timeline-form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<style lang="scss" scoped>
    @import "../assets/styles/main";

    .title {
        margin-bottom: 20px;
    }
</style>

<script>
    import TimelineForm from '../components/timeline/form';
    import TaskService from '../services/entity';

    export default {
        data() {
            return {
                taskService: new TaskService('tasks'),
                task: null
            };
        },
        mounted() {
            if (this.$route.params.task_id) {
                this.taskService.fetch({id: this.$route.params.task_id})
                        .then((response) => {
                            this.task = response.task;
                            this.timeline = response.task.timeline;
                        });
            } else {
                this.$router.push('/');
            }
        },
        components: {
            TimelineForm
        }
    }
</script>
