<template>
    <div class="modal fade show" tabindex="-1" role="dialog" v-if="target" id="modal-confirm">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <slot name="title"></slot>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        <slot name="description"></slot>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                            @click="onConfirm">Confirm</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            @click="onCancel">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'target'
        ],
        methods: {
            onConfirm() {
                this.$emit('confirmed', this.target);
            },
            onCancel() {
                this.$emit('cancelled');
            }
        },
        watch: {
            target: function (newValue, oldValue) {
                setTimeout(() => {
                    let action = this.target && !!this.target.item && this.target.action === 'delete' ? 'show' : 'hide';
                    $('#modal-confirm').modal(action);
                }, 100);
            }
        }
    }
</script>
