<template>
    <div class="message alert alert-dismissible fade show" :class="`alert-${messageType}`" role="alert">
        {{ message.content }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                message: {
                    type: '',
                    content: ''
                }
            };
        },
        computed: {
            messageType() {
                return this.message.type;
            }
        }
    }
</script>
