<template>
    <transition name="fade">
        <div class="notification alert-info alert fade show" role="alert" v-if="message">
            <span class="message">{{ message }}</span>
            <button type="button" class="close" aria-label="Close" @click="onClose">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </transition>
</template>

<script>
  export default {
    data () {
      return {
        message: '',
        timeOut: 3
      }
    },

    mounted () {
      window.Event.on('notificationShow', (message) => {
        this.message = message
        setTimeout(() => {
          this.message = ''
        }, this.timeOut * 1000)
      })
    },

    methods: {
      onClose () {
        this.message = ''
      }
    },

    watch: {
      message (newValue) {
        if (!newValue.length) {

        }
      }
    }
  }
</script>

<style lang="scss" scoped>
    @import "../../assets/styles/variables";

    .notification {
        min-width: 320px;
        min-height: 56px;
        position: fixed;
        top: 5px;
        right: 20px;
        left: 20px;
        padding-right: 35px;
        padding-left: 15px;
        background-color: $color-default;
        z-index: 1060;
        margin: 0 0 0 auto;
        border: 1px solid rgba(255, 255, 255, 0.5);
        -webkit-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
        box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);

        .message {
            font-size: 16px;
            color: $text-white;
            margin-bottom: 5px;
            padding-top: 4px;
        }

        .close {
            right: 10px;
            top: 12px;
            padding: 0;
            color: $text-white;
            opacity: 1;
        }
    }

    .fade-enter-active,
    .fade-leave-active {
        transition: opacity .5s;
    }

    .fade-enter,
    .fade-leave-to {
        opacity: 0;
    }
</style>
