<template>
  <form class="form sign-in text-center" @submit.prevent="onSignIn">
    <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
    <div class="form-group required">
      <input type="email" class="form-control" v-model="form.email"
             aria-describedby="email-help" placeholder="Enter email">
      <small id="email-help" class="subtitle form-text text-danger is-invalid"
             v-if="form.errors.has('email')"
             v-text="form.errors.get('email')"></small>
    </div>
    <div class="form-group required">
      <input type="password" class="form-control" v-model="form.password"
             aria-describedby="password-help" placeholder="Password">
      <small id="password-help" class="subtitle form-text text-danger is-invalid"
             v-if="form.errors.has('password')"
             v-text="form.errors.get('password')"></small>
    </div>
    <div class="form-check mb-3">
      <input type="checkbox" class="form-check-input" id="remember">
      <label class="form-check-label" for="remember">Remember me</label>
    </div>
    <button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>
  </form>
</template>

<script>
  export default {
    data() {
      return {
        form: new window.Form({
          email: '',
          password: ''
        })
      }
    },

    methods: {
      onSignIn() {
        let formData = this.form.data()
        let authEncodedString = btoa(`${formData.email}:${formData.password}`)
        /*UserService.catch(errors => {
            this.form.setErrors(errors);
        });*/

        this.form.submit({
          requestPath: 'users/authenticate',
          requestMethod: 'post',
          requestHeaders: {'Authorization': `Basic ${authEncodedString}`}
        })
          .then((response) => {
            if (response && response.data && response.data.token) {
              let currentUser = response.data.user
              window.Auth.set({
                token: response.data.token,
                expire: response.data.expire * 1000,
                instance: currentUser
              })
              window.Event.emit('authenticationSuccess', response.data.user)
              window.Event.emit('profileAvatarChanged', response.data.user.avatar)
              let route = this.$route.query.return || '/'
              this.$router.push(route)
            } else {
              window.Event.emit('notificationShow', 'Error signing in. Check credentials and try again.')
            }
          })
          .catch(response => {
            console.error('ALERT')
            window.Event.emit('notificationShow', 'Error signing in. Check credentials and try again.')
          })
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import '../../assets/styles/_variables';

  .form.sign-in {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;

    .form-control {
      padding: 10px;
      font-size: 16px;
    }
  }
</style>
