<template>
    <section>
        <form v-if="user" class="profile form" @submit.prevent="onSubmit">
            <div class="form-group">
                <div class="profile-avatar"
                     :style="{ 'background-image': `url(${userAvatar})` }">

                    <file-upload :options="getFileUploadOptions()"
                                 v-if="isEditMode"
                                 @uploadComplete="onAvatarChanged"></file-upload>

                </div>
            </div>
            <div class="form-group">
                <label for="name">Login</label>
                <span class="form-control-plaintext">
                    {{ user.login }}
                    <span :style="{ color: user.role.color }">({{ user.role.title }})</span>
                </span>
            </div>
            <div class="form-group" :class="{ required: isEditMode }">
                <label for="name">E-mail</label>
                <span v-if="!isEditMode" class="form-control-plaintext">{{ user.email }}</span>
                <input v-else="isEditMode" type="text" class="form-control" v-model="form.email" id="email" required
                       aria-describedby="email-help" placeholder="Email">
                <small id="email-help" class="subtitle form-text text-danger is-invalid"
                       v-if="form.errors.has('email')"
                       v-text="form.errors.get('email')"></small>
            </div>
            <div class="form-group" :class="{ required: isEditMode }">
                <label for="name">Name</label>
                <span v-if="!isEditMode" class="form-control-plaintext">{{ user.name }}</span>
                <input v-if="isEditMode" type="text" class="form-control" v-model="form.name" id="name" required
                       aria-describedby="name-help" placeholder="Name">
                <small id="title-help" class="subtitle form-text text-danger is-invalid"
                       v-if="form.errors.has('name')"
                       v-text="form.errors.get('name')"></small>
            </div>
            <div v-if="isEditMode" class="form-group">
                <label for="password">Change password</label>
                <input type="password" class="form-control" v-model="form.password" id="password"
                       aria-describedby="password-help" placeholder="Password">
                <small id="password-help" class="subtitle form-text text-danger is-invalid"
                       v-if="passwordError"
                       v-text="passwordError"></small>
                <input type="password" class="form-control" v-model="form.checkPassword" id="checkPassword"
                       aria-describedby="password-help" placeholder="Re-type password">
            </div>
            <button v-if="isEditMode" type="submit" class="btn btn-primary">Save</button>
            <button type="button" v-if="isEditMode" @click="onCancel" class="btn btn-secondary">Cancel</button>
            <button type="button" v-if="!isEditMode" @click="isEditMode = !isEditMode" class="btn btn-primary">Edit
            </button>
        </form>
        <div v-else>No data.</div>
    </section>
</template>

<script>
  import FileUpload from '../attachment/file-upload'

  export default {
    data() {
      return {
        user: null,
        userAvatar: `${window.Config.serviceBaseUrl}/images/avatar-default.svg`,
        isEditMode: false,
        passwordError: '',
        form: new window.Form({
          email: '',
          name: '',
          password: '',
          checkPassword: '',
        })
      }
    },

    created() {
      this.user = window.Auth.getInstance()
      this.form.email = this.user.email
      this.form.name = this.user.name

      if (this.user.avatar) {
        this.userAvatar = `${window.Config.serviceBaseUrl}/${this.user.avatar.path}`
      }
    },

    methods: {
      onCancel() {
        // revert form changes
        this.form.email = this.user.email
        this.form.name = this.user.name

        this.isEditMode = false
      },

      getFileUploadOptions() {
        return {
          fileId: this.user.avatar ? this.user.avatar.id : null,
          fileTypes: 'image/*',
          object: {
            id: this.user.id,
            type: 'user'
          }
        }
      },

      onAvatarChanged(attachment) {
        let sessionUser = window.Auth.getInstance()
        this.user.avatar = sessionUser.avatar = attachment
        this.userAvatar = `${window.Config.serviceBaseUrl}/${this.user.avatar.path}`
        window.Auth.setInstance(sessionUser)
        window.Event.emit('profileAvatarChanged', this.user.avatar)
        this.isEditMode = false
      },

      onSubmit() {
        if (this.form.password && this.form.password !== this.form.checkPassword) {
          this.passwordError = 'Passwords do not match.'
          return
        } else {
          this.passwordError = ''
        }

        let fields = ['name', 'email']
        let data = {}

        for (let i = 0; i < fields.length; i++) {
          let field = fields[i]

          if (this.form[field] !== this.user[field]) {
            data[field] = this.form[field]
          }
        }

        if (this.form.password) {
          data.password = this.form.password
        }

        window.RequestService.put({
          path: 'users/' + this.user.id,
          data: data
        }).then((response) => {
          if (response.result === 'OK' && response.user) {
            this.user.email = this.form.email
            this.user.name = this.form.name

            window.Auth.setInstance(this.user)
            this.isEditMode = false

            window.Event.emit('userDataUpdated', response.user)
          } else if (response.error) {
            console.error(response.error.message)
          }
        })
      }
    },

    components: {
      FileUpload
    }
  }
</script>

<style lang="scss" scoped>
    .profile-avatar {
        width: 100px;
        height: 100px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background: center center no-repeat;
        background-size: cover;
        position: relative;
    }
</style>
