<template>
    <div>
        <div class="row">
            <div class="col">
                <button class="btn btn-primary action add float-right"
                        @click="onAccountCreateShow">Create account
                </button>
            </div>
        </div>
        <form>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="input-email">Filter</label>
                    <input type="text" class="form-control"
                           v-model="filter.email"
                           @blur="onFilterChange()"
                           id="input-email"
                           placeholder="email">
                </div>
                <div class="form-group col-md-4">
                    <label for="input-state">State</label>
                    <select v-model="filter.state" id="input-state" class="form-control">
                        <option value="">all</option>
                        <option value="active">active</option>
                        <option value="inactive">inactive</option>
                    </select>
                </div>
            </div>
        </form>
        <div class="row" v-if="isLoading">
            <div class="col">
                <div class="loader"></div>
            </div>
        </div>
        <div class="row" v-else-if="userList">
            <div class="col">
                <div class="table-responsive-sm">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">#id</th>
                            <th scope="col">email</th>
                            <th scope="col">role</th>
                            <th scope="col">state</th>
                            <th scope="col">actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="userItem in userList">
                            <td>{{ userItem.id }}</td>
                            <td>{{ userItem.email }}</td>
                            <td>
                                <span class="text-lowercase"
                                      :style="{color: userItem.role.color}">{{ userItem.role.title }}</span>
                            </td>
                            <td>
                                <span class="text-lowercase"
                                      :class="{
                                            'color-green': userItem.state.id === '1',
                                            'color-red': userItem.state.id !== '1'
                                        }">{{ userItem.state.title }}</span>
                            </td>
                            <td>
                                <button class="btn btn-primary" @click="onChangeState(userItem)">
                                    {{ userItem.state.id === '1' ? 'disable' : 'enable' }}
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal-account-create" tabindex="-1" role="dialog"
             aria-labelledby="modal-account-create-label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-truncate"
                            id="modal-account-create-label">Create a new account</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col">
                                <form>
                                    <div class="form-group">
                                        <label for="form-account-create-email">Email</label>
                                        <input type="email"
                                               class="form-control"
                                               id="form-account-create-email"
                                               v-model="formAccount.email"
                                               aria-describedby="form-account-create-email-help"
                                               required>
                                        <small id="form-account-create-email-help"
                                               class="subtitle form-text text-danger is-invalid"
                                               v-if="formAccount.errors.has('email')"
                                               v-text="formAccount.errors.get('email')"></small>
                                    </div>
                                    <div class="form-group">
                                        <label for="form-account-create-login">Login</label>
                                        <input type="text"
                                               class="form-control"
                                               id="form-account-create-login"
                                               v-model="formAccount.login"
                                               aria-describedby="form-account-create-login-help"
                                               required>
                                        <small id="form-account-create-login-help"
                                               class="subtitle form-text text-danger is-invalid"
                                               v-if="formAccount.errors.has('login')"
                                               v-text="formAccount.errors.get('login')"></small>
                                    </div>
                                    <div class="form-group">
                                        <label for="form-account-create-name">Name</label>
                                        <input type="text"
                                               class="form-control"
                                               id="form-account-create-name"
                                               v-model="formAccount.name"
                                               aria-describedby="form-account-create-name-help"
                                               required>
                                        <small id="form-account-create-name-help"
                                               class="subtitle form-text text-danger is-invalid"
                                               v-if="formAccount.errors.has('name')"
                                               v-text="formAccount.errors.get('name')"></small>
                                    </div>
                                    <div class="form-group">
                                        <label for="form-account-create-password">Password</label>
                                        <input type="password"
                                               class="form-control"
                                               id="form-account-create-password"
                                               v-model="formAccount.password"
                                               aria-describedby="form-account-create-password-help"
                                               required>
                                        <small id="form-account-create-password-help"
                                               class="subtitle form-text text-danger is-invalid"
                                               v-if="formAccount.errors.has('password')"
                                               v-text="formAccount.errors.get('password')"></small>
                                    </div>
                                    <div class="form-group">
                                        <label for="form-account-create-password-confirm">Password confirmation</label>
                                        <input type="password"
                                               class="form-control"
                                               id="form-account-create-password-confirm"
                                               v-model="formAccount.password_confirm"
                                               aria-describedby="form-account-create-password-confirm-help"
                                               required>
                                        <small id="form-account-create-password-confirm-help"
                                               class="subtitle form-text text-danger is-invalid"
                                               v-if="formAccount.errors.has('password_confirm')"
                                               v-text="formAccount.errors.get('password_confirm')"></small>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <button type="button" class="btn btn-primary" @click="onAccountCreate">Save</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    @import "../../assets/styles/main";

    .title {
        margin-bottom: 30px;
    }

    .table {
        box-shadow: $shadow;

        th {
            background: $color-blue-light;
            color: $text-white;
        }
    }
</style>

<script>
    import EntityService from '../../services/entity';

    export default {
        data() {
            return {
                filter: new window.Form({
                    email: '',
                    state: ''
                }),
                formAccount: new window.Form({
                    login: '',
                    name: '',
                    email: '',
                    password: '',
                    password_confirm: ''
                }),
                userList: [],
                userService: new EntityService('users'),
                isLoading: false
            }
        },
        mounted() {
            this.fetchList();
        },
        methods: {
            onChangeState(item) {
                this.userService.update({
                    id: item.id,
                    state: (parseInt(item.state.id) === 1 ? 3 : 1)
                })
                    .then((response) => {
                        item.state = response.user.state;
                    })
                    .catch((response) => {
                        console.error(response);
                    });
            },
            onFilterChange() {
                this.fetchList();
            },
            fetchList() {
                this.isLoading = true;
                let filterData = {};
                let requestFilterQuery = {};

                if (this.filter.email.length) {
                    filterData['email'] = {l: `%${this.filter.email}%`};
                }

                if (this.filter.state.length) {
                    filterData['state'] = {l: `%${this.filter.state}%`};
                }

                if (Object.keys(filterData).length) {
                    requestFilterQuery = {
                        query: `where=${JSON.stringify(filterData)}`
                    };
                }

                this.userService.fetchList(requestFilterQuery)
                    .then((response) => {
                        this.userList = response.users;
                        this.isLoading = false;
                    });
            },
            onAccountCreateShow() {
                $('#modal-account-create').modal('show');
            },
            onAccountCreate() {
                if (this.accountFormValidate()) {
                    let formData = Object.assign({}, this.formAccount);
                    formData.state = 1;

                    this.userService.create(formData)
                        .then((response) => {
                            this.fetchList();
                            $('#modal-account-create').modal('hide');
                        })
                        .catch((response) => {
                            console.error(response);
                            if (response.error) {
                                let message = response.error.message
                                    ? response.error.message
                                    : 'Cannot create account.';
                                window.Event.emit('notificationShow', message);
                            }
                        })
                }
            },
            accountFormValidate() {
                this.formAccount.errors.clear();
                let errors = {};
                let emailValidation = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

                if (!this.formAccount.login.length) {
                    errors.login = 'Login cannot be null.';
                }

                if (!this.formAccount.email.length) {
                    errors.email = 'Email cannot be null.';
                }

                if (!emailValidation.test(this.formAccount.email.toLowerCase())) {
                    errors.email = 'Email has wrong format.';
                }

                if (!this.formAccount.name.length) {
                    errors.name = 'Name cannot be null.';
                }

                if (!this.formAccount.password.length) {
                    errors.password = 'Password cannot be null.';
                }

                if (!this.formAccount.password_confirm.length) {
                    errors.password_confirm = 'Password confirmation cannot be null.';
                }

                if (this.formAccount.password !== this.formAccount.password_confirm) {
                    errors.password_confirm = 'Entered passwords does not match.';
                }

                if (!!Object.keys(errors).length) {
                    this.formAccount.errors.set(errors);

                    return false;
                }

                return true;
            }
        }
    }
</script>
