<template>
    <section class="file-upload">

        <form-upload @onFileSelectComplete="onFileSelectComplete"
                     :options="getOptions()"
                     :event-action="eventAction"
                     v-if="!isUploading">
            <svg class="svg-source" slot="button-content">
                <use xlink:href="#paperclip-white"></use>
            </svg>
        </form-upload>

        <div class="loader" v-else></div>
    </section>
</template>

<script>
  import FormUpload    from './upload/form'
  import EntityService from '../../services/entity'

  export default {
    name: 'FileUpload',

    props: [
      'options',
      'eventAction'
    ],

    data() {
      return {
        fileService: new EntityService('attachments'),
        fileUpdateService: new EntityService('attachments/change'),
        isUploading: false
      }
    },

    computed: {
      buttonStyles() {
        return this.options && this.options.buttonStyles || {
          position: 'absolute',
          top: '50%',
          left: '50%',
          '-webkit-transform': 'translate(-50%, -50%)',
          '-moz-transform': 'translate(-50%, -50%)',
          '-ms-transform': 'translate(-50%, -50%)',
          '-o-transform': 'translate(-50%, -50%)',
          transform: 'translate(-50%, -50%)',
          lineHeight: '36px'
        }
      },

      buttonClasses() {
        return this.options && this.options.buttonClasses || {'btn': true, 'btn-primary': true, 'btn-round': true}
      }
    },

    methods: {
      onFileSelectComplete(files) {
        if (!files.length || !this.options.object.id || !this.options.object.type) {
          return
        }

        let data = new FormData()
        data.append('file', files[0])
        data.append('object_id', this.options.object.id)
        data.append('object_type', this.options.object.type)

        if (this.options.object.project_id) {
          data.append('project_id', this.options.object.project_id)
        }

        this.isUploading = true

        if (this.options.fileId) {
          data.append('id', this.options.fileId)

          this.fileUpdateService.create(data)
            .then(response => {
              this.$emit('uploadComplete', response.attachment)
              this.isUploading = false
            })
            .catch((error) => {
              console.error(error)
              window.Event.emit('notificationShow', 'File upload error. Reload page and try again.')
              this.isUploading = false
            })
        } else {
          this.fileService.create(data)
            .then(response => {
              this.$emit('uploadComplete', response.attachment)
              this.isUploading = false
            })
            .catch((error) => {
              console.error(error)
              window.Event.emit('notificationShow', 'File upload error. Reload page and try again.')
              this.isUploading = false
            })
        }

        return data
      },

      getOptions() {
        let options = {
          buttonStyles: this.buttonStyles,
          buttonClasses: this.buttonClasses
        }

        if (this.options && this.options.hasOwnProperty('fileTypes')) {
          options.fileTypes = this.options.fileTypes
        }

        return options
      }
    },

    components: {
      FormUpload
    }
  }
</script>

<style lang="scss" scoped>
    @import "../../assets/styles/main";
</style>
