<template>
  <section class="conversation">

    <loader v-if="isLoading"></loader>

    <div class="h-100" v-else>
      <div class="conversation-title text-uppercase text-center text-truncate">
        <span class="title" v-text="`Chat with ${participant.name}`"></span>
        <div class="participant-state"
             :class="{
          'active': participant.state === 1,
          'inactive': participant.state !== 1
         }"></div>
      </div>

      <div class="action close color-danger" @click="onConversationClose"><i class="material-icons">close</i></div>

      <message-list :auth="auth"
                    :messages="messages"
                    @messageRemove="onMessageRemove"/>

      <message-form :auth="auth" :conversationId="id" @messageAdd="onMessageAdd"/>

    </div>

  </section>
</template>

<script>
  import Loader      from '../../common/loader/View'
  import MessageForm from '../message/Form'
  import MessageList from '../message/List'

  export default {
    name: 'MessagingConversationView',

    components: { Loader, MessageForm, MessageList },

    props: ['conversationId', 'auth', 'participant', 'socket'],

    data() {
      return {
        id: this.conversationId,
        messages: [],
        isLoading: true
      }
    },

    mounted() {
      this.socket.on('RESPONSE_MESSAGING_CONVERSATION_INITIALIZE', id => {
        this.id = id
        this.messageListFetch()
      })

      this.socket.on('RESPONSE_MESSAGING_MESSAGE_FETCH_LIST', data => {
        this.messages = JSON.parse(data)
        this.isLoading = false
        this.$nextTick(() => {
          window.Event.emit('messagingMessageListScrollToBottom')
        })
      })

      this.socket.on('RESPONSE_MESSAGING_MESSAGE_CREATE', data => {
        this.messageListFetch()
      })

      this.socket.on('RESPONSE_MESSAGING_MESSAGE_REMOVE', data => {
        this.messageListFetch()
      })
    },

    methods: {
      onConversationClose() {
        this.$emit('conversationClose')
      },

      messageListFetch() {
        //this.isLoading = true
        this.socket.emit('REQUEST_MESSAGING_MESSAGE_FETCH_LIST', { conversation_id: +this.id })
      },

      onMessageAdd(message) {
        this.socket.emit('REQUEST_MESSAGING_MESSAGE_CREATE', message)
      },

      onMessageRemove(message) {
        this.socket.emit('REQUEST_MESSAGING_MESSAGE_REMOVE', message)
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "../../../assets/styles/mixins";
  @import "../../../assets/styles/variables";

  .conversation {
    height: 100%;

    .conversation-title {
      position: absolute;
      top: -25px;
      margin: 0 auto;
      width: 100%;
      display: flex;

      .title {
        margin: 0 0 0 70px;
      }
    }

    .participant-state {
      width: 10px;
      height: 10px;
      background-color: #ccc;
      @include border-radius(50%);
      margin: 7px;

      &.active {
        background-color: $color-success;
      }

      &.inactive {
        background-color: $color-error;
      }
    }

    .action.close {
      position: absolute;
      top: -25px;
      right: 13px;
    }
  }
</style>
