<template>
    <section class="system-settings wrapper">
        <div class="row" v-if="isLoading">
            <div class="col">
                <div class="loader"></div>
            </div>
        </div>

        <div class="row" v-else>
            <div class="col">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active"
                           id="pills-tab-api-keys"
                           data-toggle="pill"
                           href="#pills-api-keys"
                           role="tab"
                           aria-controls="pills-home"
                           aria-selected="true">API keys</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           id="pills-tab-users"
                           data-toggle="pill"
                           href="#pills-users"
                           role="tab"
                           aria-controls="pills-users"
                           aria-selected="false">Users</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tab-content">
                    <div class="tab-pane fade show active"
                         id="pills-api-keys"
                         role="tabpanel"
                         aria-labelledby="pills-tab-api-keys">

                        <api-keys></api-keys>

                    </div>
                    <div class="tab-pane fade"
                         id="pills-users"
                         role="tabpanel"
                         aria-labelledby="pills-tab-users">

                        <user-list></user-list>

                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import ApiKeys from '../../components/settings/api-keys';
    import UserList from '../../components/user/list';

    export default {
        data() {
            return {
                isLoading: true
            };
        },
        mounted() {
            this.isLoading = false;
        },
        components: {
            ApiKeys,
            UserList
        }
    }
</script>