<template>
  <section class="members">

    <div class="container member-list">
      <div class="row">
        <div class="col-12 member-wrap"
             v-for="memberItem in filteredMemberList"
             @click="onMemberSelect(memberItem)">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-2">
                  <div class="avatar-wrap">
                    <div class="avatar" v-if="!memberItem.avatar">
                    </div>
                    <div class="avatar" v-else
                         :style="{ 'background-image': `url(${memberItem.avatar.path})` }"></div>
                    <div class="state"
                         :class="{
                        'active': memberItem.state === 1,
                        'inactive': memberItem.state === 0
                       }"></div>
                  </div>
                </div>

                <div class="col-8">
                  <div class="name">{{ memberItem.name }}</div>
                </div>

                <div class="col-2">
                  <span class="badge badge-pill badge-warning badge-round unread-messages"
                        v-if="memberItem.unread">{{ memberItem.unread }}</span>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container member-filter-form">
      <div class="divider"></div>

      <div class="row">
        <div class="col">
          <form class="">
            <div class="form-group">
              <input type="text"
                     class="form-control"
                     placeholder="Search by name or email"
                     v-model="formFilter.search"
                     @keyup="onFilterSearchChange">
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  const MESSAGING_STATE_AVAILABLE = 1
  const MESSAGING_STATE_NOT_AVAILABLE = 2

  export default {
    name: 'MessagingMemberList',

    props: ['auth', 'socket'],

    data() {
      return {
        formFilter: new window.Form({
          search: ''
        }),
        memberList: [],
        filteredMemberList: [],
        isLoading: true
      }
    },

    mounted() {
      this.socket.on('RESPONSE_MESSAGING_MEMBER_FETCH_LIST', data => {
        data = JSON.parse(data)
        this.memberList = data.filter(member => member.id !== this.auth.id)
        this.filteredMemberList = this.memberList
        this.isLoading = false
      })
      this.membersListFetch()
    },

    methods: {
      onMemberSelect(member) {
        this.socket.emit('REQUEST_MESSAGING_CONVERSATION_INITIALIZE', {
          participants: [this.auth.id, member.id]
        })
        this.$emit('memberSelect', member)
      },

      onFilterSearchChange() {
        if (this.formFilter.search.length) {
          this.filteredMemberList = this.memberList.filter((member) => {
            return member.name.toLowerCase().includes(this.formFilter.search.toLowerCase())
              || member.email.toLowerCase().includes(this.formFilter.search.toLowerCase())
          })
        } else {
          this.filteredMemberList = this.memberList
        }
      },

      membersListFetch() {
        this.socket.emit('REQUEST_MESSAGING_MEMBER_FETCH_LIST', {})
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "../../../assets/styles/mixins";
  @import "../../../assets/styles/variables";

  .members {
    height: 100%;

    .member-list {
      max-height: calc(100% - 98px);
      overflow-y: auto;

      .member-wrap {
        margin-bottom: 5px;

        .card {
          border-color: transparent;
          cursor: pointer;

          &:hover {
            border-color: rgba(0, 0, 0, 0.125);

            @include box-shadow(
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 1px 5px 0 rgba(0, 0, 0, 0.12)
            );
          }

          .card-body {
            padding: 12px;

            .avatar-wrap {
              position: relative;
              width: 40px;
              height: 40px;
              background-color: #fff;
            }

            .avatar {
              width: 100%;
              height: 100%;
              margin-right: 4px;
              background: no-repeat center center;
              background-size: cover;
              @include box-shadow(inset 0 0 1px rgba(0, 0, 0, .2));
              @include border-radius(50%);
            }

            .state {
              position: absolute;
              top: 18px;
              right: 0;
              width: 10px;
              height: 10px;
              background-color: #ccc;
              @include border-radius(50%);
              margin: 10px 0;

              &.active {
                background-color: $color-success;
              }

              &.inactive {
                background-color: $color-error;
              }
            }

            .name {
              padding: 3px 0;
            }

            .unread-messages {
              color: #ffffff;
            }
          }
        }
      }
    }

    .member-filter-form {
      position: absolute;
      bottom: 0;

      form {
        margin: 5px 0;

        input {
          &::placeholder {
            font-size: 0.8em;
          }

          &::-webkit-input-placeholder {
            font-size: 0.8em;
          }

          &::-moz-placeholder {
            font-size: 0.8em;
          }

          &:-ms-input-placeholder {
            font-size: 0.8em;
          }

          &:-moz-placeholder {
            font-size: 0.8em;
          }
        }
      }
    }
  }
</style>
