<template>
    <section class="">
        <div class="row" v-if="isLoading">
            <div class="col-sm-12">
                <div class="loader"></div>
            </div>
        </div>
        <div class="row" v-else-if="subTask.id">
            <div class="col">
                <div class="row page-title">
                    <div class="col">
                        <router-link :to="`/project/${task.project.id}/task/${task.id}`" tag="a" class="navigate">
                            <svg class="svg-source" style="width: 20px; height: 20px;">
                                <use xlink:href="#arrow"></use>
                            </svg>
                            <h1 class="color-primary">{{ task.title }}</h1>
                        </router-link>
                    </div>
                </div>
                <div class="row sub-task-content">
                    <div class="col-lg-4 col-md-12 item-description">
                        <div class="container wrapper">
                            <div class="row">
                                <div class="col-12">
                                    <div class="sub-task-image-wrapper">
                                        <div class="sub-task-image"
                                             :style="{'background-image': `url(${subTask.image})`}"></div>

                                        <form-attachment :options="getTaskAttachmentOptions"
                                                         @uploadComplete="onImageUploadForSubTaskComplete"
                                        ></form-attachment>

                                    </div>
                                </div>
                                <div class="col-12 actions">
                                    <button class="btn btn-danger action delete float-right"
                                            title="Remove image"
                                            v-if="subTask.image"
                                            @click="onSubTaskImageDelete">
                                        <svg class="svg-source" stroke="#fff">
                                            <use xlink:href="#delete" stroke="#fff"></use>
                                        </svg>
                                    </button>

                                    <button class="btn btn-primary action download-pdf float-right"
                                            title="Download PDF"
                                            @click="onDownloadPDF"
                                            v-if="subTask && subTask.attachments && subTask.attachments.length">
                                        <svg class="svg-source" style="width: 20px; height: 20px;" stroke="#fff"
                                             v-if="!isExportingPDF">
                                            <use xlink:href="#upload"></use>
                                        </svg>
                                        <div class="loader" v-else></div>
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <button class="btn btn-outline-primary action comments float-right"
                                            @click="onCommentsToggle" style="display: flex;">
                                        <svg class="svg-source" style="width: 24px; height: 20px;" stroke="#007bff">
                                            <use xlink:href="#notification"></use>
                                        </svg>
                                        <span style="margin: 0 20px;">{{ isFormPanelActive ? 'View comments' : 'View form' }}</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12">
                        <transition name="slide-item-data">
                            <div class="container wrapper" v-if="isFormPanelActive">
                                <div class="row">
                                    <div class="col item-form">
                                        <div class="row">
                                            <div class="col">
                                                <h1 class="item-title" contenteditable="true"
                                                    v-html="subTask.title"
                                                    @focusout="onContentChange($event, 'title')"></h1>
                                            </div>
                                        </div>
                                        <div class="row item-description">
                                            <div class="col">
                                                <div class="content" contenteditable="true"
                                                     v-html="subTask.description"
                                                     @focusout="onContentChange($event, 'description')"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">

                                        <modules-list :sub-task="subTask"></modules-list>

                                    </div>
                                </div>
                            </div>
                        </transition>
                        <transition name="slide-comments">
                            <div class="container wrapper" v-if="isCommentsPanelActive">
                                <div class="sub-task-comments">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="title">comments</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <comments :object="commentObject"></comments>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </transition>
                    </div>
                </div>
                <canvas ref="canvas" class="hidden"></canvas>
            </div>
        </div>

        <div id="modal-image-export" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Exported image</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <a :href="getExportedImageLink()" v-if="exportedImage"
                           target="_blank">Download PDF</a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
  import EntityService  from '../../../services/entity'
  import FormAttachment from '../../attachment/file-upload'
  import Comments       from '../../comment/list'
  import moment         from 'moment'
  import ModulesList    from './module/list'

  export default {
    data() {
      return {
        task: {
          id: null,
          project: {}
        },
        subTask: {
          id: null,
          title: '',
          description: '',
          image: '',
          modules: [],
        },
        taskService: new EntityService('tasks'),
        attachmentService: new EntityService('attachments'),
        isFormPanelActive: true,
        isCommentsPanelActive: false,
        isLoading: false,
        exportedImage: null,
        isExportingPDF: false
      }
    },
    mounted() {
      this.task.id = this.$route.params.task_id
      this.task.project.id = this.$route.params.project_id
      this.subTask.id = this.$route.params.sub_task_id

      if (!this.task.project.id || !this.task.id || !this.subTask.id) {
        this.$router.push('/not-found')
      } else {
        this.isLoading = true
        this.taskService.fetch({id: this.task.id})
          .then((response) => {
            this.task = response.task
            this.fetch()
          })
      }
    },
    computed: {
      getTaskAttachmentOptions() {
        return {
          fileTypes: 'image/*',
          fileId: this.subTask.attachments.length ? this.subTask.attachments[0].id : null,
          object: {
            id: this.subTask.id,
            type: 'task',
            project_id: this.task.project.id
          }
        }
      },
      commentObject() {
        let object = Object.assign({}, this.subTask)
        object.type = 'task'

        return object
      }
    },
    methods: {
      fetch() {
        this.isLoading = true
        this.taskService.fetch({id: this.subTask.id})
          .then((response) => {
            this.subTask = response.task

            if (this.subTask.attachments.length) {
              this.subTask.image = `${window.Config.serviceBaseUrl}/${this.subTask.attachments[this.subTask.attachments.length - 1].path}`
            }

            this.isLoading = false
          })
          .catch((error) => {
            this.isLoading = false
          })
      },
      onContentChange(event, field) {
        let fieldContent = event.target.innerHTML

        if (this.subTask.hasOwnProperty(field) && fieldContent.length && this.subTask[field] !== fieldContent) {
          let data = {
            id: this.subTask.id,
            updated_at: moment().format('YYYY-MM-DD HH:mm:ss')
          }
          data[field] = fieldContent
          this.taskService.update(data).then((response) => {
            this.subTask = response.task
          })
        }
      },
      onImageUploadForSubTaskComplete(data) {
        this.fetch()
        this.subTask.image = `${window.Config.serviceBaseUrl}/${data[0].path}`
      },
      onSubTaskImageDelete() {
        if (this.subTask.attachments.length) {
          this.attachmentService.delete(this.subTask.attachments[0].id)
            .then((response) => {
              this.subTask.attachments.slice(0, 1)
              this.subTask.image = ''
              this.fetch()
            })
        }
      },
      onDownloadPDF() {
        this.isExportingPDF = true
        if (this.subTask.image.length) {
          window.RequestService.get({path: `tasks/${this.subTask.id}/pdf-image`})
            .then((response) => {
              if (response.image) {
                this.exportedImage = response.image
                $('#modal-image-export').modal('show')
              }
              this.isExportingPDF = false
            })
            .catch((response) => {})
        }
      },
      getExportedImageLink() {
        return this.exportedImage ? `${window.Config.serviceBaseUrl}/${this.exportedImage}` : ''
      },
      onCommentsToggle() {
        if (this.isFormPanelActive) {
          this.isFormPanelActive = false
          setTimeout(() => {
            this.isCommentsPanelActive = true
          }, 600)
        } else {
          this.isCommentsPanelActive = false
          setTimeout(() => {
            this.isFormPanelActive = true
          }, 600)
        }
      }
    },
    components: {
      Comments,
      FormAttachment,
      ModulesList
    }
  }
</script>

<style lang="scss" scoped>
    @import "../../../assets/styles/main";

    .wrapper {
        padding: 20px;
    }

    .item-title {
        font-size: 22px;
        font-weight: 400;
        color: $color-primary;
        border: 1px solid #ccc;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        padding: 10px;
        margin: 10px 0 40px 0;
    }

    .item-description {
        & > .container {
            padding-bottom: 20px;
        }

        .content {
            border: 1px solid #cccccc;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            padding: 10px;
            height: 220px;
            overflow-y: auto;
        }
    }

    .download-pdf,
    .delete {
        font-size: 0;
    }

    .svg-source.arrow-left {
        width: 20px;
        height: 20px;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .sub-task-content {
        position: relative;

        .title {
            border-bottom: 1px solid #ccc;
            padding-bottom: 15px;
        }

        .sub-task-image-wrapper {
            width: 100%;
            height: 400px;
            overflow: hidden;
            margin: 10px 0;

            .sub-task-image {
                width: 100%;
                height: auto;
                min-height: 400px;
                background: #eee no-repeat center center;
                background-size: contain;
            }
        }

        .actions {
            .action {
                margin: 5px;
            }
        }
    }

    .action.comments {
        margin: 10px 5px;
    }

    .sub-task-comments {
        .title {
            padding-bottom: 25px;
            text-align: center;
            border-bottom: 1px solid #ccc;
        }
    }

    .slide-item-data-enter-active,
    .slide-item-data-leave-active,
    .slide-comments-enter-active,
    .slide-comments-leave-active {
        transition: 0.5s ease-in-out;
    }

    .slide-item-data-enter,
    .slide-item-data-leave-to {
        -webkit-transform: translate(150%, 0);
        -moz-transform: translate(150%, 0);
        -ms-transform: translate(150%, 0);
        -o-transform: translate(150%, 0);
        transform: translate(150%, 0);
    }

    .slide-comments-enter,
    .slide-comments-leave-to {
        -webkit-transform: translate(150%, 0);
        -moz-transform: translate(150%, 0);
        -ms-transform: translate(150%, 0);
        -o-transform: translate(150%, 0);
        transform: translate(150%, 0);
    }
</style>
