<template>
    <section class="sub-task-list">

        <div class="row sortable-wrapper" :class="{ disabled: isSortingRequest }">

            <div class="loader" v-if="isSortingRequest"></div>

            <div class="col-12 item-sub-task" v-for="(subTaskItem, index) in list"
                 :index="index"
                 :key="index"
                 :draggable="!isSortingRequest"
                 :class="{
                  'draggable' : !isSortingRequest,
                  'is-dragging': dragging.target === index,
                  'is-replace': dragging.replace === index
                 }"
                 @dragstart.stop="onDragStart(index)"
                 @dragenter.stop="onDragEnter()"
                 @dragover.prevent.stop="onDragOver($event, index)"
                 @drop.stop="onDrop($event, index)"
                 @dragleave.stop="onDragLeave($event, index)"
                 @dragend.stop="onDragEnd()"
            >
                <div class="card">
                    <div class="card-body row">
                        <div class="card-image col-lg-2 col-md-3 col-sm-12">
                            <div class="item-sub-task-image-wrap">
                                <img class="item-sub-task-image" v-if="getSubTaskImage(subTaskItem) !== null"
                                     :src="getSubTaskImage(subTaskItem)"
                                     :alt="subTaskItem.title">
                                <div class="item-sub-task-image-wrapper" v-else></div>
                            </div>
                        </div>
                        <div class="card-content col-lg-5 col-md-4 col-sm-12">
                            <h5 class="card-title" v-text="subTaskItem.title"></h5>
                            <p class="card-text">
                                <small class="text-muted"
                                >{{ subTaskItem.updated_at | humanizeDate }}
                                </small>
                            </p>
                        </div>
                        <div class="col-lg-5 col-md-12 col-sm-12">
                            <div class="row justify-content-end">
                                <div class="col modules-info"
                                     v-for="subTaskItemModule in subTaskItem.modules">
                                    <div class="module-wrap">AR</div>
                                    <div class="module-type">{{ subTaskItemModule.type }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 card-actions">
                            <router-link
                                    :to="`/project/${subTaskItem.project.id}/task/${subTaskItem.primary.id}/sub-task/${subTaskItem.id}`"
                                    tag="a" class="btn btn-primary action view float-right">
                                <svg class="svg-source arrow-right" stroke="#fff">
                                    <use xlink:href="#arrow"></use>
                                </svg>
                            </router-link>

                            <button class="btn btn-danger action delete float-right"
                                    @click="onSubTaskRemove(subTaskItem)"
                                    :disabled="isSortingRequest">
                                <svg class="svg-source" stroke="#fff">
                                    <use xlink:href="#delete"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <confirm :target="target"
                 @confirmed="onSubTaskRemoveConfirm"
                 @cancelled="onSubTaskRemoveCancel">
            <div slot="title">Confirm sub-task deletion</div>
            <div slot="description">Are you really want to delete the sub-task?</div>
        </confirm>

    </section>
</template>

<style lang="scss" scoped>
    @import "../../../assets/styles/main";

    .loader {
        position: absolute;
        top: 10px;
        right: 0;
        left: 0;
    }

    .sortable-wrapper {
        &.disabled {
            .card {
                background-color: #ccc;
            }
        }
    }

    .item-sub-task {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        .item-sub-task-image-wrapper {
            width: 100px;
            height: 100px;
            background: center center no-repeat;
            background-size: contain;
            -webkit-box-shadow: 2px 2px 4px 1px #ccc;
            -moz-box-shadow: 2px 2px 4px 1px #ccc;
            box-shadow: 2px 2px 4px 1px #ccc;
        }

        .item-sub-task-image-wrap {
            width: 100px;
        }

        .item-sub-task-image {
            width: 100%;
            height: auto;
            background: center center no-repeat;
            background-size: contain;
            -webkit-box-shadow: 2px 2px 4px 1px #ccc;
            -moz-box-shadow: 2px 2px 4px 1px #ccc;
            box-shadow: 2px 2px 4px 1px #ccc;
        }

        .action {
            line-height: 42px;
            padding-top: 0;
            padding-bottom: 0;

            svg {
                vertical-align: middle;
            }

            &.delete:disabled {
                background-color: #ccc;
                border-color: #ccc;
            }
        }

        .modules-info {
            margin: 20px 0;

            .module-wrap {
                width: 55px;
                height: 55px;
                background-color: #0096d5;
                border-radius: 50%;
                margin: 0 auto;
                padding: 13px 13px;
                color: #fff;
            }

            .module-type {
                color: #0096d5;
                text-align: center;
                text-transform: capitalize;
            }
        }

        .card {
            margin-top: 30px;

            .card-title {
                margin: 10px 0;
            }

            .card-actions {
                .action {
                    margin: 0 5px;
                }
            }
        }

        .action {
            .svg-source.arrow-right {
                -webkit-transform: rotate(-90deg);
                -moz-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                -o-transform: rotate(-90deg);
                transform: rotate(-90deg);
            }
        }

        &.draggable.is-dragging {
            .card {
                background-color: $color-default;
            }
        }

        &.draggable.is-replace {
            .card {
                border: 2px solid $color-default;
            }
        }
    }
</style>

<script>
    import EntityService from '../../../services/entity';
    import moment        from 'moment';
    import Confirm       from '../../confirm/confirm';

    export default {
        props: [
            'list'
        ],
        data() {
            return {
                taskService: new EntityService('tasks'),
                target: null,
                dragging: {
                    target: null,
                    replace: null
                },
                isSortingRequest: false
            };
        },
        methods: {
            getSubTaskImage(item) {
                if (item.attachments.length) {
                    return `${window.Config.serviceBaseUrl}/${item.attachments[item.attachments.length - 1].path}`;
                }

                return null;
            },
            onSubTaskRemove(item) {
                this.target = {
                    item: Object.assign({}, item),
                    type: 'sub-task',
                    action: 'delete'
                };
            },
            onSubTaskRemoveConfirm() {
                if (this.target
                    && this.target.item
                    && this.target.item.id
                    && this.target.action === 'delete'
                    && this.target.type === 'sub-task') {
                    this.taskService.delete(this.target.item.id)
                        .then((response) => {
                            this.target = null;
                            this.$emit('onSubTaskItemRemoved', {});
                        });
                }
            },
            onSubTaskRemoveCancel() {
                this.target = null;
            },
            onDragStart(index) {
                this.dragging.target = index;
            },
            onDragEnter() {
            },
            onDragOver(event, index) {
                if (index !== null && index !== undefined && this.dragging.replace !== index) {
                    event.dataTransfer.dropEffect = 'move';
                    this.dragging.replace = index;
                }
            },
            onDrop(event, index) {
                if (index !== null && index !== undefined && this.dragging.target !== index) {
                    this.isSortingRequest = true;
                    window.RequestService.put({
                        path: 'tasks/sort-replace',
                        data: {
                            target: this.list[this.dragging.target].id,
                            replace: this.list[index].id
                        }
                    })
                        .then((response) => {
                            if (response.sorted) {
                                let target = this.list[this.dragging.target];
                                this.list[this.dragging.target] = this.list[this.dragging.replace];
                                this.list[this.dragging.replace] = target;
                                this.dragClear();
                            }
                            this.isSortingRequest = false;
                        })
                        .catch((response) => {
                        });
                }

                if (index === this.dragging.target) {
                    this.dragClear();
                }
            },
            onDragLeave(event, index) {
                if (index && this.dragging.replace === index) {
                    //this.dragging.replace = null;
                }
            },
            onDragEnd() {
                //this.dragClear();
            },
            dragClear() {
                this.dragging = {target: null, replace: null};
            }
        },
        filters: {
            humanizeDate(item) {
                return moment(item).fromNow();
            }
        },
        components: {
            Confirm
        }
    }
</script>