<template>
  <section class="container message-form">

    <div class="divider"></div>

    <div class="row">
      <div class="col-12">
        <form>
          <div class="form-group">
            <textarea class="form-control"
                      rows="1"
                      :disabled="isSubmitting"
                      ref="messageText"
                      v-model="form.message"
                      @keyup.ctrl.enter="onMessageSend"></textarea>
            <button class="btn btn-primary"
                    @click="onMessageSend"
                    :disabled="isSubmitting || !form.message.length || !(/\S/).test(this.form.message)">
              <span v-if="!isSubmitting">SEND</span>
              <span class="form-submitting" v-else>...</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'MessageForm',

    props: ['auth', 'conversationId'],

    data() {
      return {
        form: new window.Form({
          message: ''
        }),
        isSubmitting: false
      }
    },

    methods: {
      onMessageSend() {
        if (this.form.message.length) {
          this.isSubmitting = true
          let dateNow = moment().format('YYYY-MM-DD HH:mm:ss')
          let linkRegexp = /(https?:\/\/[^\s]+)/g
          this.$emit('messageAdd', {
            creator_id: this.auth.id,
            conversation_id: this.conversationId,
            content: this.form.message.trim().replace(/\n\r?/g, '<br/>').replace(linkRegexp, '<a href="$1">$1</a>'),
            state: 1,
            created_at: dateNow,
            updated_at: dateNow
          })
          this.form.message = ''
          setTimeout(() => {
            this.isSubmitting = false
            this.$nextTick(() => {
              this.$refs.messageText.focus()
            })
          }, 1000)
        }
      }
    },

    watch: {
      'form.message': function (value) {
        let rowsCount = Math.min(value.split(/\r*\n/).length, 2)

        this.$refs.messageText.rows = rowsCount
        window.Event.emit('messagingConversationFormExpand', rowsCount >= 2)
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "../../../assets/styles/mixins";

  .message-form {
    position: absolute;
    bottom: 0;

    form {
      margin: 5px 0;

      .form-group {
        display: flex;

        textarea {
          min-height: 38px;
          padding: 6px 10px;
          resize: none;
          width: 100%;
        }

        button {
          @include border-radius(0.25em);
          margin: 0 0 0 5px;
          padding: 10px 12px;
          background-color: #2196f3;
          width: 76px;

          .form-submitting {
            font-size: 24px;
            line-height: 0;
          }
        }
      }
    }
  }
</style>
