<template>
  <section class="container message-list"
           :class="{ 'form-expanded': isFormExpanded }"
           ref="messageList">
    <div class="row">
      <div class="col-12" v-for="message in messages">
        <div class="card message"
             :class="{ 'from-current': isCreator(message), 'from-participant': !isCreator(message) }"
             v-if="message.state === 1">
          <div class="container">
            <div class="row">
              <div class="col message-info">
                <div class="avatar-wrap" :class="{ 'order-last': isCreator(message) }">
                  <div class="avatar"
                       :style="{
                         backgroundImage: 'url(../../assets/images/logo.png)',
                         margin: isCreator(message) ? 'auto' : '0'
                       }"></div>
                </div>
                <div class="creation" :class="{ 'text-right order-1': isCreator(message) }">
                  <small class="text-truncate">{{ message.creator.name }}, {{ getMessageDateAsDuration(message.created_at) }}</small>
                </div>
              </div>
            </div>
          </div>

          <div class="dropleft message-menu" v-if="isCreator(message)">
            <a class="dropdown-toggle"
               data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false"><i class="material-icons">more_vert</i></a>
            <div class="dropdown-menu">
              <a class="dropdown-item disabled" href="#" hidden>
                <small class="text-uppercase">Edit</small>
              </a>
              <a class="dropdown-item" @click="onMessageRemove(message)">
                <small class="text-uppercase color-danger">Remove</small>
              </a>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <p class="message-text"
                 :class="{ 'text-right': isCreator(message) }"
                 v-html="message.content"></p>
            </div>
          </div>
        </div>

        <div class="card message removed"
             :class="{
                'from-current': isCreator(message),
                'from-participant': !isCreator(message)
               }"
             v-else>
          <small class="color-white"
                 :class="{
                  'text-right': isCreator(message),
                  'text-left': !isCreator(message)
                 }">The message is removed
          </small>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'MessagingMessageList',

    props: ['auth', 'messages'],

    data() {
      return {
        isFormExpanded: false
      }
    },

    mounted() {
      window.Event.on('messagingConversationFormExpand', (expanded) => {
        this.isFormExpanded = expanded
      })
      window.Event.on('messagingMessageListScrollToBottom', () => {
        this.scrollToBottom()
      })
    },

    methods: {
      isCreator(message) {
        return +message.creator.id === +this.auth.id
      },

      getMessageDateAsDuration(date) {
        return moment(date).fromNow()
      },

      onMessageRemove(message) {
        this.$emit('messageRemove', message)
      },

      scrollToBottom() {
        if (this.$refs.messageList) {
          this.$refs.messageList.scrollTop = this.$refs.messageList.scrollHeight
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "../../../assets/styles/mixins";
  @import "../../../assets/styles/variables";

  .color-white {
    color: #ffffff;
  }

  .message-list {
    height: calc(100% - 98px);
    overflow-y: auto;

    &.form-expanded {
      height: calc(100% - 102px);
    }

    .message {
      border: none;
      margin: 5px 0;
      padding: 10px 16px;

      &.from-current {
        background: linear-gradient(60deg, #eee, #bdbdbd);
      }

      &.from-participant {
        background: linear-gradient(-60deg, #00bcd4, #2196f3);

        .message-info small,
        .message-text {
          color: #fff;

          &::-moz-selection {
            background-color: #fff !important;
            color: #2196f3 !important;
          }

          &::selection {
            background-color: #fff !important;
            color: #2196f3 !important;
          }
        }
      }

      .message-info {
        display: flex;
        padding: 0;

        .avatar-wrap {
          width: 25%;
        }

        .creation {
          width: 75%;
        }

        .avatar {
          width: 30px;
          height: 30px;
          background-color: #fff;
          border: 1px solid #fff;
          @include border-radius(50%);
        }

        small {
          opacity: 0.65;
        }
      }

      .message-menu {
        position: absolute;
        top: 12px;
        right: 4px;
        user-select: none;

        .dropdown-toggle {
          cursor: pointer;
          font-size: 1.5em;
          line-height: 0;
          color: #777;

          &:hover {
            color: #fff;
          }

          &:before {
            display: none;
          }
        }

        .dropdown-menu {
          .dropdown-item {
            cursor: pointer;
          }
        }
      }

      .message-text {
        margin: 1em 0;
      }
    }
  }
</style>
