<template>
    <div class="loader-wrap h-100">
      <div class="loader"></div>
    </div>
</template>

<script>
  export default {
    name: 'LoaderView'
  }
</script>

<style lang="scss" scoped>
  @import "../../../assets/styles/mixins";

  .loader-wrap {
    background-color: #ccc;

    .loader {
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform-translate(-50%, -50%);
    }
  }
</style>
